

$green: #98c538
$green-deep: #00B712
$green-light: #00E216

$brown: #492C1C
$brown-light: #CC8943
$brown-light2: #CEA968

$blue: #0081eb
$blue-dark: #0070C0
$blue-light: #82C6FF

$gray-dark: #444444
$gray: #e5e5e5
$gray-light: #f7f7f7