$red: #df2100

::-webkit-scrollbar
    width: 0px
    background: transparent

*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: sans-serif

body
    position: relative

.space
    width: 100%
    position: relative
    height: 80px

.order
    position: relative
    width: 100%
    max-width: 576px
    background: #000 url("../img/3b.jpg")
    background-size: cover
    margin: 0 auto 0 auto
    min-height: 100vh
    padding: 0

    &__step
        position: relative
        height: 100vh
        transition-duration: 0.7s
        overflow: hidden

        &--hide
            display: none
            // position: absolute
            // transform: translateX(-999px)

    &__top
        position: relative
        top: 0
        left: 0
        width: 100%
        height: 140px
        z-index: 99
        padding: 20px 0 0 0
        &--2
            height: 80px

    &__mid
        position: relative
        overflow-y: scroll
        width: 100%
        height: calc(100vh - 140px)
        padding: 0 10px
        &--2
            height: calc(100vh - 80px)

    &__back
        width: 60px
        height: 60px
        position: absolute
        left: 0px
        top: 0px
        background: url("../img/back.png") no-repeat
        background-size: 26px 26px
        background-position: 50% 50%
        transition-duration: 0.5s
        z-index: 199

        &:active
            transform: scale(0.7)

    &__head
        position: relative
        margin: 0 auto 20px auto
        font-size: 18px
        display: block
        color: #fff
        text-align: center

    &__separator
        width: 60%
        height: 1px
        position: relative
        background: #fff
        margin: 10px auto 10px auto

        &::after
            content: ""
            display: block
            position: absolute
            top: -9px
            left: -22px
            background: url("../img/scissors.png")
            background-size: cover
            width: 18px
            height: 18px
            @media ( min-width: 576px )
                width: 24px
                height: 24px
                top: -12px
                left: -32px
                
        &::before
            content: ""
            display: block
            position: absolute
            top: -9px
            right: -22px
            background: url("../img/scissors.png")
            background-size: cover
            transform: rotate(180deg)
            width: 18px
            height: 18px
            @media ( min-width: 576px )
                width: 24px
                height: 24px
                top: -12px
                right: -32px
                

    &__where
        position: relative
        margin: 15px auto
        color: #fff
        font-size: 26px
        text-align: center
        @media ( min-width: 576px )
            font-size: 200%

    &__wrap
        display: flex
        justify-content: center
        margin: 20px auto
        padding: 10px 0
        flex-wrap: wrap

        &--hide
            display: none

    &__next
        position: fixed
        bottom: 0
        width: 100%
        max-width: 576px
        margin: 0
        height: 100px
        background: #00000066
        display: flex
        justify-content: center
        align-items: center

    &__btn
        background: $red
        color: #fff
        width: 100%
        max-width: 300px
        height: 70px
        border-radius: 50px
        text-transform: uppercase
        font-size: 18px
        font-weight: 600
        letter-spacing: 1px
        box-shadow: 0 2px 0 #790000
        transition-duration: 0.3s
        display: flex
        justify-content: center
        align-items: center
        user-select: none
        padding: 0 50px
        position: relative

        &:active
            transform: scale(1.2)

        &::before
            content: ""
            position: absolute
            right: 20px
            top: 23px
            width: 24px
            height: 24px
            background: url("../img/arrow.png")
            background-size: cover