

*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: sans-serif

body
    position: relative
    background: #e2e2e2


.rations

    &__wrap
        position: relative
        max-width: 960px
        width: 100%
        display: flex
        flex-wrap: wrap
        padding: 20px 0
        margin: 70px auto
        @media ( max-width: 959px )
            justify-content: center

    &__card
        position: relative
        margin: 8px
        background: #fff
        border-radius: 6px
        width: 100%
        max-width: 464px
        height: 190px
        box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2)
        display: flex
        overflow: hidden
        @media ( max-width: 959px )
            max-width: 600px
        @media ( max-width: 479px )
            height: 163px

    &__img
        width: 190px
        height: 190px
        position: relative
        @media ( max-width: 479px )
            width: 110px
            height: 110px

    &__body
        padding: 16px
        position: relative
        height: 137px
        width: calc( 100% - 190px )
        @media ( max-width: 479px )
            height: 110px
            width: calc( 100% - 110px )

    &__bottom
        position: absolute
        padding: 8px 8px 8px 16px 
        height: 53px
        display: flex
        justify-content: space-between
        border-top: 1px solid #ddd
        bottom: 0
        right: 0
        width: calc( 100% - 190px )
        @media ( max-width: 479px )
            width: 100%

    &__title
        font-size: 18px
        font-family: "roboto", sans-serif
        text-transform: uppercase
        margin: 4px 0 8px 0
        @media ( max-width: 479px )
            font-size: 16px
        @media ( max-width: 379px )
            font-size: 15px

    &__cut
        overflow: hidden
        max-height: 36px

    &__text
        display: block
        font-size: 15px
        font-family: "roboto", sans-serif
        letter-spacing: 0.2px
        color: #999
        line-height: 18px
        position: relative
        @media ( max-width: 479px )
            font-size: 14px
        @media ( max-width: 479px )
            font-size: 13px

        // &--cut
        //     white-space: nowrap
        //     overflow: hidden
        //     text-overflow: ellipsis


    &__price
        font-weight: 500
        font-size: 14px
        line-height: 20px
        letter-spacing: 0.4px
        font-family: "roboto", sans-serif

    &__kkal
        font-size: 12px
        color: #aaa
        letter-spacing: 0.2px
        font-family: "roboto", sans-serif

    &__order
        font-size: 14px
        text-transform: uppercase
        display: flex
        text-align: center
        justify-content: center
        align-items: center
        padding: 8px
        color: #3dd8ab
        font-family: "roboto", sans-serif
        letter-spacing: 0.8px
        font-weight: 500
        transition-duration: 0.3s
        cursor: pointer
        text-decoration: none

        &:hover
            opacity: 0.5
            text-decoration: none
