* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  position: relative;
}

body {
  background: #3a3a43;
}

.calc {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  position: relative;
  background: #fff;
  width: 100vw;
  height: 100vh;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
}
.calc__step {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 0%;
  transition-duration: 0.3s;
  transform: scale(1);
  z-index: 9;
}
.calc__step--slide {
  transform: translateX(50%);
}
.calc__step--hide {
  opacity: 0;
  position: absolute;
  transform: scale(0);
  z-index: 1;
}
.calc__step--pass {
  transition-duration: 0.4s;
  z-index: 229;
  padding: 0;
  background: #fff;
}
.calc__step--logo {
  background: #fff;
  z-index: 629;
  padding: 0;
  background: #fff;
  transition-duration: 0;
}
.calc__step--login {
  z-index: 429;
  padding: 4% 2%;
  background: #fff;
  justify-content: flex-end;
}
.calc__step--forget {
  z-index: 409;
  padding: 4% 2%;
  background: #fff;
  justify-content: flex-end;
}
.calc__step--words {
  z-index: 509;
  padding: 4% 2%;
  background: #fff;
}
.calc__logo {
  width: 40%;
}
.calc__block {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.calc__block--2 {
  display: none;
}
.calc__block--3 {
  display: none;
}
.calc__words {
  width: 240px;
  font-weight: 700;
  font-size: 24px;
  margin: 11px auto;
  text-shadow: 0 0 1px rgb(0, 0, 0);
}
.calc__words--1 {
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
}
.calc__words--2 {
  width: 234px;
  text-transform: uppercase;
  font-size: 20px;
}
.calc__words--3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
}
.calc__words--4 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
}
.calc__words--5 {
  width: 90%;
}
.calc__words--6 {
  font-size: 40px;
  text-transform: uppercase;
}
.calc__words--7 {
  font-size: 40px;
  width: 140px;
}
.calc__words--8 {
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
}
.calc__words--9 {
  width: 234px;
  text-transform: uppercase;
  font-size: 20px;
}
.calc__words--10 {
  width: 250px;
  font-size: 18px;
  margin: 11px 0 11px auto;
  text-transform: uppercase;
}
.calc__words--11 {
  font-size: 40px;
  text-transform: uppercase;
  width: 90%;
}
.calc__words--12 {
  font-size: 40px;
  text-transform: uppercase;
  width: 300px;
  margin: 11px 0 11px auto;
}
.calc__words--13 {
  text-align: center;
  font-size: 32px;
  text-align: right;
}
.calc__words--14 {
  text-align: right;
  width: 280px;
  font-size: 30px;
  text-transform: uppercase;
  margin: 11px auto 11px 0;
}
.calc__words--15 {
  width: 120px;
}
.calc__words--17 {
  margin: 11px auto 11px 0;
  text-transform: uppercase;
  font-size: 26px;
  width: 260px;
}
.calc__words--18 {
  text-transform: uppercase;
  font-size: 20px;
}
.calc__words--19 {
  text-transform: uppercase;
  margin: 11px 0 11px auto;
  width: 150px;
}
.calc__words--20 {
  text-transform: uppercase;
  margin: 11px 0 11px auto;
  width: 250px;
}
.calc__words--21 {
  text-transform: uppercase;
  margin: 11px 0 11px auto;
  width: 300px;
  font-size: 28px;
}
.calc__blink {
  -webkit-animation: blink 1.5s infinite;
          animation: blink 1.5s infinite;
  position: absolute;
  bottom: 15px;
  font-size: 14px;
}
.calc__head {
  font-size: 28px;
  font-weight: 900;
  color: #4A3A51;
  text-transform: uppercase;
  margin: 0 auto;
  max-width: 250px;
  text-align: center;
  line-height: 1.2;
  opacity: 0;
}
.calc__purple {
  font-size: 28px;
  width: 100%;
  margin: 0 0 30px 0;
  font-weight: 900;
  text-transform: uppercase;
  background-image: linear-gradient(to left, #b60061, #ac26ea);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.calc__box {
  width: 100%;
  border-radius: 15px;
  height: 80px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  box-shadow: 0 5px 15px 3px rgba(0, 0, 0, 0.3);
  margin: 0 0 20px 0;
}
.calc__svg {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px 0 0;
  color: #aaa;
}
.calc__mark {
  top: 8px;
  left: 80px;
  position: absolute;
  font-size: 11px;
}
.calc__input {
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
}
.calc__button {
  background: #C940DF;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 5px 15px 3px rgba(0, 0, 0, 0.3);
  margin: 0 0 30px 0;
  font-weight: 600;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  will-change: transform;
  transition-duration: 0.2s;
  cursor: pointer;
}
.calc__button:active {
  opacity: 0.6;
  transform: scale(0.9);
}
.calc__forget {
  font-size: 14px;
  font-weight: 600;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  will-change: transform;
  transition-duration: 0.2s;
  cursor: pointer;
}
.calc__forget:active {
  opacity: 0.6;
  transform: scale(0.9);
}
.calc__title {
  font-size: 18px;
}
.calc__password {
  font-size: 36px;
  text-align: center;
  letter-spacing: 7px;
  width: 94%;
  border: 1px solid #ccc;
  color: #111;
  font-weight: 900;
  border-radius: 10px;
  background: #efefef;
  line-height: 1;
  height: 52px;
  margin: 20px 0;
}
.calc__numbers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 240px;
  margin: 10px 0 0 0;
}
.calc__digit {
  width: 33.33%;
  height: 50px;
  font-weight: 600;
  font-size: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform;
  transition-duration: 0.2s;
}
.calc__digit:active {
  opacity: 0.6;
  transform: scale(0.9);
}
.calc__del {
  width: 22px;
  height: 20px;
  position: relative;
  font-size: 24px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  color: #fff;
  border-radius: 2px;
  z-index: 9;
}
.calc__del::before {
  content: "";
  position: absolute;
  background: #111;
  width: 14px;
  height: 14px;
  margin: 0 0 0 -19px;
  z-index: -1;
  border-radius: 1px;
  transform: rotate(45deg);
}
.calc__header {
  height: 50px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background: #eee;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.15);
  padding: 5px 2%;
}
.calc__footer {
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  background: #eee;
  box-shadow: 0 -8px 15px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 2%;
}
.calc__slide {
  width: 60px;
  height: 40px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  will-change: transform;
  transition-duration: 0.2s;
}
.calc__slide:active {
  opacity: 0.6;
  transform: scale(0.9);
}
.calc__link {
  width: 60px;
  height: 40px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  will-change: transform;
  transition-duration: 0.2s;
}
.calc__link:active {
  opacity: 0.6;
  transform: scale(0.9);
}
.calc__icon {
  width: 20px;
  height: 20px;
  margin: 0 0 5px 0;
}
.calc__icon svg {
  position: relative;
  width: 100%;
  height: 100%;
}
.calc__icon--active span {
  color: #B60CBA !important;
}
.calc__icon--active + .calc__name {
  color: #B60CBA !important;
}
.calc__name {
  text-align: center;
  line-height: 1;
}
.calc__black {
  z-index: 139;
  background: #000;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.calc__black--show {
  display: block;
}
.calc__menu {
  z-index: 199;
  position: absolute;
  width: 50%;
  background: #B60CBA;
  height: 100%;
  transform: translateX(-140%);
  transition-duration: 0.3s;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 100px 0;
}
.calc__menu--slide {
  transform: translateX(0);
}
.calc__list {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 0 2%;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.test {
  width: 100%;
  height: 200px;
  background: #006eff;
  margin: 0 0 30px 0;
}

.menu {
  padding: 10px 10px;
}
.menu__dark {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  will-change: transform;
  transition-duration: 0.2s;
}
.menu__dark:active {
  opacity: 0.6;
  transform: scale(0.9);
}
.menu__dark span {
  font-size: 30px;
  color: #fff;
}
.menu__avatar {
  width: 100px;
  height: 100px;
  background: #fff;
  display: block;
  border-radius: 100px;
  margin: 0 0 20px 0;
}
.menu__name {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}
.menu__list {
  margin: 50px 0 30px 0;
  border-bottom: 1px solid rgba(170, 170, 170, 0.2666666667);
}
.menu__link {
  color: #fff;
  margin: 0 0 30px 0;
  display: flex;
  font-size: 14px;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  will-change: transform;
  transition-duration: 0.2s;
}
.menu__link:active {
  opacity: 0.6;
  transform: scale(0.9);
}
.menu__icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
  font-weight: 300;
  font-size: 22px;
  fill: #fff;
}
.menu__icon svg {
  position: relative;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  font-weight: 600;
  justify-content: space-between;
}
.header__dots {
  will-change: transform;
  transition-duration: 0.2s;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.header__dots:active {
  opacity: 0.6;
  transform: scale(0.9);
}
.header__dots span {
  color: #aaa;
}
.header__window {
  position: absolute;
  width: 190px;
  height: 170px;
  background: #fff;
  z-index: 199;
  right: 10px;
  top: 10px;
  border-radius: 4px;
  box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}
.header__window--show {
  display: flex;
}
.header__link {
  font-size: 14px;
  display: block;
  text-decoration: none;
  color: #000;
  margin: 10px 0;
  font-weight: 400;
  will-change: transform;
  transition-duration: 0.2s;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.header__link:active {
  opacity: 0.6;
  transform: scale(0.9);
}
.header__link span {
  color: #aaa;
}
.header__remind {
  display: none;
  position: absolute;
  right: 50px;
  cursor: pointer;
  will-change: transform;
  transition-duration: 0.2s;
}
.header__remind--show {
  display: block;
}
.header__remind:active {
  opacity: 0.6;
  transform: scale(0.9);
}
.header__remind span {
  color: #D5A0EE;
}

.news__card {
  width: 100%;
  margin: 0 0 20px 0;
}
.news__img {
  display: block;
  background: #c4d4d3;
  width: 100%;
  height: 280px;
  border-radius: 20px;
}
.news__bottom {
  margin: 5px 0 0 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.news__title {
  margin: 5px 0 0 0;
  font-size: 14px;
  font-weight: 600;
}
.news__stats {
  font-size: 12px;
}
.news__date {
  font-size: 12px;
}
.news__btn {
  width: 32px;
  height: 32px;
  border-radius: 30px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 29;
  will-change: transform;
  transition-duration: 0.2s;
}
.news__btn:active {
  opacity: 0.6;
  transform: scale(0.9);
}
.news__btn svg {
  width: 40%;
  height: 40%;
  fill: #777;
}
.news__btn--like {
  top: 230px;
  left: 20px;
}
.news__btn--bookmark {
  top: 230px;
  left: 60px;
}
.news__btn--share {
  top: 230px;
  right: 20px;
}
.news__baloon {
  font-size: 16px;
  position: absolute;
  right: 13%;
  bottom: 100px;
  width: 90%;
  max-width: 270px;
  border: 2px solid #222;
  padding: 10px 10px 25px 10px;
  border-radius: 14px 14px 0px 14px;
  transition-duration: 0.3;
  background: #fff;
}
.news__baloon::before {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 0 0 7px 0;
  right: -17px;
  bottom: -22px;
  transform: rotate(45deg);
  border-right: 2px solid #222;
  border-bottom: 2px solid #222;
}
.news__baloon::after {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 60px;
  background: #fff;
  right: -32px;
  bottom: -24px;
  border-left: 2px solid #222;
}
.news__baloon--hide {
  transform: scale(0);
  opacity: 0;
}
.news__link {
  display: block;
  font-size: 14px;
  margin: 15px 0 0 0;
}

.sales__card {
  width: 100%;
  height: 160px;
  margin: 0 0 20px 0;
  border-radius: 20px;
  box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border: 1px solid #eee;
}
.sales__img {
  display: block;
  border-radius: 14px;
  height: 100px;
  background: #7bcd8e;
}
.sales__title {
  font-size: 15px;
  font-weight: 600;
  margin: 10px 0 0 0;
  text-align: center;
}

.partner__wrap {
  padding: 0 2%;
  width: 100%;
  height: 100%;
}
.partner__img {
  width: 100%;
  height: 120px;
  border-radius: 14px;
  background: #7bcd8e;
  margin: 0 0 20px 0;
}
.partner__title {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: 0 0 10px 0;
}
.partner__text {
  font-size: 15px;
  text-align: center;
}
.partner__code {
  position: absolute;
  width: 100%;
  bottom: -10px;
  left: 0;
  height: 40%;
  max-height: 250px;
  min-height: 120px;
  box-shadow: 0 -8px 15px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

.politic__title {
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0 20px 0;
}
.politic__text {
  margin: 10px 0 0 0;
  text-align: justify;
}

.pay__card {
  width: 100%;
  height: 100px;
  margin: 0 0 20px 0;
  border-radius: 20px;
  box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.1);
  padding: 15px 25px;
  border: 1px solid #eee;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: space-between;
}
.pay__title {
  font-size: 15px;
}
.pay__icon {
  width: 40px;
  height: 40px;
  background: #eee;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px 0 0;
  padding: 0 0 0 2px;
}
.pay__icon svg {
  height: 50%;
  width: 50%;
  fill: #0000ee;
}
.pay__arrow {
  width: 40px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pay__arrow svg {
  height: 50%;
  width: 50%;
  fill: #ccc;
}
.pay__input {
  text-align: center;
  font-size: 15px;
  color: #0000ee;
  border: none;
  outline: none;
}

.form__wrap {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 0 2%;
}
.form__title {
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0 5px 0;
}
.form__text {
  font-size: 14px;
}
.form__body {
  margin: 20px 0 0 0;
  width: 100%;
}
.form__input {
  border-radius: 6px;
  height: 44px;
  padding: 0 10px;
  margin: 0 0 10px 0;
  font-size: 14px;
  border: 1px solid #aaa;
  width: 100%;
}
.form__area {
  width: 100%;
  border-radius: 6px;
  padding: 10px;
  height: 100px;
  margin: 0 0 10px 0;
  border: 1px solid #aaa;
}
.form__note {
  font-size: 13px;
}
.form__file {
  display: none;
}
.form__label {
  margin: 10px 0 0 0;
  height: 100px;
  padding: 0px 10px;
  width: 100%;
  border-radius: 6px;
  display: block;
  border: 1px solid #aaa;
}
.form__icon {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
}
.form__icon svg {
  width: 100%;
  height: 100%;
  fill: #aaa;
}
.form__attachment {
  position: absolute;
  bottom: 10px;
}
.form__submit {
  width: 100%;
  margin: 10px 0 0 0;
  height: 44px;
  border-radius: 6px;
  font-size: 16px;
  text-transform: uppercase;
  background: #6bab36;
  border: none;
  color: #fff;
  will-change: transform;
  transition-duration: 0.2s;
}
.form__submit:active {
  opacity: 0.6;
  transform: scale(0.9);
}
.form__checkbox {
  width: 16px;
  height: 16px;
  margin: 0 5px 0 0;
}
.form__agree {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 10px auto 0 auto;
}

.stats__choice {
  margin: 0 auto 20px auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
.stats__radio {
  display: none;
}
.stats__radio:checked + .stats__label {
  border-bottom: 2px solid #c200ee;
  color: #c200ee;
}
.stats__label {
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px 5px;
  margin: 0 5px;
  color: #aaa;
  font-weight: 600;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.stats__date {
  font-size: 14px;
  text-align: center;
  margin: 0 0 20px 0;
}
.stats__card {
  width: 100%;
  height: 100px;
  margin: 0 0 20px 0;
  border-radius: 20px;
  box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.1);
  padding: 15px 25px;
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  justify-content: center;
}
.stats__value {
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0 0 0;
}
.top__card {
  width: 100%;
  height: 60px;
  margin: 0 0 20px 0;
  border-radius: 8px;
  box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.1);
  padding: 15px 25px;
  border: 1px solid #eee;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: space-between;
}
.top__title {
  font-size: 15px;
  display: inline-block;
}
.top__number {
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  margin: 0 10px 0 0;
}
.top__value {
  font-size: 20px;
  font-weight: 600;
}

.remind {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.remind--show {
  display: flex;
}
.remind__black {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4666666667);
}
.remind__window {
  background: #fff;
  width: 98%;
  max-width: 500px;
  border-radius: 10px;
  padding: 20px 10px;
}
.remind__title {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 20px 0;
  text-align: center;
}
.remind__text {
  font-size: 15px;
  text-align: center;
  max-width: 400px;
  margin: 0 auto 10px auto;
}
.remind__btn {
  margin: 10px auto;
  width: 90%;
  background: #B60CBA;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  will-change: transform;
  transition-duration: 0.2s;
}
.remind__btn:active {
  opacity: 0.6;
  transform: scale(0.9);
}

.slider {
  width: 100%;
  display: flex;
  justify-content: center;
}
.slider__fade {
  background: #fff;
  z-index: 1;
  opacity: 0.7;
  width: 100%;
  position: absolute;
  height: 50px;
  display: flex;
  justify-content: center;
}
.slider__fade--top {
  top: 10px;
}
.slider__fade--bot {
  bottom: 10px;
}
.slider__fade--cent {
  background: transparent;
  top: 50%;
  margin: -25px 0 0 0;
}
.slider__border {
  width: 48px;
  margin: 0 5px;
  height: 100%;
  border-bottom: 2px solid #111;
  border-top: 2px solid #111;
}
.slider__body {
  width: 60px;
}
.slider__card {
  padding: 10px 5px;
}
.slider__digit {
  width: 30px;
  height: 30px;
  color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 15px;
}

.dark-text {
  color: #fff;
}
.dark-bg--light {
  background: #555;
}
.dark-bg {
  background: #444;
}
.dark-svg svg {
  fill: #fff;
}
.dark-svg span {
  color: #fff;
}
.dark-svg div {
  color: #fff;
}
.dark-baloon {
  color: #fff;
  background: #444;
}
.dark-baloon::before {
  background: #444;
}
.dark-baloon::after {
  background: #444;
}/*# sourceMappingURL=main.css.map */