



.color
    position: relative
    padding: 40px 0 110px 0

    &__body
        width: 100%
        box-shadow: 5px 9px 70px rgba(33, 33, 33, 0.1)
        border-radius: 10px
        background-color: #ffffff
        padding: 20px 30px 40px 30px
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        min-height: 500px
        margin: 0 0 40px 0


    &__plate
        margin: 20px 5px

    &__block
        width: 200px
        height: 200px
        border-radius: 5px
        border: 1px solid #f2f2f2
        margin: 0 0 10px 0

        &--D9D6D8
            background: #D9D6D8
        &--E8EAEE
            background: #E8EAEE
        &--E9AA22
            background: #E9AA22
        &--FAA71A
            background: #FAA71A
        &--FFC808
            background: #FFC808
        &--F4CC13
            background: #F4CC13
        &--F2E010
            background: #F2E010
        &--630716
            background: #630716
        &--781214
            background: #781214
        &--971B1E
            background: #971B1E
        &--B42024
            background: #B42024
        &--CC2027
            background: #CC2027
        &--D83427
            background: #D83427
        &--E04926
            background: #E04926
        &--EF6923
            background: #EF6923
        &--F37121
            background: #F37121
        &--402A72
            background: #402A72
        &--E9AA22
            background: #E9AA22
        &--7960A2
            background: #7960A2
        &--BA95BD
            background: #BA95BD
        &--CA2A69
            background: #CA2A69
        &--F389B7
            background: #F389B7
        &--111D38
            background: #111D38
        &--0E1339
            background: #0E1339
        &--1C315E
            background: #1C315E
        &--242B65
            background: #242B65
        &--283474
            background: #283474
        &--21419A
            background: #21419A
        &--203D76
            background: #203D76
        &--1D458B
            background: #1D458B


    &__title
        font-size: 15px
        color: $black
        font-family: "Roboto Mono", sans-serif
        text-align: center
        font-weight: 500