

.articles
    position: relative
    padding: 0 0 100px 0

    &__block
        width: 100%
        position: relative
        min-height: 350px
        box-shadow: 3px 4px 25px rgba(33, 33, 33, 0.1)
        border-radius: 10px
        background-color: #ffffff
        padding: 20px
        margin: 10px 0 30px 0
        display: flex

    &__img
        width: 310px
        height: 310px
        margin: 0 35px 0 0
        background: #888
        border-radius: 10px

    &__content
        display: flex
        flex-direction: column
        justify-content: center

    &__date
        background: $black
        width: 100px
        height: 36px
        display: flex
        justify-content: center
        align-items: center
        color: #fff
        top: 30px
        left: 0
        border-radius: 5px
        font-family: "Roboto Mono", sans-serif
        font-size: 12px
        box-shadow: 3px 4px 25px rgba(33, 33, 33, 0.1)
        margin: 0 0 15px 0

    &__title
        font-size: 23px
        color: $black
        font-weight: 900
        font-family: "Roboto Mono", sans-serif
        text-transform: uppercase
        margin: 0 0 15px 0

    &__text
        font-size: 15px
        color: $gray2

    &__go
        margin: 20px 0 0 0
        border-radius: 5px
        position: relative
        width: 90px
        height: 46px
        font-weight: 600
        color: $black
        display: flex
        justify-content: center
        align-items: center
        transition-duration: 0.3s
        text-decoration: none
        color: $black
        cursor: pointer

        // &::before
        //     content: ""
        //     display: block
        //     border-top: 3px solid #444
        //     border-right: 3px solid #444
        //     width: 15px
        //     height: 15px
        //     transform: rotate(45deg)
        //     border-radius: 2px
        //     position: absolute
        //     top: 15px
        //     left: 12px

        &::before
            content: ""
            display: block
            background: $orange1 url("../img/icons/arrow.png") no-repeat
            background-size: 20px 20px
            background-position: 50% 50%
            width: 46px
            height: 46px
            position: absolute
            left: 0
            border-radius: 5px

        &::after
            content: ""
            display: none
            font-size: 15px
            color: transparent

        &:hover
            width: 200px
            height: 46px
            padding: 0 10px 0 46px
            text-decoration: none
            color: $black
            background: $orange2

            &::after
                content: "Читать далее"
                display: block
                text-decoration: none
                color: $black
                white-space: nowrap
