


.cases
    position: relative
    padding: 40px 0 100px 0

    &__block
        position: relative
        width: 100%
        height: 340px
        background: $gradient1
        margin: 15px auto
        overflow: hidden
        border-radius: 10px
        display: block
        transition-duration: 0.3s

        &:hover
            opacity: 0.8

        &:active
            opacity: 0.2
