


.home

    &__dots
        position: absolute

        &--1
            left: 50%
            top: 160px
            margin: 0 0 0 -80px

        &--2
            top: 400px
            left: -30px

        &--3
            top: -50px
            left: 70%

        &--4
            top: 110px
            right: -30px

    &__buble
        position: absolute

        &--1
            top: 300px
            left: -100px

        &--2
            top: 24%
            left: 50%
            margin: 0 0 0 -900px

        &--3
            top: 46%
            right: -150px

        &--4
            left: 50%
            margin: 0 0 0 -740px
            top: 0

    &__art
        position: absolute
        z-index: 29

        &--1
            top: -80px
            right: 100px

    &__shape
        position: absolute

        &--1
            top: 0
            left: 50%
            margin: 0 0 0 -900px


.production

    &__dots
        position: absolute

        &--1
            top: 400px
            left: -30px

        &--2
            top: 220px
            right: 150px

        &--3
            right: -80px
            top: 250px

    &__buble
        position: absolute

        &--1
            top: 300px
            left: -100px

        &--2
            top: -380px
            right: -170px

        &--3
            top: -120px
            right: 180px

        &--4
            right: -30px
            top: 100px


.contacts

    &__buble
        position: absolute

        &--1
            top: 300px
            left: -300px

        &--2
            top: 750px
            right: -450px

    &__dots
        position: absolute

        &--1
            top: 630px
            right: -120px

.products

    &__buble
        position: absolute

        &--1
            top: -30px
            left: 50%
            margin: 0 0 0 -480px

.viveski

    &__dots
        position: absolute

        &--1
            top: 900px
            left: -30px

    &__buble
        position: absolute

        &--1
            top: 800px
            left: -100px