
.fst-screen
    position: relative
    margin: 65px 0 0 0

    &__img
        // background: url("../img/main.png") no-repeat
        // background-size: cover
        width: 1010px
        height: 754px
        position: absolute
        top: -200px
        right: -220px
        z-index: -1

        img
            width: 100%

    &__header
        margin: 0 0 85px 0
        text-align: left
        max-width: 800px
        text-shadow: 0 10px 50px rgba(255, 255, 255, 1), 0 10px 50px rgba(255, 255, 255, 1), 0 10px 50px rgba(255, 255, 255, 1), 0 10px 50px rgba(255, 255, 255, 1), 0 10px 50px rgba(255, 255, 255, 1)

    &__goods
        font-size: 25px
        margin: 0 0 25px 45px
        line-height: 1.2

        &::before
            content: ""
            position: absolute
            display: block
            width: 28px
            height: 28px
            background: url("../img/icons/check.png") no-repeat
            margin: -2px 0 0 -40px

    &__btn
        margin: 70px 0 70px 0

    &__offer
        padding: 18px 0
        font-size: 25px
        line-height: 1.1
        margin: 70px 0 70px 0


@media ( max-width: 1050px )
    .fst-screen

        &__header
            text-align: center
            margin: 0 auto 60% auto

        &__img
            width: 100vw
            height: 100%
            left: 0
            top: 7%


@media ( max-width: 767px )
    .fst-screen

        &-special-1
            justify-content: center

        &__goods
            margin: 0 0 25px 45px
            font-size: 22px

        &__btn
            margin: 20px 0

        &__offer
            text-align: center
            margin: 10px 0


@media ( max-width: 687px )
    .fst-screen

        &__header
            text-align: center
            margin: 0 auto 60% auto

        &__img
            width: 100vw
            height: 100%
            left: 0
            top: 12%

@media ( max-width: 479px )
    .fst-screen
        margin: 40px 0 0 0

        &__img
            width: 100vw
            height: 100%
            left: 0
            top: 5%

        &__goods
            margin: 0 0px 25px 30px
            font-size: 20px

        &__offer
            font-size: 22px