

.header
    position: fixed
    width: 100%
    height: 100px
    background: #fff
    border-bottom: 8px solid #dadada
    z-index: 199
    top: 0

    &__wrap
        position: relative
        width: 100%
        height: 100%
        max-width: 1478px
        padding: 0 15px
        display: flex
        align-items: center
        margin: 0 auto
        @media ( max-width: 1478px )
            justify-content: space-between
            

    &__logo
        position: relative
        width: 450px
        @media ( max-width: 1478px )
            width: 250px
        @media ( max-width: 650px )
            width: 210px
        @media ( max-width: 520px )
            width: 170px
        @media ( max-width: 430px )
            display: none

    &__smalllogo
        position: relative
        display: none
        @media ( max-width: 430px )
            display: block
            width: 60px
            height: 60px

    &__menu
        display: flex
        justify-content: space-between
        margin: 0 5px
        @media ( max-width: 1300px )
            display: none

    &__link
        font-family: "Play", sans-serif
        padding: 14px 24px
        font-size: 17px
        font-weight: 900
        display: block
        text-decoration: none
        color: #000000
        text-align: center
        transition-duration: 0.2s
        @media ( max-width: 1478px )
            font-size: 15px

        &--mid
            border-left: 3px solid #b3b4b8
            border-right: 3px solid #b3b4b8
            @media ( max-width: 1478px )
                border-left: 2px solid #b3b4b8
                border-right: 2px solid #b3b4b8

        &:hover
            color: #ff0000

    &__btn
        width: 180px
        height: 40px
        display: flex
        align-items: center
        justify-content: center
        text-transform: uppercase
        font-family: "Play", sans-serif
        font-size: 15px
        color: #fff
        font-weight: 900
        background: #ff0000
        transition-duration: 0.2s
        cursor: pointer
        @media ( max-width: 850px )
            display: none

        &:hover
            transform: translateY(-5px)
            opacity: 0.5

    &__contact
        padding: 0 20px
        display: flex
        flex-direction: column
        align-items: center
        cursor: pointer
        @media ( max-width: 650px )
            width: 300px
        @media ( max-width: 520px )
            width: 250px

    &__phone
        @media ( max-width: 650px )
            width: 100%

    &__note
        font-family: "Play", sans-serif
        font-size: 14px
        font-weight: 900
        margin: 4px 0 0 0
        @media ( max-width: 650px )
            text-align: center
        @media ( max-width: 520px )
            font-size: 13px