body * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.room {
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.room__img-main {
	position: relative;
}
.room__img-locker {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.room__img-locker--active {
	opacity: 1;
}
.room__hover-locker {
	position: absolute;
	background: transparent;
	width: 15%;
	height: 35%;
	top: 18%;
	left: 31%;
}
.room__hover-locker__point {
	position: absolute;
	width: 30px;
	height: 30px;
	border: 8px solid #66f;
	background: #fff;
	top: 15%;
	left: 23%;
	cursor: pointer;
	border-radius: 50px;
	line-height: 13px;
	text-align: center;
	color: #fff;
	box-shadow: 0 0 10px 2px rgba(0,0,0,0.5);
	opacity: 0;
	transition-duration: 0.3s;
}
.room__hover-locker__point:hover {
	border: 4px solid #fff;
	background: #66f;
}
.room__popup-locker {
	width: 50%;
	height: 50%;
	background: #fff url("../img/locker_big.jpg");
	background-size: 100% auto;
	position: absolute;
	top: 15%;
	left: 20%;
	border-radius: 30px;
	box-shadow: 0 5px 30px 10px rgba(0,0,0,0.3);
	display: none;
	z-index: 3;
	overflow: hidden;
}
.room__popup-locker__flex__note{
	width: 100%;
	height: 35%;
	top: 65%;
	background: linear-gradient(90deg, rgba(238,207,186,0.98), rgba(197,221,232,0.98));
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}
.room__popup-locker__flex__copter {
	cursor: pointer;
	background: transparent;
	width: 140px;
	height: 70px;
	position: absolute;
	left: 37%;
	top: 29%;
}
.room__popup-locker__flex {
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-end;
}
.room__popup-locker__flex__title {
	font-size: 28px;
	color: #111;
	font-weight: 600;
	margin: 0 0 10px 0;
}
.room__popup-locker__flex__text {
	font-size: 20px;
	color: #444;
	font-weight: 400;
	margin: 0 0 0px 0;
}
.room__popup-locker__flex__price {
	font-size: 20px;
	color: #444;
	font-weight: 400;
	margin: 0 0 45px 0;
}
.room__dark-matter {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.7;
	display: none;
	z-index: 1;
}
.room__close-locker {
	cursor: pointer;
	position: absolute;
	width: 100px;
	height: 100px;
	color: #fff;
	font-size: 140px;
	top: 3%;
	left: 50%;
	margin: 0 0 0 -50px;
	font-weight: 100;
	transition-duration: 0.3s;
	display: none;
	z-index: 2;
	text-align: center;
	line-height: 65px;
}
.room__close-locker:hover {
	transform: rotate(180deg);
}