

.calc5
    width: 870px
    margin: 100px auto
    padding: 0 30px

    input
        width: 200px

    &__btn
        background: #7774a0
        width: 200px
        height: 42px
        display: flex
        align-items: center
        justify-content: center
        color: #fff
        margin: 30px 0
        cursor: pointer

    &__table,
    &__row
        position: relative
        display: flex
        width: 100%

    &__block
        position: relative
        width: 27%

        &--small
            width: 19%

    &__cell
        padding: 10px
        border-bottom: 1px solid #ccc