


.gallery
    padding: 100px 0

    &__flex
        display: flex
        flex-wrap: wrap
        justify-content: center

    &__pict
        margin: 10px
        width: 200px
        height: 200px
        background: #eeeeee
        cursor: pointer
        transition-duration: 0.2s

        &:hover
            transform: scale(1.1,1.1)
