
$yellow1: #FDCD00
$yellow2: #FDFF9C
$dark: #1D323F
$gray: #F5F5F5

$shadow: 0 15px 38px 1.6px rgba(0,0,0,0.1)


*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: "muller", sans-serif

body
    position: relative
    background: $gray

.calc
    width: 100%
    position: relative
    max-width: 1170px
    margin: 100px auto
    min-height: 500px
    @media ( max-width: 1100px )
        max-width: 800px


    &__head
        font-size: 32px
        font-weight: 700
        text-align: center
        text-transform: uppercase
        margin: 40px auto
        @media ( max-width: 500px )
            font-size: 26px
        @media ( max-width: 410px )
            font-size: 22px

    &__body
        overflow: hidden
        box-shadow: $shadow
        border-radius: 2px
        background: #fff
        position: relative
        width: 100%
        min-height: 500px
        padding: 80px 60px 10px 60px
        @media ( max-width: 1170px )
            padding: 80px 30px 10px 30px
        @media ( max-width: 1100px )
            padding: 80px 30px 30px 30px
        @media ( max-width: 500px )
            padding: 80px 20px 30px 20px

    &__row
        position: relative
        width: 100%
        display: flex
        justify-content: space-between
        margin: 0 0 60px 0
        @media ( max-width: 1100px )
            flex-wrap: wrap
            justify-content: center
            margin: 0

        &--bg
            padding: 40px 0 0 0
            &::before
                content: ""
                display: block
                position: absolute
                width: 200%
                height: 200%
                left: -50%
                top: 0
                background: #FFE67F

    &__block
        position: relative
        width: 50%
        max-width: 500px
        margin: 0 0 20px 0
        @media ( max-width: 1100px )
            width: 100%
            margin: 0 0 40px 0
        
        &--long
            width: 100%
            max-width: 1100px
            @media ( max-width: 1100px )
                max-width: 500px

    &__title
        position: relative
        width: 100%
        font-size: 20px
        font-weight: 700
        border-bottom: 1px solid #111
        padding: 0 0 10px 0
        margin: 0 0 15px 0
        @media ( max-width: 500px )
            font-size: 18px
        @media ( max-width: 410px )
            font-size: 16px

    &__variants
        position: relative
        display: flex
        @media ( max-width: 500px )
            flex-wrap: wrap
            justify-content: space-between

        &--emplo
            @media ( max-width: 500px )
                flex-wrap: wrap

        &--activity
            flex-wrap: wrap
            justify-content: space-between

    &__por
        position: relative

    &__select
        display: none

        &:checked + .calc__label
            border: 1px solid $yellow1
            background: $yellow1
            transform: translateY(-5px)
            box-shadow: 0 0 10px 3px rgba(253,207,0,0.9)

        &:checked + .calc__label::before
            //background: #fff
            border: 1px solid #555

        &:checked + .calc__label::after
            content: ""
            display: block
            width: 12px
            height: 12px
            background: #fff
            border: 1px solid #555
            position: absolute
            left: 12px
            border-radius: 20px
            margin: -5px 0 0 0


    &__label
        position: relative
        width: 160px
        height: 90px
        border: 1px dashed #111
        border-radius: 15px
        margin: 10px 0 10px 0
        display: flex
        flex-shrink: none
        //justify-content: center
        align-items: center
        //flex-direction: column
        font-size: 14px
        //text-align: center
        cursor: pointer
        transition-duration: 0.2s
        user-select: none
        letter-spacing: -0.5px
        padding: 3px 3px 3px 38px
        line-height: 1.2
        @media ( max-width: 560px )
            font-size: 13px
        @media ( max-width: 500px )
            height: 50px
            width: 100%
            margin: 5px 0

        &--fz12
            font-size: 12px

        &--small
            width: 92px
            @media ( max-width: 500px )
                width: 48%

        &--margin
            margin: 10px 10px 10px 0
            @media ( max-width: 500px )
                margin: 5px 0
                
        // &--radio
        //     display: inline-block
        //     width: 14px
        //     height: 14px
        //     border: 1px solid #111
        //     border-radius: 50px
        //     margin: 0 5px 0 0

        &::before
            content: ""
            display: block
            width: 18px
            height: 18px
            border: 1px solid #111
            position: absolute
            left: 9px
            border-radius: 20px
            margin: -4px 0 0 0


    &__radio
        display: none

        &:checked + .calc__activity
            //background: #fff
            //box-shadow: 0 0 10px 3px rgba(255,255,255,0.9)
            
        &:checked + .calc__activity::before
            border: 2px solid #fff
            background: #fff
            box-shadow: 0 0 10px 3px rgba(255,255,255,0.9)

        &:checked + .calc__activity::after
            content: ""
            display: block
            position: absolute
            width: 12px
            height: 12px
            left: 19px
            border-radius: 50px
            box-sizing: border-box
            z-index: 10
            background: #fff

    &__activity
        border-radius: 15px
        position: relative
        margin: 10px 0
        //background: #eee
        padding: 0 0 0 50px
        width: 100%
        max-width: 250px
        height: 80px
        display: flex
        align-items: center
        flex-shrink: 0
        cursor: pointer
        transition-duration: 0.2s
        line-height: 1.4
        font-size: 15px
        @media ( max-width: 560px )
            font-size: 13px
            max-width: 220px
            padding: 0 0 0 40px
        @media ( max-width: 500px )
            max-width: 500px
            width: 100%
            height: 30px
            padding: 0 0 0 50px

        &::before
            content: ""
            display: block
            width: 30px
            height: 30px
            //background: #fff
            position: absolute
            left: 10px
            border-radius: 50px
            border: 1px solid #111
            box-sizing: border-box
            z-index: 9
            @media ( max-width: 560px )
                left: 0
            @media ( max-width: 500px )
                left: 10px

        &--blank
            cursor: default
            @media ( max-width: 500px )
                display: none

            &::before
                display: none

    &__operations
        display: flex
        width: 100%
        position: relative
        margin: 0
        height: 80px
        align-items: center
        justify-content: space-between
        padding: 0 0 0 5px
        @media ( max-width: 500px )
            justify-content: center
            flex-wrap: wrap
            height: auto

    &__input
        width: 80px
        text-align: center
        height: 40px
        border-radius: 10px
        border: 1px solid #111111
        font-size: 18px
        outline: none
        background: transparent
        @media ( max-width: 500px )
            width: 120px
            margin: 0 0 20px 0
            display: block
            height: 50px

        &:focus
            border: 2px solid #fff
            background: #ffffff55

    &__slider
        max-width: 390px
        width: 100%
        @media ( max-width: 560px )
            max-width: 320px
        @media ( max-width: 500px )
            max-width: 500px
            margin: 0 0 50px 0
            padding: 0 5px 0 0

    &__scale
        position: absolute
        bottom: 0
        left: 0
        width: 400px
        display: flex
        justify-content: space-between
        user-select: none
        @media ( max-width: 560px )
            width: 330px
        @media ( max-width: 500px )
            width: 100%
            bottom: 80px

    &__display
        display: none

        &--show
            display: flex

    &__itogtext
        font-size: 24px
        font-weight: 700
        margin: 30px 0 0 0
        @media ( max-width: 420px )
            font-size: 20px

    &__price
        position: relative
        letter-spacing: 0.5px
        font-size: 20px
        margin: 0 5px 0 0
        @media ( max-width: 1110px )
            margin: 10px 5px 10px 0

        &--cross
            font-size: 18px
            display: inline-block
            padding: 0 5px
            color: #111
            margin: 0 5px
            &::before
                content: ""
                display: block
                width: 100%
                height: 1px
                position: absolute
                top: 55%
                left: 0
                background: #555
                z-index: 9
                margin: -2px 0 0 0

    &__result
        display: flex
        align-items: center
        margin: 20px 0 10px 0
        font-size: 22px
        @media ( max-width: 1110px )
            flex-wrap: wrap
        @media ( max-width: 420px )
            
            flex-direction: column

    &__pricesale
        letter-spacing: 0.5px
        margin: 0 20px 0 0
        font-size: 24px
        font-weight: 700
        @media ( max-width: 420px )
            margin: 15px 0 5px 0
            text-align: center

    &__sale
        padding: 0 10px
        background: #37B538
        color: #fff
        display: inline-flex
        align-items: center
        border-radius: 10px
        height: 40px
        font-size: 16px
        margin: 0 20px 0 0
        @media ( max-width: 480px )
            margin: 10px 0

        &--bold
            font-size: 22px
            font-weight: 700
            padding: 0 0 0 5px

    &__info
        display: none
        box-shadow: $shadow
        position: absolute
        background: #fff
        padding: 20px 20px
        border-radius: 15px
        font-size: 14px
        color: #111
        letter-spacing: 0.5px
        line-height: 1.3
        z-index: 29
        width: 420px
        top: 50%
        left: 50%
        height: 400px
        margin: -200px 0 0 -210px
        @media ( max-width: 420px )
            letter-spacing: 0
            width: 320px
            height: 500px
            margin: -250px 0 0 -160px

        &--title
            color: #000
            margin: 0 auto 20px auto
            max-width: 280px
            text-align: center
            font-weight: 700
            //padding: 0 0 0 15px

        &--close
            position: absolute
            top: 5px
            right: 15px
            color: #ff0000
            font-size: 30px
            cursor: pointer

            &:hover
                opacity: 0.6

        &--show
            display: block

    &__warn
        font-size: 12px
        letter-spacing: 0.5px
        color: #111
        margin: 10px 0 30px 0

        &--form
            margin: 20px 0 0 0

    &__line
        margin: 30px 0
        border-bottom: 1px solid #111
        width: 100%
        max-width: 600px

    &__descr
        font-size: 24px
        font-weight: 700
        max-width: 580px
        line-height: 1.2

        &--green
            color: #37B538

    &__form
        display: flex
        position: relative
        width: 100%
        margin: 30px 0
        @media ( max-width: 1110px )
            flex-wrap: wrap

    &__forminp
        height: 42px
        width: 32%
        max-width: 270px
        position: relative
        border: 1px solid #dddddd
        border-radius: 2px
        font-size: 16px
        padding: 0 10px
        margin: 0 20px 0 0
        @media ( max-width: 1110px )
            width: 100%
            max-width: 340px
            margin: 0 0 20px 0

    &__btn
        width: 32%
        max-width: 270px
        position: relative
        height: 42px
        display: flex
        justify-content: center
        align-items: center
        text-align: center
        background: #3D9FD0
        cursor: pointer
        border-radius: 2px
        font-size: 20px
        letter-spacing: 0.5px
        color: #fff
        transition-duration: 0.3s
        user-select: none
        @media ( max-width: 1110px )
            width: 100%
            max-width: 340px

        &:hover
            opacity: 0.8

        &:active
            opacity: 0.2

    &__hover
        display: flex
        align-items: center
        font-size: 14px
        cursor: pointer
        @media ( max-width: 1110px )
            margin: 20px 0

        &__text
            text-decoration: underline
            display: inline-block

            &:hover
                color: $yellow1

        &__mark
            width: 20px
            height: 20px
            padding: 3px 0 0 0
            font-size: 16px
            font-weight: 700
            line-height: 20px
            background: #fff
            border-radius: 30px
            text-decoration: none !important
            display: inline-flex
            align-items: center
            justify-content: center
            margin: 0 5px 0 0

    &__undertitle
        font-size: 12px
        color: #777






.ui-slider
    background: #ddd !important
    height: 2px !important
    border: none !important

.ui-slider-range
    background: $yellow1 !important

.ui-slider-handle
    border-radius: 50px !important
    background: $yellow1 !important
    border: none !important
    outline: none !important
    margin-top: -3px !important
    cursor: pointer !important
    box-shadow: 0 3px 10px 0px rgba(0,0,0,0.1)