
.test
    width: 100%
    height: 200px
    background: #006eff
    margin: 0 0 30px 0

.menu
    padding: 10px 10px

    &__dark
        position: absolute
        right: 10px
        top: 10px
        cursor: pointer
        user-select: none
        will-change: transform
        transition-duration: 0.2s
        &:active
            opacity: 0.6
            transform: scale(0.9)
        span
            font-size: 30px
            color: #fff

    &__avatar
        width: 100px
        height: 100px
        background: #fff
        display: block
        border-radius: 100px
        margin: 0 0 20px 0

    &__name
        color: #fff
        text-transform: uppercase
        font-size: 14px

    &__list
        margin: 50px 0 30px 0
        border-bottom: 1px solid #aaaaaa44

    &__link
        color: #fff
        margin: 0 0 30px 0
        display: flex
        font-size: 14px
        align-items: center
        user-select: none
        will-change: transform
        transition-duration: 0.2s
        &:active
            opacity: 0.6
            transform: scale(0.9)

    &__icon
        display: inline-flex
        justify-content: center
        align-items: center
        width: 20px
        height: 20px
        margin: 0 10px 0 0
        font-weight: 300
        font-size: 22px
        fill: #fff
        svg
            position: relative
            width: 100%
            height: 100%
        
.header
    display: flex
    align-items: center
    font-weight: 600
    justify-content: space-between

    &__dots
        will-change: transform
        transition-duration: 0.2s
        cursor: pointer
        user-select: none
        &:active
            opacity: 0.6
            transform: scale(0.9)
        span
            color: #aaa

    &__window
        position: absolute
        width: 190px
        height: 170px
        background: #fff
        z-index: 199
        right: 10px
        top: 10px
        border-radius: 4px
        box-shadow: 0 5px 5px 1px rgba(0,0,0,0.1)
        padding: 10px
        display: none
        flex-direction: column
        justify-content: space-between
        &--show
            display: flex

    &__link
        font-size: 14px
        display: block
        text-decoration: none
        color: #000
        margin: 10px 0
        font-weight: 400
        will-change: transform
        transition-duration: 0.2s
        cursor: pointer
        user-select: none
        &:active
            opacity: 0.6
            transform: scale(0.9)
        span
            color: #aaa

    &__remind
        display: none
        position: absolute
        right: 50px
        cursor: pointer
        will-change: transform
        transition-duration: 0.2s
        &--show
            display: block
        &:active
            opacity: 0.6
            transform: scale(0.9)
        span
            color: #D5A0EE


.news

    &__card
        width: 100%
        margin: 0 0 20px 0
        
    &__img
        display: block
        background: #c4d4d3
        width: 100%
        height: 280px
        border-radius: 20px

    &__bottom
        margin: 5px 0 0 0
        width: 100%
        display: flex
        justify-content: space-between
        align-items: flex-end

    &__title
        margin: 5px 0 0 0
        font-size: 14px
        font-weight: 600

    &__stats
        font-size: 12px

    &__date
        font-size: 12px

    &__btn
        width: 32px
        height: 32px
        border-radius: 30px
        background: #fff
        display: flex
        justify-content: center
        align-items: center
        box-shadow: 0 5px 15px 1px rgba(0,0,0,0.1)
        position: absolute
        z-index: 29
        will-change: transform
        transition-duration: 0.2s
        &:active
            opacity: 0.6
            transform: scale(0.9)
        svg
            width: 40%
            height: 40%
            fill: #777
        &--like
            top: 230px
            left: 20px
        &--bookmark
            top: 230px
            left: 60px
        &--share
            top: 230px
            right: 20px

    &__baloon
        font-size: 16px
        position: absolute
        right: 13%
        bottom: 100px
        width: 90%
        max-width: 270px
        border: 2px solid #222
        padding: 10px 10px 25px 10px
        border-radius: 14px 14px 0px 14px 
        transition-duration: 0.3
        background: #fff
        &::before
            content: ""
            display: block
            position: absolute
            width: 40px
            height: 40px
            background: #fff
            border-radius: 0 0 7px 0
            right: -17px
            bottom: -22px
            transform: rotate(45deg)
            border-right: 2px solid #222
            border-bottom: 2px solid #222
        &::after
            content: ""
            display: block
            position: absolute
            width: 30px
            height: 60px
            background: #fff
            right: -32px
            bottom: -24px
            border-left: 2px solid #222
            // border-bottom: 2px solid #222
        &--hide
            transform: scale(0)
            opacity: 0
            

    &__link
        display: block
        font-size: 14px
        margin: 15px 0 0 0 

.sales

    &__card
        width: 100%
        height: 160px
        margin: 0 0 20px 0
        border-radius: 20px
        box-shadow: 0 5px 15px 1px rgba(0,0,0,0.1)
        padding: 15px
        border: 1px solid #eee

    &__img
        display: block
        border-radius: 14px
        height: 100px
        background: #7bcd8e

    &__title
        font-size: 15px
        font-weight: 600
        margin: 10px 0 0 0
        text-align: center

.partner

    &__wrap
        padding: 0 2%
        width: 100%
        height: 100%

    &__img
        width: 100%
        height: 120px
        border-radius: 14px
        background: #7bcd8e
        margin: 0 0 20px 0

    &__title
        font-size: 16px
        font-weight: 600
        text-align: center
        margin: 0 0 10px 0

    &__text
        font-size: 15px
        text-align: center

    &__code
        position: absolute
        width: 100%
        bottom: -10px
        left: 0
        height: 40%
        max-height: 250px
        min-height: 120px
        box-shadow: 0 -8px 15px 0 rgba(0,0,0,0.15)
        display: flex
        justify-content: center
        align-items: center
        font-size: 30px
        font-weight: 600
        text-transform: uppercase

.politic

    &__title
        font-size: 16px
        font-weight: 600
        margin: 10px 0 20px 0

    &__text
        margin: 10px 0 0 0
        text-align: justify

.pay

    &__card
        width: 100%
        height: 100px
        margin: 0 0 20px 0
        border-radius: 20px
        box-shadow: 0 5px 15px 1px rgba(0,0,0,0.1)
        padding: 15px 25px
        border: 1px solid #eee
        display: flex
        align-items: center
        text-decoration: none
        justify-content: space-between

    &__title
        font-size: 15px
    
    &__icon
        width: 40px
        height: 40px
        background: #eee
        border-radius: 50px
        display: flex
        justify-content: center
        align-items: center
        margin: 0 20px 0 0
        padding: 0 0 0 2px
        svg
            height: 50%
            width: 50%
            fill: #0000ee

    &__arrow
        width: 40px
        height: 60px
        background: #fff
        display: flex
        justify-content: center
        align-items: center
        svg
            height: 50%
            width: 50%
            fill: #ccc

    &__input
        text-align: center
        font-size: 15px
        color: #0000ee
        border: none
        outline: none

.form

    &__wrap
        width: 100%
        height: 100%
        overflow: auto
        padding: 0 2%

    &__title
        font-size: 16px
        font-weight: 600
        margin: 10px 0 5px 0
        &--label


    &__text
        font-size: 14px
        &--label


    &__body
        margin: 20px 0 0 0
        width: 100%

    &__input
        border-radius: 6px
        height: 44px
        padding: 0 10px
        margin: 0 0 10px 0
        font-size: 14px
        border: 1px solid #aaa
        width: 100%

    &__area
        width: 100%
        border-radius: 6px
        padding: 10px
        height: 100px
        margin: 0 0 10px 0
        border: 1px solid #aaa

    &__note
        font-size: 13px

    &__file
        display: none

    &__label
        margin: 10px 0 0 0
        height: 100px
        padding: 0px 10px
        width: 100%
        border-radius: 6px
        display: block
        border: 1px solid #aaa

    &__icon
        position: absolute
        right: 10px
        top: 10px
        width: 40px
        height: 40px
        svg
            width: 100%
            height: 100%
            fill: #aaa

    &__attachment
        position: absolute
        bottom: 10px

    &__submit
        width: 100%
        margin: 10px 0 0 0
        height: 44px
        border-radius: 6px
        font-size: 16px
        text-transform: uppercase
        background: #6bab36
        border: none
        color: #fff
        will-change: transform
        transition-duration: 0.2s
        &:active
            opacity: 0.6
            transform: scale(0.9)

    &__checkbox
        width: 16px
        height: 16px
        margin: 0 5px 0 0

    &__agree
        font-size: 14px
        display: flex
        align-items: center
        justify-content: center
        user-select: none
        margin: 10px auto 0 auto

.stats

    &__choice
        margin: 0 auto 20px auto
        width: 100%
        display: flex
        justify-content: center

    &__radio
        display: none
        &:checked + .stats__label
            border-bottom: 2px solid #c200ee
            color: #c200ee

    &__label
        text-transform: uppercase
        font-size: 12px
        padding: 10px 5px
        margin: 0 5px
        color: #aaa
        font-weight: 600
        user-select: none

    &__screen

    &__date
        font-size: 14px
        text-align: center
        margin: 0 0 20px 0
        
    &__card
        width: 100%
        height: 100px
        margin: 0 0 20px 0
        border-radius: 20px
        box-shadow: 0 5px 15px 1px rgba(0,0,0,0.1)
        padding: 15px 25px
        border: 1px solid #eee
        display: flex
        flex-direction: column
        align-items: flex-start
        text-decoration: none
        justify-content: center

    &__value
        font-weight: 600
        font-size: 18px
        margin: 10px 0 0 0

    &__title


.top

    &__card
        width: 100%
        height: 60px
        margin: 0 0 20px 0
        border-radius: 8px
        box-shadow: 0 5px 15px 1px rgba(0,0,0,0.1)
        padding: 15px 25px
        border: 1px solid #eee
        display: flex
        align-items: center
        text-decoration: none
        justify-content: space-between

    &__title
        font-size: 15px
        display: inline-block

    &__number
        font-size: 20px
        font-weight: 600
        display: inline-block
        margin: 0 10px 0 0 

    &__value
        font-size: 20px
        font-weight: 600

.remind
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    display: none
    justify-content: center
    align-items: center
    z-index: 999
    &--show
        display: flex

    &__black
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: #00000077

    &__window
        background: #fff
        width: 98%
        max-width: 500px
        //height: 200px
        border-radius: 10px
        padding: 20px 10px

    &__title
        font-size: 18px
        font-weight: 600
        margin: 0 0 20px 0
        text-align: center

    &__text
        font-size: 15px
        text-align: center
        max-width: 400px
        margin: 0 auto 10px auto

    &__btn
        margin: 10px auto
        width: 90%
        background: #B60CBA
        height: 40px
        border-radius: 10px
        display: flex
        justify-content: center
        align-items: center
        color: #fff
        user-select: none
        cursor: pointer
        will-change: transform
        transition-duration: 0.2s
        &:active
            opacity: 0.6
            transform: scale(0.9)

.slider
    width: 100%
    display: flex
    justify-content: center

    &__fade
        background: #fff
        z-index: +1
        opacity: 0.7
        width: 100%
        position: absolute
        height: 50px
        display: flex
        justify-content: center
        &--top
            top: 10px
        &--bot
            bottom: 10px
        &--cent
            background: transparent
            top: 50%
            margin: -25px 0 0 0

    &__border
        width: 48px
        margin: 0 5px
        height: 100%
        border-bottom: 2px solid #111
        border-top: 2px solid #111

    &__body
        width: 60px

    &__card
        padding: 10px 5px

    &__digit
        width: 30px
        height: 30px
        //background: #000
        color: #111
        display: flex
        justify-content: center
        align-items: center
        margin: 0 auto
        font-size: 15px