


.dark
    &-text
        color: #fff
    &-bg--light
        background: #555
    &-bg
        background: #444
    &-svg
        svg
            fill: #fff
        span
            color: #fff
        div
            color: #fff
    &-baloon
        color: #fff
        background: #444
        &::before
            background: #444
        &::after
            background: #444