$color1: #234bff

body
    position: relative
    background: #aaa

.calc
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: sans-serif
    position: relative
    width: 100%
    max-width: 1000px
    min-height: 300px
    margin: 30px auto
    background: #fff
    padding: 30px
    @media ( max-width: 750px )
        padding: 30px 15px

    *
        padding: 0
        margin: 0
        box-sizing: border-box
        font-family: sans-serif

    &__block
        margin: 0 0 30px 0

    &__title
        font-size: 18px
        margin: 0 0 15px 0
        @media ( max-width: 450px )
            text-align: center
        &--itog
            font-size: 20px
            margin: 0 0 5px 0
            text-align: center

    &__radio
        display: none
        &:checked + .calc__label
            background: $color1
            color: #fff

    &__flex
        display: flex
        @media ( max-width: 750px )
            flex-wrap: wrap
        @media ( max-width: 450px )
            justify-content: space-between

    &__label
        cursor: pointer
        display: flex
        user-select: none
        position: relative
        width: 160px
        height: 54px
        margin: 0 10px 10px 0
        border: 2px solid $color1
        justify-content: center
        align-items: center
        text-align: center
        border-radius: 6px
        transition-duration: 0.2s
        @media ( max-width: 450px )
            margin: 0 0 10px 0
            width: 49%
        &:hover
            transform: translateY(-4px)

    &__variant
        display: none
        &--show
            display: block

    &__slider
        padding: 10px 80px 10px 5px
        width: 100%
        max-width: 500px
        position: relative

    &__length
        position: absolute
        display: block
        right: 0
        width: 58px
        height: 32px
        font-size: 18px
        text-align: center
        border-radius: 20px
        top: 50%
        margin: -16px 0 0 0
        border: 1px solid #d5d5d5
        user-select: none
        background: #f9f9f9

    &__bottom
        width: 100%
        border-top: 2px dotted #ccc
        margin: 40px 0 0 0 

    &__itog
        margin: 0 0 20px 0 
        width: 100%
        max-width: 220px
        display: none
        @media ( max-width: 450px )
            margin: 0 auto 20px auto
        &--show
            display: block

    &__btn
        position: relative
        display: flex
        justify-content: center
        align-items: center
        text-align: center
        width: 220px
        height: 56px
        border: 3px solid $color1
        margin: 40px 0 15px 0
        text-transform: uppercase
        letter-spacing: 0.5px
        font-weight: 600
        color: $color1
        cursor: pointer
        user-select: none
        transition-duration: 0.2s
        border-radius: 50px
        box-shadow: 0 5px 15px rgba(0,0,0,0.1)
        @media ( max-width: 450px )
            margin: 40px auto 15px auto
        &:hover
            background: $color1
            color: #fff
            transform: translateY(5px)
            box-shadow: 0 2px 5px rgba(0,0,0,0.3)
        &:active
            opacity: 0.2

    &__summ
        font-size: 28px
        font-weight: 600
        text-align: center














.ui-slider-range
    background: $color1 !important
    border-radius: 50px !important
.ui-slider-handle
    border-radius: 50px !important
    border: 6px solid #ffffff !important
    background: $color1 !important
    box-shadow: 0 0 15px 2px rgba(0,0,0,0.2)
    outline: none !important
    width: 26px !important
    height: 26px !important
    margin-left: -14px !important
    margin-top: -3px !important
    cursor: pointer !important
.ui-widget
    background: #f9f9f9 !important
    border: 1px solid #d5d5d5 !important
    //border: none !important
    border-radius: 20px !important
    height: 11px !important