

.h_about

    &__title

    &__number
        font-size: 120px
        font-family: "Oswald", serif
        font-weight: 600
        letter-spacing: -5px
        text-transform: uppercase
        color: $greenblue
        text-align: right

    &__title
        font-size: 20px
        color: $darkgray
        font-weight: 560
        letter-spacing: 1px
        text-align: right
        font-style: italic