

.footer
    position: relative
    padding: 60px 0 30px 0
    background: $greenblue
    z-index: 19
    overflow: hidden

    &__logo
        position: absolute
        width: 450px
        height: 450px
        opacity: 0.1
        display: block
        right: -150px
        top: 50%
        margin: -225px 0 0 0

    &__contacts
        letter-spacing: 2px
        font-size: 17px
        font-weight: 400
        text-transform: uppercase
        color: #fff

    &__icon
        position: relative
        width: 50px
        height: 50px
        background: #fff
        padding: 12px
        border-radius: 2px
        display: block
        margin: 4px 20px 4px 0

    &__info
        color: #fff
        margin: 20px 0 0 0
        letter-spacing: 1px
        font-size: 13px

    &__ooo
        font-weight: 600
        font-size: 16px

    &__ogrn
        margin: 5px 20px 0 0
        color: $gray

    &__links
        padding: 10px 0
        max-height: 230px
        display: flex
        flex-direction: column
        flex-wrap: wrap
    
    &__link
        display: block
        margin: 6px 0
        color: $lightblue
        transition-duration: 0.2s

        &:hover
            opacity: 0.9
            text-decoration: none
            color: #fff