


.fstscr
    z-index: 9
    margin: 70px 0 0 0
    position: relative
    background: url("../img/walls/wall.jpg") no-repeat
    background-size: 100% auto
    background-position: 50% 50%
    @media ( max-width: 1310px )
        background-size: cover
    @media ( max-width: 640px )
        padding: 0 0 70px 0

    &::before
        content: ""
        position: absolute
        width: 100%
        height: 100%
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.7) 90%)
        z-index: 9

    &__wrap
        z-index: 19
        //background: #16002466
        width: 100%
        height: 700px
        margin: 0 auto
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        @media ( max-width: 640px )
            height: auto
            min-height: 700px

    &__h1
        position: relative
        z-index: 29
        font-size: 50px
        font-weight: 600
        text-transform: uppercase
        color: #fff
        margin: 40px auto 60px auto
        text-align: center
        @media ( max-width: 840px )
            font-size: 36px
            max-width: 620px
        @media ( max-width: 640px )
            margin: 100px auto 40px auto
        @media ( max-width: 399px )
            font-size: 32px

    &__goods
        z-index: 29
        position: relative
        display: flex
        justify-content: center
        width: 100%
        @media ( max-width: 640px )
            flex-wrap: wrap

    &__block
        position: relative
        //background: #00000044
        width: 300px
        height: 300px
        margin: 20px 30px
        padding: 0 20px
        @media ( max-width: 840px )
            margin: 20px
        @media ( max-width: 640px )
            height: auto
            width: 100%

    &__icon
        position: relative
        width: 90px
        height: 90px
        margin: 20px auto
        background: #fff
        border-radius: 50px
        display: flex
        align-items: center
        justify-content: center

    &__img
        position: relative
        width: 60%
        height: 60%

    &__title
        font-size: 20px
        color: #fff
        text-align: center
        margin: 20px 0 0 0
        letter-spacing: 1px
        @media ( max-width: 840px )
            font-size: 18px

    &__line
        height: 2px
        background: #eee
        width: 50px
        margin: 15px auto

    &__text
        text-align: center
        color: #ffffff
        font-size: 16px
        margin: 10px 0 0 0
        line-height: 1.5
        @media ( max-width: 840px )
            font-size: 15px