

.about
    position: relative
    padding: 70px 0 100px 0

    &__wrap
        position: relative
        margin: 0 auto

    &__container
        display: flex
        justify-content: space-between
        padding: 50px 10px
        @media ( max-width: 1340px )
            flex-wrap: wrap
            justify-content: center

    &__block
        width: 100%
        min-width: 240px
        max-width: 250px
        margin: 20px 10px
        padding: 0 0 20px 0
        background: #ffffff
        box-shadow: 0 5px 15px 0 rgba(0,0,0,0.1)

    &__img
        width: 100%

    &__text
        margin: 20px 0
        padding: 0 20px
        line-height: 1.4
        color: $gray
        text-align: justify