

*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: sans-serif

body
    position: relative
    background: #ddd

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
    -webkit-appearance: none

.calc
    position: relative
    background: #fff
    width: 100%
    max-width: 1140px
    min-height: 400px
    margin: 50px auto
    padding: 30px 20px 60px 20px
    @media ( max-width: 460px )
        padding: 30px 5px 60px 5px

    &__header
        font-size: 24px
        font-weight: 600
        text-align: center
        margin: 10px auto

    &__description
        margin: 20px auto 40px auto
        max-width: 700px
        text-align: center

    &__body
        position: relative
        width: 100%
        max-width: 700px
        margin: 0 auto

    &__block
        display: flex
        align-items: center
        justify-content: center
        margin: 20px auto

    &__title
        width: 120px
        text-align: right
        &--long
            padding: 0 10px 0 0
            width: 240px

    &__slider
        width: 100%
        max-width: 300px
        margin: 10px 20px

    &__fly
        width: 35px
        margin: 0 0 0 5px

    &__input
        display: block

        &--slider
            width: 110px
            font-size: 18px
            text-align: center
            padding: 6px
            border-radius: 8px
            border: 1px solid #bbb
            outline: none

    &__radio
        display: none
        &:checked + .calc__label
            background: #0045c5
            color: #fff

    &__label
        display: flex
        justify-content: center
        align-items: center
        width: 60px
        height: 35px
        border: 1px solid #bbb
        border-radius: 8px
        margin: 0 5px 0 0
        cursor: pointer
        transition-duration: 0.2s























.buttons
    position: relative
    width: 100%
    min-height: 60px
    display: flex
    border-radius: 20px 20px 0 0
    background: #fff
    margin: 60px auto 0px auto
    justify-content: space-between
    overflow: hidden
    @media ( max-width: 860px )
        margin: 60px auto 10px auto
        flex-wrap: wrap
    @media ( max-width: 800px )
        justify-content: center

    &__radio
        display: none
        &:checked + .buttons__label
            background: #0045c5
            color: #fff

    &__label
        width: 16%
        position: relative
        border-radius: 20px 20px 0 0
        display: flex
        justify-content: center
        align-items: center
        text-align: center
        user-select: none
        cursor: pointer
        padding: 5px
        transition-duration: 0.2s
        border: 1px solid #bbb
        border-bottom: none
        @media ( max-width: 800px )
            width: 200px
            height: 40px
            border-radius: 6px
            border: 1px solid #bbb
            margin: 5px
        @media ( max-width: 460px )
            width: 140px
            height: 50px


.result
    position: relative
    width: 100%
    min-height: 100px
    border: 1px solid #ccc
    border-bottom: none
    border-radius: 0
    padding: 20px
    &--last
        padding: 0 0 40px 0
        border-bottom: 1px solid #ccc
        //border-radius: 20px
        overflow-x: scroll

    &__line
        position: relative
        width: 100%
        margin: 10px auto
        display: flex
        justify-content: center
        @media ( max-width: 420px )
            flex-wrap: wrap

    &__title
        width: 50%
        text-align: right
        @media ( max-width: 540px )
            width: 65%
        @media ( max-width: 420px )
            width: 100%
            text-align: center


    &__itog
        font-weight: 600
        width: 50%
        padding: 0 0 0 10px
        @media ( max-width: 540px )
            width: 35%
            flex-shrink: 0
        @media ( max-width: 420px )
            width: 100%
            text-align: center

    &__row
        display: flex
        position: relative
        font-size: 14px
        width: 100%
        min-width: 650px
        &--head
            background: #eee
            border-radius: 0
        &:hover
            background: #eee

    &__cell
        width: 16.68%
        padding: 10px 5px
        border-right: 1px solid #ccc
        border-bottom: 1px solid #ccc
        text-align: right
        flex-shrink: 0
        &--long
            width: 130px
        &--short
            width: 50px
        &--last
            //border-radius: 0 20px 0 0
            padding: 10px 10px 10px 5px



.out
    position: relative
    font-size: 14px
    overflow-x: scroll
    border-left: 1px solid #ccc
    border-top: 1px solid #ccc

    &__table
        position: relative

    &__row
        width: 1098px
        position: relative
        display: flex
        @media ( max-width: 576px )
            width: 100%
        &--head
            background: #eee
        &:hover
            background: #eee

    &__cell
        width: 117px
        padding: 5px
        border-right: 1px solid #ccc
        border-bottom: 1px solid #ccc
        text-align: right
        flex-shrink: 0
        @media ( max-width: 576px )
            width: 40%
        &--long
            width: 130px
        &--ajio
            width: 90px
        &--month
            width: 140px
        &--short
            width: 50px
            @media ( max-width: 576px )
                width: 20%
        &--hide
            @media ( max-width: 576px )
                display: none
        &--none
            display: none




.note
    padding: 0 0 40px 0
    border-left: 1px solid #ccc
    border-right: 1px solid #ccc
    display: flex
    justify-content: center
    
    &__name
        display: flex
        align-items: center
        margin: 5px 10px

    &__round
        width: 18px
        height: 18px
        margin: 0 5px 0 0
        border-radius: 50px
        &--1
            background: #333
        &--2
            background: #5659ff
        &--3
            background: #00a759


.charts
    position: relative
    margin: 0px auto 0 auto
    border-left: 1px solid #ccc
    border-right: 1px solid #ccc
    padding: 40px 0

    &__net
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0

    &__numb
        padding: 3px
        position: absolute
        width: 70px
        text-align: center
        font-size: 14px
        color: #8a8a8a
        &--0
            bottom: 0%
        &--50
            bottom: calc( 50% )
        &--100
            bottom: calc( 100% )


    &__line
        border-bottom: 1px solid #ddd
        width: 100%
        height: 4px
        position: absolute
        &--0
            bottom: 0%
        &--50
            bottom: calc( 50% )
        &--100
            bottom: calc( 100% )

    &__chart
        width: 100%
        position: relative
        height: 300px
        display: flex
        justify-content: space-between
        align-items: flex-end
        padding: 0 10px 0 80px

    &__high
        //width: 20px
        margin: 0 0.5px
        position: relative
        display: flex
        flex-direction: column
        justify-content: flex-end
        cursor: pointer
        transition-duration: 0.2s
        &:hover
            transform: translateY(-10px)

    &__svoi
        background: #00a759
        position: absolute
        bottom: 0
        left: 0
        z-index: 99
        width: 100%

    &__nachalo
        background: #333
        z-index: 109

    &__popolnenie
        background: #5659ff
        z-index: 109

    &__window
        position: absolute
        width: 300px
        height: 200px
        background: #fff
        border-radius: 15px
        box-shadow: 0 10px 20px 2px rgba(0,0,0,0.1)
        border: 1px solid #ddd
        top: -50px
        left: 50%
        margin: 0 0 0 -150px
        z-index: 299
        display: none
        padding: 0 10px
        justify-content: center
        align-items: center
        flex-direction: column

    &__stat
        display: none

    &__value
        text-align: center
        margin: 5px 0



.money
    width: 100%
    //border-bottom: 1px solid #bbb
    padding: 20px 0 20px 0
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap

    &__flex
        width: 100%
        display: flex
        justify-content: center
        margin: 10px 0
        align-items: center

    &__check
        margin: 0 8px 0 0
        width: 16px
        height: 16px

    &__title
        margin: 0 10px 0 0
        user-select: none
        cursor: pointer
        width: 200px
        text-align: right
        text-decoration: underline
        &:hover
            color: #0045c5

    &__input
        width: 90px
        font-size: 18px
        text-align: center
        padding: 6px 0px 6px 0px
        border-radius: 8px
        border: 1px solid #bbb
        outline: none






.valute
    position: relative
    display: flex
    margin: 10px auto
    justify-content: center

    &__header
        text-align: center
        margin: 10px auto 0 auto

    &__radio
        display: none
        &:checked + .valute__label
            color: #fff
            background: #0045c5

    &__label
        border-radius: 8px
        border: 1px solid #bbb
        display: flex
        justify-content: center
        align-items: center
        width: 60px
        height: 30px
        margin: 10px 5px
        cursor: pointer






.ui-slider
    background: #ccc !important
    height: 6px !important
    border: none !important
    border-radius: 0 !important

.ui-slider-range
    background: #4753ff !important
    border-radius: 0 !important

.ui-slider-handle
    width: 24px !important
    height: 24px !important
    border-radius: 50px !important
    background: #fff !important
    border: 2px solid #4753ff !important
    outline: none !important
    margin-top: -5px !important
    cursor: pointer !important
    box-shadow: 0 0px 10px 1px #5757574d
    // transition-duration: 0.05s

.ui-slider-handle:hover
    //box-shadow: 0 0px 2px 12px rgba(245,165,100,0.3)