

.about
    width: 100%
    background: #fff
    padding: 30px 20px

    &__border
        width: 100%
        border: 6px double $brown

    &__wrap
        min-height: 900px
        
        //border-bottom: 5px double $brown
        padding: 30px 0