

*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: "Play", sans-serif

body
    position: relative
    background: url("../img/bg.webp") no-repeat
    background-size: auto 100vh
    background-position: 20% 0
    background-attachment: fixed

.dflex
    display: flex
    align-items: center

.space
    width: 100%
    position: relative
    height: 20px
    background: #fff
    z-index: 29
    margin: -3px 0 0 0

.bold
    text-shadow: 0 0 1px #000

    &--red
        text-shadow: 0 0 1px #ff0000


.arrow__prev
    width: 40px
    height: 40px
    position: absolute
    left: -50px
    top: 50%
    z-index: 159
    background: #eee url("../img/prev.png") no-repeat
    background-size: 70% 70%
    background-position: 50% 50%
    cursor: pointer
    @media ( max-width: 1230px )
        left: 0

.arrow__next
    width: 40px
    height: 40px
    position: absolute
    top: 50%
    right: -50px
    z-index: 159
    background: #eee url("../img/next.png") no-repeat
    background-size: 70% 70%
    background-position: 50% 50%
    cursor: pointer
    @media ( max-width: 1230px )
        right: 0