$green: #0A9441



body
    position: relative
    background: #ccc

.calc
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: sans-serif
    position: relative
    background: #fff
    margin: 50px auto
    padding: 40px
    width: 100%
    max-width: 600px
    @media ( max-width: 550px )
        padding: 40px 10px

    *
        padding: 0
        margin: 0
        box-sizing: border-box
        font-family: sans-serif
        position: relative

    &__header
        font-size: 22px
        margin: 0 0 30px 0
        font-weight: 600
        text-align: center
        @media ( max-width: 450px )
            font-size: 20px

    &__title
        margin: 0 0 10px 0

    &__line
        display: flex
        margin: 5px 0
        
        &--date
            margin: 20px 0
            justify-content: space-between
            @media ( max-width: 370px )
                flex-wrap: wrap


    &__date
        font-weight: 600
        margin: 0 0 0 10px
        @media ( max-width: 450px )
            margin: 0 0 0 5px

    &__list
        margin: 40px 0 0 0

    &__input
        margin: 0px
        font-size: 17px
        border-radius: 4px
        border: 1px solid #ccc
        height: 40px
        padding: 0 5px
        width: 42%
        @media ( max-width: 450px )
            width: 100%
            margin: 0 5px 0 0
            font-size: 16px
        @media ( max-width: 370px )
            width: 84%
            margin: 0 5px 5px 0
        &--first
            margin: 0 0 20px 0
            @media ( max-width: 370px )
                width: 100%

    &__count
        font-size: 17px
        border-radius: 4px
        border: 1px solid #ccc
        display: flex
        justify-content: center
        align-items: center
        width: 12%
        @media ( max-width: 450px )
            min-width: 40px
        @media ( max-width: 370px )
            margin: 0 0 5px 0

    &__result
        background: $green
        width: 100%
        border-radius: 4px
        padding: 15px 5px
        color: #fff
        font-size: 18px
        text-align: center
        margin: 30px 0 0 0
        &--bad
            background: #cc0000

    &__choice
        display: flex
        margin: 15px 0 30px 0
        @media ( max-width: 450px )
            justify-content: space-between

    &__language
        display: none

    &__flag
        display: block
        width: 60px
        height: 36px
        margin: 0 10px 10px 0
        border-radius: 4px
        box-shadow: 0 0px 9px 1px rgba(0,0,0,0.2)
        overflow: hidden
        cursor: pointer
        transition-duration: 0.2s
        @media ( max-width: 450px )
            margin: 0 0 10px 0
            width: 17%
            max-width: 60px
        img
            position: relative
            width: 100%
            height: 100%

        &:hover
            transform: translateY(-5px)
        &:active
            opacity: 0.3

    &__show
        width: 40px
        height: 40px
        color: #fff
        border-radius: 50px
        display: flex
        justify-content: center
        align-items: center
        font-size: 30px
        font-weight: 600
        background: $green
        margin: 0 auto
        transition-duration: 0.2s
        cursor: pointer
        user-select: none
        &:hover
            opacity: 0.8

    &__btn
        width: 100%
        max-width: 240px
        padding: 15px 5px
        display: flex
        justify-content: center
        align-items: center
        margin: 30px auto 0 auto
        background: #e0e0e0
        color: #222
        font-size: 16px
        font-weight: 600
        text-transform: uppercase
        user-select: none
        border-radius: 4px
        cursor: pointer
        transition-duration: 0.2s
        box-shadow: 0 4px 10px 0px #00000011
        @media ( max-width: 400px )
            max-width: 400px
        &:hover
            background: #d8d8d8
        &:active
            opacity: 0.3

    &__examp
        color: blue
        text-decoration: underline
        cursor: pointer
        &:hover
            opacity: 0.7