* {
  position: relative;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lora', serif;
}

body {
  position: relative;
  background: #141414;
}

.maw {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.link {
  font-size: 1.2rem;
  color: #fffae7;
  text-decoration: none;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.link:hover {
  color: #c5c35e;
}

.link:visited {
  color: #fffae7;
}

.text {
  font-size: 1.2rem;
  color: #333;
}

.paragraph {
  margin: 0 auto 20px auto;
  display: block;
  width: 4rem;
}

.title {
  color: #504432;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  margin: 0 auto 20px auto;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}

.btn:active {
  opacity: 0.2;
}

.header {
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #fffae7;
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  z-index: 199;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__logo {
  display: block;
  height: 60px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header__phone {
  background: #333;
  border: 3px solid #333;
  color: #fffae7;
  padding: 12px 25px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  text-shadow: 0px 0px 1px #504432;
  border-radius: 100px;
  font-family: "Lora", serif;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header__phone:hover {
  color: #c5c35e;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 800px;
  width: 100%;
}

.header__link {
  margin: 0 5px;
  padding: 5px;
  display: block;
  color: #333;
  font-size: 1.2rem;
  text-decoration: none;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 600;
}

.header__link:hover {
  color: #c5c35e;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.fst {
  width: 100%;
  min-height: 900px;
  height: 100vh;
  background: url("../img/wall2.jpg") no-repeat;
  background-position: 50% 40%;
  background-size: cover;
  padding: 230px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fst__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.fst__head {
  font-size: 3.7rem;
  line-height: 1.3;
  color: #fffae7;
  text-transform: uppercase;
  max-width: 1200px;
  text-align: right;
  margin: 0 0 30px auto;
  letter-spacing: 1px;
}

.fst__subtitle {
  color: #fffae7;
  font-size: 2rem;
  text-align: right;
  letter-spacing: 1px;
  margin: 0 0 80px auto;
}

.fst__subtitle--span {
  color: #c5c35e;
}

.fst__btn {
  color: #c5c35e;
  letter-spacing: 1px;
  font-size: 1.6rem;
  text-transform: uppercase;
  max-width: 440px;
  margin: 0 0 0 auto;
  text-align: center;
  padding: 15px 25px;
  border: 1px solid #fffae7;
  background: #00000055;
}

.fst__btn::after {
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 98%;
  height: 90%;
  border: 1px solid #fffae7;
  top: 5%;
  left: 1%;
}

.fst__btn:hover {
  color: #504432;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  background: #000000cc;
  background: #fffae7;
}

.fst__btn:hover::after {
  border: 2px solid #504432;
}

.fst__arrow {
  display: block;
  position: absolute;
  height: 110px;
  margin: 30px 0 0 60px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.fst__note {
  color: #ddd;
  font-size: 1.1rem;
  max-width: 850px;
  text-align: right;
  margin: 20px 0 0 auto;
}

.about {
  width: 100%;
  background: #fff;
  padding: 30px 20px;
}

.about__border {
  width: 100%;
  border: 6px double #504432;
}

.about__wrap {
  min-height: 900px;
  padding: 30px 0;
}
/*# sourceMappingURL=main.css.map */