@charset "UTF-8";
* {
  position: relative;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Euclid Circular A', sans-serif;
  color: #2C2E4A;
}

body {
  position: relative;
  background: #eee;
}

.calc {
  max-width: 1300px;
  margin: 150px auto;
  width: 100%;
  min-height: 300px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 38px 44px -26px rgba(5, 59, 140, 0.1);
          box-shadow: 0px 38px 44px -26px rgba(5, 59, 140, 0.1);
  border-radius: 30px;
  padding: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1280px) {
  .calc {
    padding: 50px;
    max-width: 1040px;
  }
}

@media (max-width: 991px) {
  .calc {
    padding: 40px;
  }
}

@media (max-width: 768px) {
  .calc {
    border-radius: 0;
    padding: 70px;
  }
}

@media (max-width: 630px) {
  .calc {
    padding: 50px 30px;
  }
}

@media (max-width: 480px) {
  .calc {
    padding: 50px 10px;
  }
}

.calc__img {
  width: 43%;
  max-height: 661px;
}

@media (max-width: 1280px) {
  .calc__img {
    width: 365px;
    height: 519px;
    border-radius: 15px;
  }
}

@media (max-width: 991px) {
  .calc__img {
    height: auto;
    width: 40%;
  }
}

@media (max-width: 768px) {
  .calc__img {
    display: none;
    border-radius: 20px;
  }
}

@media (max-width: 480px) {
  .calc__img {
    border-radius: 15px;
  }
}

.calc__body {
  width: 53%;
}

@media (max-width: 1280px) {
  .calc__body {
    width: 100%;
    padding: 0 0 0 60px;
  }
}

@media (max-width: 991px) {
  .calc__body {
    padding: 0 0 0 40px;
  }
}

@media (max-width: 768px) {
  .calc__body {
    width: 100%;
    padding: 0;
  }
}

.calc__title {
  font-size: 56px;
  font-weight: 500;
  margin: 0 0 30px 0;
}

@media (max-width: 1280px) {
  .calc__title {
    font-size: 44px;
    margin: 0 0 20px 0;
  }
}

@media (max-width: 991px) {
  .calc__title {
    width: 100%;
    font-size: 230%;
  }
}

@media (max-width: 805px) {
  .calc__title {
    font-size: 210%;
  }
}

@media (max-width: 768px) {
  .calc__title {
    font-size: 7.2vw;
    margin: 0 0 30px 0;
  }
}

@media (max-width: 630px) {
  .calc__title {
    font-size: 7.9vw;
  }
}

@media (max-width: 480px) {
  .calc__title {
    font-size: 8.4vw;
  }
}

@media (max-width: 410px) {
  .calc__title {
    font-size: 10vw;
  }
}

.calc__title--span {
  color: #007BFB;
}

.calc__name {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 10px 0;
}

@media (max-width: 1280px) {
  .calc__name {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .calc__name {
    font-size: 24px;
  }
}

@media (max-width: 630px) {
  .calc__name {
    font-size: 20px;
  }
}

.calc__name--white {
  color: #fff;
  margin: 0 0 20px 0;
  line-height: 1.4;
}

@media (max-width: 1280px) {
  .calc__name--white {
    font-size: 18px;
    margin: 0 0 10px 0;
  }
}

@media (max-width: 768px) {
  .calc__name--white {
    font-size: 24px;
    margin: 0 0 20px 0;
  }
}

@media (max-width: 480px) {
  .calc__name--white {
    font-size: 18px;
    margin: 0 0 10px 0;
  }
}

@media (max-width: 410px) {
  .calc__name--white {
    font-size: 17px;
  }
}

.calc__select {
  height: 70px;
  width: 100%;
  border: 1px solid #69748C;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  padding: 0 30px;
  margin: 0 0 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1280px) {
  .calc__select {
    height: 55px;
    border-radius: 15px;
    margin: 0 0 20px 0;
  }
}

@media (max-width: 768px) {
  .calc__select {
    height: 70px;
    border-radius: 20px;
    margin: 0 0 40px 0;
  }
}

@media (max-width: 480px) {
  .calc__select {
    height: 55px;
    border-radius: 15px;
    margin: 0 0 20px 0;
  }
}

@media (max-width: 410px) {
  .calc__select {
    padding: 0 20px;
  }
}

.calc__current {
  color: #69748C;
  font-weight: 500;
  width: 100%;
  line-height: 70px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 20px;
}

@media (max-width: 1280px) {
  .calc__current {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .calc__current {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .calc__current {
    font-size: 16px;
  }
}

.calc__current::before {
  content: "▼";
  position: absolute;
  right: 0;
}

.calc__list {
  position: absolute;
  z-index: 99;
  background: #fff;
  width: calc( 100% + 2px);
  padding: 20px 30px;
  border-radius: 20px;
  border: 1px solid #69748C;
  left: -1px;
  top: calc( 100% + 10px);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transform: translateY(-200px) scale(1, 0);
          transform: translateY(-200px) scale(1, 0);
  opacity: 0;
}

.calc__list--open {
  -webkit-transform: translateY(0) scale(1, 1);
          transform: translateY(0) scale(1, 1);
  opacity: 1;
}

.calc__li {
  font-weight: 400;
  font-size: 20px;
  margin: 10px 0;
  font-size: 20px;
  color: #69748C;
  cursor: pointer;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

@media (max-width: 1280px) {
  .calc__li {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .calc__li {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .calc__li {
    font-size: 16px;
  }
}

.calc__li:hover {
  opacity: 0.6;
}

.calc__slider {
  height: 68px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 50px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1280px) {
  .calc__slider {
    margin: 0 0 30px 0;
  }
}

@media (max-width: 768px) {
  .calc__slider {
    margin: 0 0 50px 0;
  }
}

@media (max-width: 410px) {
  .calc__slider {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    height: auto;
    margin: 0 0 70px 0;
  }
}

.calc__polzunok {
  width: 100%;
}

.calc__polzunok::after {
  content: "";
  position: absolute;
  display: block;
  right: -10px;
  width: 20px;
  height: 10px;
  background: #D1E8FF;
  border-radius: 0 10px 10px 0;
}

@media (max-width: 410px) {
  .calc__polzunok::after {
    display: none;
  }
}

.calc__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 410px) {
  .calc__flex {
    width: 100%;
  }
}

.calc__money {
  width: 200px;
}

@media (max-width: 991px) {
  .calc__money {
    width: 20%;
  }
}

.calc__scale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc( 100% - 200px);
}

@media (max-width: 991px) {
  .calc__scale {
    width: calc( 100% - 170px);
  }
}

@media (max-width: 410px) {
  .calc__scale {
    bottom: -25px;
    width: 100%;
  }
}

.calc__mln {
  font-size: 14px;
  color: #69748C;
}

@media (max-width: 1280px) {
  .calc__mln {
    font-size: 11px;
  }
}

@media (max-width: 991px) {
  .calc__mln {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .calc__mln {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .calc__mln {
    font-size: 11px;
  }
}

.calc__input {
  border: 1px solid #007BFB;
  border-radius: 10px 0 0 10px;
  height: 50px;
  padding: 0 20px;
  font-size: 20px;
  width: 150px;
  outline: none;
  font-weight: 500;
  margin: 0 0 0 40px;
  text-align: center;
}

@media (max-width: 1280px) {
  .calc__input {
    font-size: 16px;
    height: 40px;
    padding: 0 10px;
    width: 130px;
  }
}

@media (max-width: 991px) {
  .calc__input {
    width: 110px;
    margin: 0 0 0 30px;
  }
}

@media (max-width: 410px) {
  .calc__input {
    margin: 0 0 20px 0;
    width: 100%;
    text-align: left;
    padding: 0 20px;
  }
}

.calc__valute {
  height: 50px;
  width: 50px;
  background: #007BFB;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 10px 10px 0;
}

@media (max-width: 1280px) {
  .calc__valute {
    height: 40px;
    width: 40px;
  }
}

.calc__result {
  width: 100%;
  height: 250px;
  background: #000;
  background: -webkit-gradient(linear, left top, left bottom, from(#2948FF), to(#396AFC));
  background: linear-gradient(180deg, #2948FF 0%, #396AFC 100%);
  border-radius: 20px;
  padding: 20px 30px;
}

@media (max-width: 1280px) {
  .calc__result {
    height: 195px;
    border-radius: 15px;
  }
}

@media (max-width: 768px) {
  .calc__result {
    height: 250px;
    border-radius: 20px;
  }
}

@media (max-width: 480px) {
  .calc__result {
    height: 195px;
    border-radius: 15px;
  }
}

@media (max-width: 410px) {
  .calc__result {
    padding: 20px 5%;
    height: auto;
  }
}

.calc__sum {
  font-weight: 500;
  font-size: 36px;
  line-height: 140%;
  color: #FFFFFF;
  margin: 0 0 40px 0;
}

@media (max-width: 1280px) {
  .calc__sum {
    font-size: 30px;
    margin: 0 0 20px 0;
  }
}

@media (max-width: 768px) {
  .calc__sum {
    font-size: 36px;
    margin: 0 0 40px 0;
  }
}

@media (max-width: 480px) {
  .calc__sum {
    font-size: 30px;
    margin: 0 0 20px 0;
  }
}

.calc__btn {
  width: 100%;
  height: 60px;
  background: #fff;
  border-radius: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: #007BFB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 1280px) {
  .calc__btn {
    height: 50px;
    font-size: 16px;
    border-radius: 15px;
  }
}

@media (max-width: 768px) {
  .calc__btn {
    height: 60px;
    font-size: 18px;
    border-radius: 20px;
  }
}

@media (max-width: 480px) {
  .calc__btn {
    height: 50px;
    font-size: 16px;
    border-radius: 15px;
  }
}

.calc__btn:hover {
  opacity: 0.8;
}

.calc__btn:active {
  opacity: 0.3;
}

.ui-slider {
  background: #D1E8FF !important;
  height: 10px !important;
  border: none !important;
  border-radius: 10px !important;
}

.ui-slider-range {
  background: #007BFB !important;
  border-radius: 10px !important;
}

.ui-slider-handle {
  width: 24px !important;
  height: 24px !important;
  border-radius: 50px !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#2948FF), to(#396AFC)) !important;
  background: linear-gradient(180deg, #2948FF 0%, #396AFC 100%) !important;
  border: 6px solid #fff !important;
  outline: none !important;
  margin-top: -3px !important;
  cursor: pointer !important;
  -webkit-box-shadow: 0px 3px 10px rgba(62, 70, 141, 0.35);
          box-shadow: 0px 3px 10px rgba(62, 70, 141, 0.35);
}
/*# sourceMappingURL=main.css.map */