* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  position: relative;
}

body {
  position: relative;
}

.calc {
  width: 100%;
  max-width: 1040px;
  margin: 50px auto;
  min-height: 400px;
}

.calc * {
  font-family: 'Ubuntu', sans-serif;
}

.calc__header {
  text-align: center;
  margin: 0 0 30px 0;
  color: #263f6d;
  font-size: 28px;
}

@media (max-width: 450px) {
  .calc__header {
    font-size: 22px;
    padding: 0 10px;
  }
}

.calc__part {
  background: #eee;
  width: 100%;
  min-height: 200px;
  margin: 10px auto;
  padding: 30px 60px 40px 60px;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .calc__part {
    padding: 30px 30px 40px 30px;
  }
}

@media (max-width: 450px) {
  .calc__part {
    padding: 30px 10px 40px 10px;
  }
}

.calc__part--white {
  background: transparent;
  padding: 30px 0 40px 0;
}

.calc__title {
  font-size: 22px;
  margin: 0 0 40px 0;
  color: #263f6d;
  text-align: center;
}

.calc__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calc__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 10px 0;
  width: 45%;
}

@media (max-width: 991px) {
  .calc__line {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 450px) {
  .calc__line {
    width: 100%;
  }
}

.calc__name {
  font-size: 18px;
}

@media (max-width: 991px) {
  .calc__name {
    width: 100%;
    text-align: center;
  }
}

.calc__name--itog {
  color: #fff;
  text-align: center;
  font-size: 20px;
  margin: 0 0 10px 0;
}

.calc__input {
  font-size: 18px;
  padding: 0 10px;
  height: 40px;
  width: 260px;
  border: 1px solid #ddd;
  border-radius: 2px;
}

@media (max-width: 991px) {
  .calc__input {
    margin: 10px auto;
    width: 100%;
    max-width: 400px;
  }
}

.calc__select {
  font-size: 18px;
  padding: 0 10px;
  height: 40px;
  width: 260px;
  border: 1px solid #ddd;
  border-radius: 2px;
}

@media (max-width: 991px) {
  .calc__select {
    margin: 10px auto;
    width: 100%;
    max-width: 400px;
  }
}

.calc__checkbox {
  display: none;
}

.calc__checkbox:checked + .calc__label {
  background: #263f6d;
  color: #fff;
}

.calc__label {
  width: 22%;
  margin: 10px 0;
  background: #fff;
  text-align: center;
  padding: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}

@media (max-width: 991px) {
  .calc__label {
    width: 48%;
  }
}

@media (max-width: 450px) {
  .calc__label {
    width: 100%;
    margin: 2px 0;
  }
}

.calc__picture {
  width: 100%;
}

.calc__img {
  width: 100%;
  margin: 20px auto;
  display: none;
  z-index: 19;
}

.calc__img--add {
  z-index: 29;
  position: absolute;
  left: 0;
  top: -20px;
}

.calc__img--show {
  display: block;
}

.calc__itog {
  width: 100%;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1040px) {
  .calc__itog {
    padding: 0 60px;
  }
}

@media (max-width: 768px) {
  .calc__itog {
    padding: 0 30px;
  }
}

@media (max-width: 660px) {
  .calc__itog {
    min-height: 70px;
  }
}

@media (max-width: 576px) {
  .calc__itog {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 450px) {
  .calc__itog {
    padding: 0 10px;
  }
}

.calc__cell {
  width: 33%;
  background: #263f6d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  padding: 15px;
}

@media (max-width: 576px) {
  .calc__cell {
    width: 100%;
    max-width: 440px;
    margin: 2px auto;
    padding: 8px 0;
  }
}

.calc__summ {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

@media (max-width: 660px) {
  .calc__summ {
    font-size: 19px;
  }
}

.form {
  position: relative;
  margin: 30px auto;
}

@media (max-width: 1040px) {
  .form {
    padding: 0 60px;
  }
}

@media (max-width: 768px) {
  .form {
    padding: 0 30px;
  }
}

@media (max-width: 450px) {
  .form {
    padding: 0 10px;
  }
}

.form__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 576px) {
  .form__flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.form__input {
  width: 33%;
  font-size: 18px;
  padding: 0 15px;
  height: 50px;
  border: 1px solid #263f6d;
  border-radius: 4px;
}

@media (max-width: 660px) {
  .form__input {
    padding: 0 10px;
    height: 44px;
    font-size: 15px;
  }
}

@media (max-width: 576px) {
  .form__input {
    width: 100%;
    max-width: 440px;
    margin: 5px auto;
    text-align: center;
  }
}

.form__note {
  text-align: center;
  color: #aaa;
  font-size: 14px;
  margin: 20px auto;
}

@media (max-width: 576px) {
  .form__note {
    padding: 0 30px;
    font-size: 12px;
  }
}

.form__submit {
  display: block;
  width: 33%;
  height: 50px;
  margin: 20px auto;
  background: #263f6d;
  color: #fff;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  font-size: 18px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

@media (max-width: 660px) {
  .form__submit {
    height: 44px;
  }
}

@media (max-width: 576px) {
  .form__submit {
    width: 100%;
    max-width: 260px;
  }
}

.form__submit:hover {
  opacity: 0.7;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */