$color1: #c9c6d1
$color2: #467eb2


*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: sans-serif

body
    position: relative
    background: #fff

.calc
    width: 100%
    max-width: 1040px
    min-height: 300px
    background: #fff
    margin: 100px auto
    padding: 40px 0

    &__header
        text-align: center
        font-size: 34px
        color: #444
        font-weight: 600
        text-transform: uppercase
        letter-spacing: 2px
        text-shadow: 0 0 1px #000
        
    &__border
        width: 5%
        min-width: 80px
        height: 4px
        background: $color1
        margin: 50px auto 0px auto
        border-radius: 4px

    &__title
        font-size: 16px
        color: $color1
        text-align: center
        margin: 10px 0 0 0
        font-style: italic

    &__choice
        display: flex
        justify-content: space-between
        margin: 50px 0 0 0
        @media ( max-width: 940px )
            flex-wrap: wrap
            justify-content: center
        @media ( max-width: 768px )
            justify-content: space-around

    &__radio
        display: none
        &:checked + .calc__label
            background: $color2
            color: #fff
            text-shadow: 0 0 1px #ffffff77

    &__label
        display: flex
        justify-content: center
        align-items: center
        text-align: center
        width: 24%
        height: 120px
        border: 1px solid $color2
        background: #fff
        font-size: 17px
        text-shadow: 0 0 1px #00000077
        padding: 10px
        line-height: 1.3
        border-radius: 4px
        cursor: pointer
        user-select: none
        transition-duration: 0.2s
        @media ( max-width: 940px )
            width: 35%
            margin: 0 10px 10px 10px
        @media ( max-width: 768px )
            width: 47%
            margin: 0 0 10px 0
        @media ( max-width: 520px )
            width: 94%
            max-width: 400px
            height: 90px
            padding: 10px 50px
        @media ( max-width: 400px )
            padding: 10px 20px


        &:hover
            transform: translateY(-6px)
            box-shadow: 0 8px 10px 0px rgba(0,0,0,0.2)

    &__body
        margin: 50px 0 0 0
        padding: 0 0px

    &__line
        display: flex
        justify-content: space-between
        align-items: center
        margin: 0 0 0px 0
        padding: 5px 0
        @media ( max-width: 768px )
            flex-wrap: wrap

    &__text
        font-size: 17px
        color: #333
        max-width: 700px
        line-height: 1.3
        @media ( max-width: 768px )
            width: 100%
            max-width: 1110px
            text-align: center


    &__plusminus
        display: flex
        align-items: center

    &__minus
        width: 36px
        height: 34px
        justify-content: center
        align-items: center
        display: flex
        font-size: 20px
        background: $color2
        color: #fff
        border: 1px solid #ccc
        border-radius: 4px 0 0 4px
        cursor: pointer
        user-select: none
        padding: 0 0 4px 0
        &:hover
            opacity: 0.8
        &:active
            opacity: 0.4

    &__plus
        width: 36px
        height: 34px
        justify-content: center
        align-items: center
        display: flex
        font-size: 20px
        background: $color2
        color: #fff
        border: 1px solid #ccc
        border-radius: 0 4px 4px 0
        cursor: pointer
        user-select: none
        &:hover
            opacity: 0.8
        &:active
            opacity: 0.2

    &__input
        padding: 3px
        height: 34px
        width: 60px
        text-align: center
        border: 1px solid #ccc
        font-size: 20px
        &--inf
            font-family: sans-serif
            font-size: 24px

    &__fly
        margin: 0 0 3px 0
        font-size: 14px
        color: #777
        text-align: center
        &--blue
            //text-align: left
            color: $color2

    &__element
        margin: 0 10px
        @media ( max-width: 768px )
            width: 100%
            justify-content: center
            display: flex
            flex-direction: column
            align-items: center
        &--100
            width: 100%
            max-width: 700px

    &__flex
        display: flex
        @media ( max-width: 768px )
            justify-content: center
            width: 100%
            margin: 10px 0 0 0

    &__serv
        color: $color2
        margin: 30px 0 0 0
        text-transform: uppercase
        letter-spacing: 1px
        font-weight: 600
        text-align: center
        width: 100%

    &__more
        color: $color2
        margin: 0 10px 0 0
        @media ( max-width: 768px )
            width: 100%
            display: block

    &__result
        width: calc(100% - 20px)
        margin: 100px auto 0px auto
        background: $color2
        border-radius: 4px
        display: flex
        justify-content: space-between
        align-items: center
        padding: 40px 30px
        @media ( max-width: 640px )
            flex-wrap: wrap
        @media ( max-width: 400px )
            padding: 40px 20px

    &__big
        font-size: 40px
        color: #fff
        font-weight: 900
        line-height: 1
        max-width: 300px
        @media ( max-width: 640px )
            font-size: 34px
            text-align: center
            max-width: 500px
            margin: 0 auto 30px auto


    &__summ
        @media ( max-width: 640px )
            width: 100%

    &__price
        font-size: 18px
        margin: 10px 0
        text-align: right
        color: #Fff
        @media ( max-width: 640px )
            font-size: 17px
            width: 100%
            text-align: center
        @media ( max-width: 400px )
            font-size: 16px

        &--span
            margin: 0 0 0 10px
            font-weight: 600
            font-size: 24px
            @media ( max-width: 640px )
                font-size: 20px
            @media ( max-width: 400px )
                margin: 0 0 0 5px
                font-size: 18px

    &__italic
        color: #999
        font-style: italic