

body
    position: relative
    background: #3a3a43

.slide
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: sans-serif
    position: fixed
    top: 0
    left: 0
    width: 100%
    transition-duration: 0.2s
    transform: translateX(-100%)
    opacity: 0
    background: #00000055
    height: 100%
    z-index: 999
    &--open
        opacity: 1
        transform: translateX(0px)

    *
        padding: 0
        margin: 0
        box-sizing: border-box
        font-family: sans-serif
        position: relative

    &__body
        width: 100%
        max-width: 300px
        background: #fff
        padding: 30px 10px 30px 10px
        box-shadow: 0 10px 15px 1px rgba(0,0,0,0.2)

    &__close
        position: absolute
        top: 5px
        right: 5px
        width: 20px
        height: 20px
        font-size: 20px
        display: flex
        justify-content: center
        align-items: center
        transition-duration: 0.3s
        will-change: transform
        user-select: none
        cursor: pointer
        &:hover
            transform: scale(0.8)
            color: #f00

    &__button
        font-size: 24px
        color: #fff
        position: fixed
        top: 50%
        left: 0px
        width: 12px
        height: 80px
        background: #ccc
        border-radius: 0 1px 1px 0
        display: flex
        justify-content: center
        align-items: center
        transition-duration: 0.3s
        will-change: transform
        user-select: none
        cursor: pointer
        z-index: 99
        animation: bounce 3s 1s infinite
        &::after
            content: ""
            display: block
            position: absolute
            width: 2px
            //padding: 0 0 0 2px
            height: 70px
            top: 5px
            background: #00000077
            left: 3px
        &::before
            content: ""
            display: block
            position: absolute
            width: 2px
            //padding: 0 0 0 2px
            height: 70px
            top: 5px
            background: #00000077
            left: 7px
        &:hover
            transform: scale(1.1)
            background: #fffd6d

    &__link
        display: block
        padding: 8px 0 8px 0
        text-decoration: none
        color: #111
        transition-duration: 0.3s
        &:hover
            padding: 8px 0 8px 15px
            color: #4d6bff






// @keyframes bounce
//     0%
//         transform: translateX(0px) translateY(0px)
//     10%
//         transform: translateX(5px) translateY(0px)
//     20%
//         transform: translateX(-5px) translateY(0px)
//     30%
//         transform: translateX(0px) translateY(0px)  
//     40%
//         transform: translateX(0px) translateY(5px)
//     50%
//         transform: translateX(0px) translateY(-5px)
//     60%
//         transform: translateX(0px) translateY(0px)
        

// @keyframes bounce 
//     0%
//         transform: rotate(0deg) scale(1)
//     10%
//         transform: rotate(-10deg) scale(1)
//     20%
//         transform: rotate(10deg) scale(0.9)
//     30%
//         transform: rotate(-10deg) scale(0.9)
//     40%
//         transform: rotate(10deg) scale(1.1)
//     50%
//         transform: rotate(0deg) scale(1.1)
//     60%
//         transform: rotate(0deg) scale(1)    
//     100% 
//         transform: rotate(0deg) scale(1)

   
@keyframes bounce 
    0%
        transform: scale(1)
    5%
        transform: scale(1)
    10%
        transform: scale(0.9)
    15%
        transform: scale(0.9)
    20%
        transform: scale(1.1)
    25%
        transform: scale(1.1)
    30%
        transform: scale(1)    
    100% 
        transform: scale(1)