body
    background: #3d3e4e

.dispflex
    display: flex

.calc
    position: relative
    margin: 100px auto
    padding: 40px 30px 70px 30px
    min-height: 400px
    max-width: 1000px
    box-shadow: 0px 5px 20px 2px rgba(0,0,0,0.1)
    border-radius: 15px
    display: flex
    background: #ffffff
    background: linear-gradient(35deg, rgba(252,252,252,1) 0%, rgba(255,255,255,1) 75%)
    
    *
        box-sizing: border-box
        font-family: serif

    &__left
        min-width: 650px
        min-height: 400px
        position: relative
        height: 100%
        width: 65%
        padding: 0 20px
        &__title
            //text-transform: uppercase
            font-size: 28px
            font-weight: 900
            text-shadow: 0px 0px 1px black
            letter-spacing: 1.1px
            margin: 20px 0 40px 0
            @media (max-width: 500px)
                text-align: center
            
        &__subtitle
            font-size: 22px
            font-weight: 700
            @media (max-width: 500px)
                text-align: center
                font-size: 19px
            
        &__center
            display: flex
            @media (max-width: 500px)
                justify-content: center

        &__select
            display: inline-flex
            align-items: center
            margin: 20px 0
            border: 1px solid #ff8300
            border-radius: 4px
            @media (max-width: 500px)
                margin: 20px auto

        &__radio
            display: none
            &:checked + .calc__left__label
                background: #ff8300
                color: #fff

        &__label
            user-select: none
            cursor: pointer
            display: block
            font-size: 22px
            font-weight: 700
            min-width: 50px
            text-align: center
            padding: 8px 12px
            border-radius: 4px
            transition-duration: 0.2s
            @media (max-width: 500px)
                font-size: 20px
            @media (max-width: 400px)
                font-size: 17px
                padding: 8px

        &__separator
            width: 3px
            height: 30px
            margin: 0 3px
            background: #000
            border-radius: 6px
            @media (max-width: 500px)
                width: 2px
        
        &__text
            font-size: 16px
            
            text-align: justify
            margin: 20px 0 40px 0
            line-height: 1.5
            letter-spacing: 0.2px
            font-weight: 500
        &__slider
            height: 18px
            width: 100%
            position: relative
            background: #ff8300
            border-radius: 20px
            margin: 30px 0 10px 0
        &__scale
            display: flex
            width: 100%
            justify-content: space-between
        &__mark
            font-size: 16px
            &--1
                margin: 0 0 0 30px
            &--2
                margin: 0 0 0 22px
            &--3
                margin: 0 0 0 20px

        &__note
            font-size: 14px
            color: #c5c5c5
            text-align: justify
        &__flex
            display: flex
            align-items: center
            position: relative
            margin: 40px 0 40px 0
            &__part
                display: flex
                align-items: center
                &--hide
                    display: none
            &__summ
                font-size: 16px
                
                letter-spacing: 0.2px
            input
                border: none
                background: #f9f9f9
                border: 1px solid #e5e5e5
                border-radius: 10px
                margin: 0 10px
                padding: 5px 15px
                font-size: 24px
                font-weight: 500
                width: 160px
                text-align: center
                outline: none
            &__currency
                font-size: 16px
                
                letter-spacing: 0.2px
            &__choice
                user-select: none
                background: #f9f9f9
                border: 1px solid #e5e5e5
                width: 100px
                padding: 7px 10px
                text-align: center
                cursor: pointer
                &-left
                    border-radius: 10px 0 0 10px
                    margin: 0 0 0 10px
                &-right
                    border-radius: 0 10px 10px 0
                &--active
                    background: #ff8300
                    border: 1px solid #ff8300
                    box-shadow: 0 0 15px 1px #ff8300aa
                    color: #fff
                    text-shadow: 0 0 6px rgba(0,0,0,0.4)
            &__radio
                display: flex
                display: none
                position: absolute
                width: 200px
                right: 0
                top: -10px




    &__right
        min-width: 350px
        min-height: 400px
        position: relative
        height: 100%
        width: 35%
        &__column
            position: relative
            min-height: 400px
            position: relative
            margin: 0 5%
            width: 90%
            height: 100%
            background: #f0f0f0
            background: linear-gradient(23deg, rgba(240,240,240,1) 0%, rgba(249,249,249,1) 75%)
            border-radius: 15px
            display: flex
            justify-content: flex-end
            flex-direction: column
            overflow: hidden
            &:before
                content: ""
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                background: url("../img/calc_scale.png")
            &__grow
                position: relative
                height: 100px
                width: 100%
                background: #ff8300
                background: linear-gradient(0deg, #ff8300ee 0%, #ff8300aa 100%)
                border-radius: 2px
                display: flex
                justify-content: center
                align-items: center
                flex-direction: column
                &__label
                    font-size: 14px
                    background: #ffffff99
                    padding: 3px 8px
                    border-radius: 5px
                    text-shadow: 0 0 1px rgba(0,0,0,0.4)
                &__itog
                    font-size: 24px
                    margin-top: 10px
                    background: #ffffff99
                    padding: 3px 8px
                    border-radius: 5px
                    text-shadow: 0 0 1px rgba(0,0,0,0.4)
            &__tarif
                height: 0px
                display: flex
                justify-content: center
                align-items: center
                border-radius: 0 0 15px 15px

                &__label
                    font-size: 16px
                    margin-right: 8px
                    text-shadow: 0 0 1px rgba(0,0,0,0.4)
                &__result
                    font-size: 16px
                    text-shadow: 0 0 1px rgba(0,0,0,0.4)
                    text-transform: uppercase
                    border: 1px dashed #a5a5a5
                    border-radius: 50px
                    padding: 5px 12px
                    letter-spacing: 0.5px






.ui-slider-range
    background: #ff8300 !important
.ui-slider-handle
    border-radius: 50px !important
    border: 6px solid #ffffff !important
    background: #ff8300 !important
    box-shadow: 0 0 15px 2px rgba(0,0,0,0.2)
    outline: none !important
    width: 26px !important
    height: 26px !important
    margin-left: -14px !important
    margin-top: -3px !important
    cursor: pointer !important
.ui-widget
    background: #fafafa !important
    border: 1px solid #e5e5e5 !important
    border-radius: 20px !important




@media (max-width: 1080px)
    .calc
        flex-wrap: wrap
        max-width: 650px
        &__right
            margin: 30px auto 20px auto


@media (max-width: 740px)
    .calc
        &__left
            width: 100%
            min-width: 250px
            &__flex
                flex-wrap: wrap
                justify-content: center
                &__part
                    margin: 10px
        &__right
            width: 100%
            max-width: 350px
            min-width: 250px

@media (max-width: 500px)
    .calc
        padding: 20px 0 40px 0

@media (max-width: 420px)
    .calc
        &__left
            &__title
                text-align: center
            &__flex
                &__summ
                    margin-bottom: 10px
                &__currency
                    margin-bottom: 10px
                &__part
                    flex-wrap: wrap
                    justify-content: center
                    max-width: 260px