
body
    position: relative

.calc
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: sans-serif
    position: relative
    width: 100%
    max-width: 1190px
    min-height: 250px
    margin: 50px auto
    display: flex
    flex-direction: column


    *
        padding: 0
        margin: 0
        box-sizing: border-box
        font-family: sans-serif
        position: relative

    &__step
        width: 100%
        max-width: 600px
        padding: 30px 10px
        min-height: 250px
        margin: 0 auto 30px auto
        overflow: hidden
        &--start
            padding: 30px
            //background: #86BB5B
            background: #4D3BFE
            border-radius: 20px
            display: flex
            justify-content: center
            flex-direction: column
            @media ( max-width: 550px )
                padding: 20px 30px
                min-height: 100px

    &__text
        &--note
            color: #999
            margin: 20px 0 0 0
            font-size: 13px
        &--calory
            margin: 20px 0 5px 0
        &--value
            font-size: 24px
            font-weight: 600
            color: #333
            @media ( max-width: 550px )
                font-size: 20px
        &--gray
            color: #999
            font-size: 18px
            font-weight: 600
            margin: 0 0 5px 0
            @media ( max-width: 550px )
                font-size: 16px
        &--blue
            font-size: 18px
            margin: 0 0 40px 0
            color: #4D3BFE
        &--title
            font-size: 18px
            font-weight: 600
            margin: 20px 0 10px 0
        &--start
            font-size: 30px
            color: #fff
            font-weight: 600
            max-width: 300px
            margin: 20px 0 0 0
            @media ( max-width: 550px )
                font-size: 24px

    &__btn
        width: 100%
        height: 64px
        background: #4D3BFE
        color: #fff
        font-size: 22px
        border-radius: 10px
        display: flex
        justify-content: center
        align-items: center
        font-weight: 600
        margin: 50px 0 10px 0
        cursor: pointer
        transition-duration: 0.2s
        user-select: none
        box-shadow: 0 8px 12px 1px rgba(0,0,0,0.2)
        &--start
            background: #fff
            color: #333
            width: 180px
            height: 54px
            margin: 20px 0
        &:hover
            opacity: 0.8
        &:active
            opacity: 0.2

    &__cover
        position: absolute
        bottom: -50px
        right: 20px
        @media ( max-width: 550px )
            width: 50%
            right: -10%

    &__navigation
        display: flex
        justify-content: space-between

    &__back
        cursor: pointer
        transition-duration: 0.2s
        &:hover
            color: #4D3BFE

    &__count
        &--span
            color: #4D3BFE
            font-weight: 600

    &__title
        font-size: 36px
        font-weight: 600
        margin: 20px 0 40px 0
        @media ( max-width: 550px )
            font-size: 28px

    &__choice
        display: flex
        justify-content: space-between
        &--wrap
            flex-wrap: wrap

    &__radio
        display: none
        &:checked + .calc__label
            border: 3px solid #4D3BFE
            background: #fff

    &__icon
        width: 40px
        height: 40px

    &__label
        border-radius: 10px
        background: #eee
        border: 3px solid #eee
        padding: 20px
        height: 64px
        display: flex
        justify-content: center
        align-items: center
        font-size: 20px
        color: #444
        font-weight: 600
        width: 48%
        transition-duration: 0.2s
        cursor: pointer
        margin: 0 0 10px 0
        @media ( max-width: 550px )
            font-size: 17px
        &--between
            justify-content: space-between
        &--long
            width: 100%
        &:hover
            background: #d3dfff
            border: 3px solid #d3dfff

    &__input
        height: 64px
        width: 100%
        font-size: 24px
        color: #444
        padding: 0 20px
        border-radius: 10px
        border: 2px solid #222
        font-weight: 600

    &__itog
        display: flex
        justify-content: space-between
        margin: 100px 0 60px 0
        @media ( max-width: 1090px )
            flex-wrap: wrap


    &__box
        //display: flex
        width: 48%
        padding: 50px 50px
        border-radius: 10px
        border: 3px solid #ddd
        @media ( max-width: 1090px )
            width: 100%
            margin: 0 0 20px 0
        @media ( max-width: 550px )
            padding: 40px 30px
        &--calory
            width: 100%
            padding: 0
            border: none
            display: flex
            justify-content: space-between
            @media ( max-width: 1090px )
                flex-wrap: wrap
        &--nobor
            border: none
            display: flex
            flex-direction: column
            justify-content: space-between
            padding: 0

    &__flex
        display: flex
        justify-content: space-between

    &__chart
        width: 400px
        height: 220px
        display: block
        @media ( max-width: 550px )
            width: 100%
            height: 190px
        @media ( max-width: 390px )
            height: 150px

    &__scale
        display: flex
        flex-direction: column
        justify-content: space-between
        color: #777
        @media ( max-width: 550px )
            font-size: 13px
        &--hor
            margin: 20px 0 0 0
            flex-direction: row
            padding: 0 0 0 40px
            font-size: 14px
            @media ( max-width: 550px )
                font-size: 11px

    &__item
        width: 100%
        padding: 10px 30px
        border-radius: 10px
        border: 3px solid #ddd
        height: 30%
        display: flex
        align-items: center
        @media ( max-width: 1090px )
            min-height: 100px
            margin: 0 0 20px 0
        @media ( max-width: 550px )
            padding: 10px 20px

    &__pict
        width: 70px
        height: 70px
        margin: 0 30px 0 0
        flex-shrink: 0
        @media ( max-width: 550px )
            width: 50px
            height: 50px
            margin: 0 20px 0 0
        &--1
            background: url("../img/icon2.png") no-repeat
            background-size: 80% 80%
            background-position: 50% 50%
        &--2
            background: url("../img/icon1.png") no-repeat
            background-size: 80% 80%
            background-position: 50% 50%
        &--3
            background: url("../img/icon3.png") no-repeat
            background-size: 80% 80%
            background-position: 50% 50%

    &__table

    &__burn
        border: 3px solid #ddd
        width: 32%
        border-radius: 10px
        padding: 30px
        @media ( max-width: 1090px )
            width: 100%
            margin: 0 0 20px 0
        @media ( max-width: 550px )
            padding: 20px

    &__result
        @media ( max-width: 1090px )
            max-width: 600px
            margin: 0 auto