$green: #58B747
$gray: #f5f5f5

*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: sans-serif

body
    position: relative

.calc
    position: relative
    width: 100%
    max-width: 1000px
    background: $gray
    border-radius: 4px
    margin: 30px auto
    padding: 30px
    display: flex
    justify-content: space-between
    @media ( max-width: 999px )
        flex-wrap: wrap
        max-width: 530px
    @media ( max-width: 430px )
        padding: 30px 10px

    *
        font-family: 'PT Sans', Arial, sans-serif

    &__left
        position: relative
        width: 50%
        @media ( max-width: 999px )
            width: 100%

    &__right
        position: relative
        width: 45%
        @media ( max-width: 999px )
            width: 100%

    &__flex
        display: flex
        justify-content: space-between

        &--result
            flex-wrap: wrap

    &__box
        background: #fff
        position: relative
        width: 100%
        border: 1px solid #ddd
        border-left: 1px solid #ddd
        border-right: 1px solid #ddd
        border-radius: 6px
        padding: 0 15px
        margin: 0 0 30px 0

        &--fst
            margin: 30px 0

        &--small
            width: 47%
            @media ( max-width: 430px )
                width: 48%

    &__title
        margin: 15px 0 0 0
        font-size: 18px
        color: #777
        user-select: none
        @media ( max-width: 370px )
            font-size: 16px

        &--sm
            @media ( max-width: 510px )
                max-width: 145px

        &--fz
            font-size: 19px
            @media ( max-width: 370px )
                text-align: center
                font-size: 17px

    &__input
        padding: 2px 0
        font-size: 20px
        width: 50%
        border: none
        margin: 8px 0 12px 0
        outline: none

    &__polzunok
        // &::before
        //     content: ""
        //     position: absolute
        //     width: 100%
        //     height: 1px
        //     background: #ddd
        //     top: 2px

    &__percent
        position: absolute
        right: 18px
        top: 50%
        margin: -11px 0 0 0
        height: 22px
        line-height: 22px
        font-size: 18px
        @media ( max-width: 430px )
            margin: 0
            top: 55%

    &__result
        width: 100%
        height: 100%
        position: relative
        background: #fff
        border-radius: 20px
        //box-shadow: 0 4px 20px 0 rgba(0,0,0,0.05)
        padding: 25px 30px
        display: flex
        flex-direction: column
        justify-content: space-between
        @media ( max-width: 999px )
            padding: 15px 30px 30px 30px
        @media ( max-width: 430px )
            padding: 15px 20px 30px 20px

    &__line
        margin: 10px 0 20px 0
        @media ( max-width: 999px )
            margin: 10px 0 0 0
        @media ( max-width: 370px )
            width: 100%

    &__amount
        font-size: 22px
        margin: 10px 0
        @media ( max-width: 370px )
            text-align: center
            font-size: 20px

        &--big
            font-size: 30px

    &__btn
        width: calc( 100% - 60px )
        background: $green
        text-align: center
        color: #fff
        padding: 20px
        width: 100%
        margin: 30px 0 0 0
        border-radius: 6px
        font-size: 20px
        letter-spacing: 1px
        transition-duration: 0.3s
        text-decoration: none
        user-select: none

        &:hover
            opacity: 0.8

        &:active
            opacity: 0.2











.ui-slider
    position: absolute !important
    width: calc( 100% - 8px )
    left: 4px
    bottom: -1px
    background: transparent !important
    height: 3px !important
    border: none !important

.ui-slider-range
    background: $green !important

.ui-slider-handle
    border-radius: 50px !important
    background: $green !important
    border: none !important
    outline: none !important
    margin-top: -3px !important
    cursor: pointer !important
    box-shadow: 0 3px 10px 0px rgba(0,0,0,0.1)