*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: roboto, sans-serif

.m-r-20
    margin-right: 20px
.m-l-20
    margin-left: 20px

.b-sp-10
    height: 10px
.b-sp-20
    height: 20px
.b-sp-30
    height: 30px
.b-sp-40
    height: 40px
.b-sp-50
    height: 50px

.t28
    font-size: 28px
    margin-bottom: 15px
.t20
    font-size: 20px
.t18
    font-size: 18px

.mw38
    min-width: 38px

.calc
    &__wrap
        max-width: 960px
        display: flex
        flex-direction: column
        padding: 40px 30px

    &__card
        padding: 40px 40px 20px 40px
        border-radius: 10px
        box-shadow: 0 4px 22px 1px rgba(0,0,0,0.07)
        &__line
            display: flex
            align-items: center
            flex-wrap: wrap
            justify-content: space-between
            &__text
                width: 100%
                max-width: 620px
            &__input
                align-items: center
                display: flex

    &__flex
        display: flex
        &--wrap
            flex-wrap: wrap
        &--jcc
            justify-content: center
        &--jcsb
            justify-content: space-between
        &--aic
            align-items: center
        &--fdc
            flex-direction: column

        &__radio
            width: 100%
            max-width: 240px
            height: 110px
            margin: 20px 0 0 0
            &__input
                display: flex
                align-items: center

    &__btn
        width: 80%
        max-width: 300px
        margin: 0 auto
        padding: 20px 15px
        border-radius: 5px
        background: #0080ff
        font-size: 20px
        color: #fff
        display: block
        cursor: pointer
        text-align: center
        box-shadow: 0 4px 10px 1px rgba(0,0,0,0.2)
        transition-duration: 0.15s
        &:hover
            background: #0071e1
            max-width: 320px

    &__input
        &__in
            text-align: center
            max-width: 90px
            min-width: 90px
            width: 100%
            border-radius: 5px
            border: 1px solid #e5e5e5
            margin: 20px 0 20px 0
            height: 34px
            padding: 10px 15px
            font-size: 18px
        &__out
            font-size: 24px
            max-width: 240px
            min-width: 160px
            width: 100%
            border-bottom: 1px solid #e5e5e5
            border-left: none
            border-right: none
            border-top: none
            margin: 5px 0 15px 10px
            background: transparent
            text-align: center
            &:active
                outline: 0;
                outline-offset: 0;
            &:hover
                outline: 0;
                outline-offset: 0;
            &:focus
                outline: 0;
                outline-offset: 0;

    &__out
        display: inline-block
        font-size: 24px
        border-bottom: 1px solid #e5e5e5
        margin: 5px 0 15px 0
        padding: 0 15px
        text-align: center


.calc-flex-column
    display: flex
    flex-direction: column
    flex-wrap: wrap
.calc-flex
    align-items: center
    display: flex
    flex-wrap: wrap
.calc-flex-2
    display: flex
    align-items: center


// .calc-line
//     height: 1px
//     width: 100%
//     margin: 20px auto 30px auto
//     background: #e5e5e5









.print
    padding: 20px 0 0 0
    display: block
    position: relative
    &__title
        margin: 40px 0 50px 0
        font-size: 22px
        text-align: center
        font-weight: 600
        &__date
            font-size: 22px
            border-bottom: 1px solid #d0d0d0
            margin: 10px 0 0 0
    &__phone
        text-align: right
    &__flex
        position: relative
        display: flex
        align-items: flex-end
        align-items: center
        &__border
            border: 1px solid #e5e5e5
    &__text
        display: flex
        align-items: center
        padding: 0 15px
        font-size: 14px
        height: 56px
        width: 100%
        border-right: 1px solid #e5e5e5
    &__text__out
        display: flex
        align-items: center
        padding: 0 15px
        font-size: 14px
        height: 56px
        width: 165px
        font-weight: 600
    &__text--itog
        font-size: 20px
    &__text__out--itog
        font-weight: 600
    &__line
        border-top: 1px dashed #d0d0d0










@media (max-width: 966px)
    // .t20
    //     min-width: 100%

@media (max-width: 500px)
    .t28
        font-size: 24px
    .t20
        font-size: 18px
    .t18
        font-size: 16px
    .calc__wrap
        padding: 40px 10px


@media (max-width: 400px)
    .calc
        &__card
            padding: 40px 20px
            &__line
                justify-content: center
        &__out
            margin: 0 auto
        &__input__in
            margin-left: 30px
            width: 110px
            max-width: none
            min-width: none
        &__flex__radio
            max-width: 210px
            margin: 0 auto
            &__input
                justify-content: center

    .m-l-20
        margin-left: 10px
    .m-r-20
        margin-right: 0px

    .t28
        font-size: 21px
        text-align: center
        width: 100%
    .t20
        font-size: 17px
        text-align: center



@media print
    body
        *
            display: none !important
    #go-print
        display: none
    .print
        display: block !important
        *
            display: block !important
        &__flex
            display: flex !important
        &__text
            display: flex !important
        &__text__out
            display: flex !important
        &__title__date
            display: inline-block !important