@charset "UTF-8";
body {
  background: #eee;
}

.calc {
  position: relative;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  margin: 100px auto;
  background: #fff;
  width: 100%;
  max-width: 1100px;
  padding: 40px 30px;
}

@media (max-width: 860px) {
  .calc {
    padding: 40px 0;
  }
}

.calc * {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  position: relative;
}

.calc__header {
  color: #242632;
  font-size: 32px;
  font-weight: 600;
  margin: 0 0 10px 0;
  text-align: center;
}

.calc__descr {
  text-align: center;
  margin: 20px 0;
  font-size: 18px;
  color: #397AC4;
}

.calc__wrap {
  margin: 50px 0 0 0;
  padding: 0 20px;
}

.calc__left {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}

@media (max-width: 750px) {
  .calc__left {
    max-width: 300px;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.calc__right {
  width: 100%;
  border-top: 1px solid #ddd;
  margin: 30px 0 30px 0;
  padding: 30px 20px;
}

.calc__step {
  margin: 0 0 20px 0;
}

@media (max-width: 750px) {
  .calc__step {
    width: 100%;
    max-width: 250px;
  }
}

.calc__title {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 20px 0;
}

@media (max-width: 750px) {
  .calc__title {
    text-align: center;
  }
}

.calc__radio {
  display: none;
}

.calc__radio:checked + .calc__remont::after {
  display: block;
}

.calc__remont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px 0 0;
  font-size: 17px;
  cursor: pointer;
}

.calc__remont::after {
  content: "";
  display: none;
  width: 20px;
  height: 20px;
  left: 0;
  background: #397AC4;
  border-radius: 50px;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #fff;
  -webkit-box-shadow: 0 0 0 1px #bbb;
          box-shadow: 0 0 0 1px #bbb;
}

.calc__remont::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #bbb;
  border-radius: 50px;
  margin: 0 8px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
}

.calc__line {
  margin: 0 0 20px 0;
}

.calc__check {
  display: none;
}

.calc__check:checked + .calc__label::before {
  content: "✔";
}

.calc__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 17px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.calc__label::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 2px 0;
  width: 20px;
  height: 20px;
  border: 1px solid #bbb;
  color: #397AC4;
  border-radius: 2px;
  margin: 0 8px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
}

.calc__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 750px) {
  .calc__result {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.calc__box {
  width: 20%;
}

@media (max-width: 750px) {
  .calc__box {
    width: 100%;
  }
}

.calc__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 23px;
  color: #242632;
  font-weight: 600;
  text-align: center;
}

.calc__block--label {
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0 0 0;
}

.calc__math {
  width: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 900;
  color: #FFDD76;
  font-size: 40px;
  text-align: center;
}

@media (max-width: 750px) {
  .calc__math {
    width: 100%;
  }
}

.calc__btn {
  margin: 10px auto 10px auto;
  width: 100%;
  max-width: 400px;
  height: 50px;
  background: #397AC4;
}

.calc__form {
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 8px 15px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 8px 15px 1px rgba(0, 0, 0, 0.1);
  padding: 50px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
}

@media (max-width: 860px) {
  .calc__form {
    padding: 50px 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 750px) {
  .calc__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.calc__input {
  text-transform: uppercase;
  padding: 14px;
  border: 1px solid #FFB022;
  width: 100%;
  max-width: 250px;
  margin: 0 15px;
  border-radius: 4px;
  outline: none;
}

@media (max-width: 860px) {
  .calc__input {
    width: 31%;
    margin: 0;
    max-width: 500px;
  }
}

@media (max-width: 750px) {
  .calc__input {
    width: 100%;
    margin: 0 auto 20px auto;
    max-width: 400px;
  }
}

.calc__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  width: 100%;
  max-width: 250px;
  padding: 14px;
  margin: 0 15px;
  border-radius: 4px;
  border: none;
  background: #FFB022;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  outline: none;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

@media (max-width: 860px) {
  .calc__submit {
    max-width: 500px;
    width: 31%;
    margin: 0;
  }
}

@media (max-width: 750px) {
  .calc__submit {
    width: 100%;
    margin: 0 auto 20px auto;
    max-width: 400px;
  }
}

.calc__submit:hover {
  background: #E59300;
}
/*# sourceMappingURL=main.css.map */