@font-face {
    font-family: 'Intro Rust H1 Fill 2 Shade';
    src: url('IntroRustH1-Fill2Shade.eot');
    src: local('Intro Rust H1 Fill 2 Shade'), local('IntroRustH1-Fill2Shade'),
        url('IntroRustH1-Fill2Shade.eot?#iefix') format('embedded-opentype'),
        url('IntroRustH1-Fill2Shade.woff') format('woff'),
        url('IntroRustH1-Fill2Shade.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust G Base 2 Line';
    src: url('IntroRustG-Base2Line.eot');
    src: local('Intro Rust G Base 2 Line'), local('IntroRustG-Base2Line'),
        url('IntroRustG-Base2Line.eot?#iefix') format('embedded-opentype'),
        url('IntroRustG-Base2Line.woff') format('woff'),
        url('IntroRustG-Base2Line.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust L Fill 2';
    src: url('IntroRustL-Fill2.eot');
    src: local('Intro Rust L Fill 2'), local('IntroRustL-Fill2'),
        url('IntroRustL-Fill2.eot?#iefix') format('embedded-opentype'),
        url('IntroRustL-Fill2.woff') format('woff'),
        url('IntroRustL-Fill2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust G Fill';
    src: url('IntroRustG-Fill.eot');
    src: local('Intro Rust G Fill'), local('IntroRustG-Fill'),
        url('IntroRustG-Fill.eot?#iefix') format('embedded-opentype'),
        url('IntroRustG-Fill.woff') format('woff'),
        url('IntroRustG-Fill.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust Base Shade';
    src: url('IntroRust-BaseShade.eot');
    src: local('Intro Rust Base Shade'), local('IntroRust-BaseShade'),
        url('IntroRust-BaseShade.eot?#iefix') format('embedded-opentype'),
        url('IntroRust-BaseShade.woff') format('woff'),
        url('IntroRust-BaseShade.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust G Base 2 Line Shade';
    src: url('IntroRustG-Base2LineShade.eot');
    src: local('Intro Rust G Base 2 Line Shade'), local('IntroRustG-Base2LineShade'),
        url('IntroRustG-Base2LineShade.eot?#iefix') format('embedded-opentype'),
        url('IntroRustG-Base2LineShade.woff') format('woff'),
        url('IntroRustG-Base2LineShade.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust H1 Base 2 Line';
    src: url('IntroRustH1-Base2Line.eot');
    src: local('Intro Rust H1 Base 2 Line'), local('IntroRustH1-Base2Line'),
        url('IntroRustH1-Base2Line.eot?#iefix') format('embedded-opentype'),
        url('IntroRustH1-Base2Line.woff') format('woff'),
        url('IntroRustH1-Base2Line.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust G Fill 2 Shade';
    src: url('IntroRustG-Fill2Shade.eot');
    src: local('Intro Rust G Fill 2 Shade'), local('IntroRustG-Fill2Shade'),
        url('IntroRustG-Fill2Shade.eot?#iefix') format('embedded-opentype'),
        url('IntroRustG-Fill2Shade.woff') format('woff'),
        url('IntroRustG-Fill2Shade.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust G Fill 2 Line';
    src: url('IntroRustG-Fill2Line.eot');
    src: local('Intro Rust G Fill 2 Line'), local('IntroRustG-Fill2Line'),
        url('IntroRustG-Fill2Line.eot?#iefix') format('embedded-opentype'),
        url('IntroRustG-Fill2Line.woff') format('woff'),
        url('IntroRustG-Fill2Line.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust H2 Base 2 Line Shade';
    src: url('IntroRustH2-Base2LineShade.eot');
    src: local('Intro Rust H2 Base 2 Line Shade'), local('IntroRustH2-Base2LineShade'),
        url('IntroRustH2-Base2LineShade.eot?#iefix') format('embedded-opentype'),
        url('IntroRustH2-Base2LineShade.woff') format('woff'),
        url('IntroRustH2-Base2LineShade.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust L Fill 2 Shade';
    src: url('IntroRustL-Fill2Shade.eot');
    src: local('Intro Rust L Fill 2 Shade'), local('IntroRustL-Fill2Shade'),
        url('IntroRustL-Fill2Shade.eot?#iefix') format('embedded-opentype'),
        url('IntroRustL-Fill2Shade.woff') format('woff'),
        url('IntroRustL-Fill2Shade.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust Book Base H1';
    src: url('IntroRustBook-BaseH1.eot');
    src: local('Intro Rust Book Base H1'), local('IntroRustBook-BaseH1'),
        url('IntroRustBook-BaseH1.eot?#iefix') format('embedded-opentype'),
        url('IntroRustBook-BaseH1.woff') format('woff'),
        url('IntroRustBook-BaseH1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust Book Base L';
    src: url('IntroRustBook-BaseL.eot');
    src: local('Intro Rust Book Base L'), local('IntroRustBook-BaseL'),
        url('IntroRustBook-BaseL.eot?#iefix') format('embedded-opentype'),
        url('IntroRustBook-BaseL.woff') format('woff'),
        url('IntroRustBook-BaseL.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust G Fill Shade';
    src: url('IntroRustG-FillShade.eot');
    src: local('Intro Rust G Fill Shade'), local('IntroRustG-FillShade'),
        url('IntroRustG-FillShade.eot?#iefix') format('embedded-opentype'),
        url('IntroRustG-FillShade.woff') format('woff'),
        url('IntroRustG-FillShade.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust H1 Fill';
    src: url('IntroRustH1-Fill.eot');
    src: local('Intro Rust H1 Fill'), local('IntroRustH1-Fill'),
        url('IntroRustH1-Fill.eot?#iefix') format('embedded-opentype'),
        url('IntroRustH1-Fill.woff') format('woff'),
        url('IntroRustH1-Fill.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust L Fill Shade';
    src: url('IntroRustL-FillShade.eot');
    src: local('Intro Rust L Fill Shade'), local('IntroRustL-FillShade'),
        url('IntroRustL-FillShade.eot?#iefix') format('embedded-opentype'),
        url('IntroRustL-FillShade.woff') format('woff'),
        url('IntroRustL-FillShade.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust H2 Fill Shade';
    src: url('IntroRustH2-FillShade.eot');
    src: local('Intro Rust H2 Fill Shade'), local('IntroRustH2-FillShade'),
        url('IntroRustH2-FillShade.eot?#iefix') format('embedded-opentype'),
        url('IntroRustH2-FillShade.woff') format('woff'),
        url('IntroRustH2-FillShade.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust Book H2';
    src: url('IntroRustBook-H2.eot');
    src: local('Intro Rust Book H2'), local('IntroRustBook-H2'),
        url('IntroRustBook-H2.eot?#iefix') format('embedded-opentype'),
        url('IntroRustBook-H2.woff') format('woff'),
        url('IntroRustBook-H2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust Book Base G';
    src: url('IntroRustBook-BaseG.eot');
    src: local('Intro Rust Book Base G'), local('IntroRustBook-BaseG'),
        url('IntroRustBook-BaseG.eot?#iefix') format('embedded-opentype'),
        url('IntroRustBook-BaseG.woff') format('woff'),
        url('IntroRustBook-BaseG.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust BookL';
    src: url('IntroRustBook-L.eot');
    src: local('Intro Rust Book L'), local('IntroRustBook-L'),
        url('IntroRustBook-L.eot?#iefix') format('embedded-opentype'),
        url('IntroRustBook-L.woff') format('woff'),
        url('IntroRustBook-L.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust Line';
    src: url('IntroRust-Line.eot');
    src: local('Intro Rust Line'), local('IntroRust-Line'),
        url('IntroRust-Line.eot?#iefix') format('embedded-opentype'),
        url('IntroRust-Line.woff') format('woff'),
        url('IntroRust-Line.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust H2 Fill';
    src: url('IntroRustH2-Fill.eot');
    src: local('Intro Rust H2 Fill'), local('IntroRustH2-Fill'),
        url('IntroRustH2-Fill.eot?#iefix') format('embedded-opentype'),
        url('IntroRustH2-Fill.woff') format('woff'),
        url('IntroRustH2-Fill.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust H2 Base Shade';
    src: url('IntroRustH2-BaseShade.eot');
    src: local('Intro Rust H2 Base Shade'), local('IntroRustH2-BaseShade'),
        url('IntroRustH2-BaseShade.eot?#iefix') format('embedded-opentype'),
        url('IntroRustH2-BaseShade.woff') format('woff'),
        url('IntroRustH2-BaseShade.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust Book Base H2';
    src: url('IntroRustBook-BaseH2.eot');
    src: local('Intro Rust Book Base H2'), local('IntroRustBook-BaseH2'),
        url('IntroRustBook-BaseH2.eot?#iefix') format('embedded-opentype'),
        url('IntroRustBook-BaseH2.woff') format('woff'),
        url('IntroRustBook-BaseH2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust L Base 2 Line';
    src: url('IntroRustL-Base2Line.eot');
    src: local('Intro Rust L Base 2 Line'), local('IntroRustL-Base2Line'),
        url('IntroRustL-Base2Line.eot?#iefix') format('embedded-opentype'),
        url('IntroRustL-Base2Line.woff') format('woff'),
        url('IntroRustL-Base2Line.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust L Fill 2 Line Shade';
    src: url('IntroRustL-Fill2LineShade.eot');
    src: local('Intro Rust L Fill 2 Line Shade'), local('IntroRustL-Fill2LineShade'),
        url('IntroRustL-Fill2LineShade.eot?#iefix') format('embedded-opentype'),
        url('IntroRustL-Fill2LineShade.woff') format('woff'),
        url('IntroRustL-Fill2LineShade.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust Base Line';
    src: url('IntroRust-BaseLine.eot');
    src: local('Intro Rust Base Line'), local('IntroRust-BaseLine'),
        url('IntroRust-BaseLine.eot?#iefix') format('embedded-opentype'),
        url('IntroRust-BaseLine.woff') format('woff'),
        url('IntroRust-BaseLine.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust H2 Fill 2 Shade';
    src: url('IntroRustH2-Fill2Shade.eot');
    src: local('Intro Rust H2 Fill 2 Shade'), local('IntroRustH2-Fill2Shade'),
        url('IntroRustH2-Fill2Shade.eot?#iefix') format('embedded-opentype'),
        url('IntroRustH2-Fill2Shade.woff') format('woff'),
        url('IntroRustH2-Fill2Shade.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust G Base';
    src: url('IntroRustG-Base.eot');
    src: local('Intro Rust G Base'), local('IntroRustG-Base'),
        url('IntroRustG-Base.eot?#iefix') format('embedded-opentype'),
        url('IntroRustG-Base.woff') format('woff'),
        url('IntroRustG-Base.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust L Fill';
    src: url('IntroRustL-Fill.eot');
    src: local('Intro Rust L Fill'), local('IntroRustL-Fill'),
        url('IntroRustL-Fill.eot?#iefix') format('embedded-opentype'),
        url('IntroRustL-Fill.woff') format('woff'),
        url('IntroRustL-Fill.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust G Fill 2 Line Shade';
    src: url('IntroRustG-Fill2LineShade.eot');
    src: local('Intro Rust G Fill 2 Line Shade'), local('IntroRustG-Fill2LineShade'),
        url('IntroRustG-Fill2LineShade.eot?#iefix') format('embedded-opentype'),
        url('IntroRustG-Fill2LineShade.woff') format('woff'),
        url('IntroRustG-Fill2LineShade.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust H2 Fill 2 Line';
    src: url('IntroRustH2-Fill2Line.eot');
    src: local('Intro Rust H2 Fill 2 Line'), local('IntroRustH2-Fill2Line'),
        url('IntroRustH2-Fill2Line.eot?#iefix') format('embedded-opentype'),
        url('IntroRustH2-Fill2Line.woff') format('woff'),
        url('IntroRustH2-Fill2Line.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust L Base Shade';
    src: url('IntroRustL-BaseShade.eot');
    src: local('Intro Rust L Base Shade'), local('IntroRustL-BaseShade'),
        url('IntroRustL-BaseShade.eot?#iefix') format('embedded-opentype'),
        url('IntroRustL-BaseShade.woff') format('woff'),
        url('IntroRustL-BaseShade.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust H1 Fill 2';
    src: url('IntroRustH1-Fill2.eot');
    src: local('Intro Rust H1 Fill 2'), local('IntroRustH1-Fill2'),
        url('IntroRustH1-Fill2.eot?#iefix') format('embedded-opentype'),
        url('IntroRustH1-Fill2.woff') format('woff'),
        url('IntroRustH1-Fill2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust H2 Base';
    src: url('IntroRustH2-Base.eot');
    src: local('Intro Rust H2 Base'), local('IntroRustH2-Base'),
        url('IntroRustH2-Base.eot?#iefix') format('embedded-opentype'),
        url('IntroRustH2-Base.woff') format('woff'),
        url('IntroRustH2-Base.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust H2 Fill 2 Line Shade';
    src: url('IntroRustH2-Fill2LineShade.eot');
    src: local('Intro Rust H2 Fill 2 Line Shade'), local('IntroRustH2-Fill2LineShade'),
        url('IntroRustH2-Fill2LineShade.eot?#iefix') format('embedded-opentype'),
        url('IntroRustH2-Fill2LineShade.woff') format('woff'),
        url('IntroRustH2-Fill2LineShade.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust Book H1';
    src: url('IntroRustBook-H1.eot');
    src: local('Intro Rust Book H1'), local('IntroRustBook-H1'),
        url('IntroRustBook-H1.eot?#iefix') format('embedded-opentype'),
        url('IntroRustBook-H1.woff') format('woff'),
        url('IntroRustBook-H1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust H1 Base 2 Line Shade';
    src: url('IntroRustH1-Base2LineShade.eot');
    src: local('Intro Rust H1 Base 2 Line Shade'), local('IntroRustH1-Base2LineShade'),
        url('IntroRustH1-Base2LineShade.eot?#iefix') format('embedded-opentype'),
        url('IntroRustH1-Base2LineShade.woff') format('woff'),
        url('IntroRustH1-Base2LineShade.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust H1 Base';
    src: url('IntroRustH1-Base.eot');
    src: local('Intro Rust H1 Base'), local('IntroRustH1-Base'),
        url('IntroRustH1-Base.eot?#iefix') format('embedded-opentype'),
        url('IntroRustH1-Base.woff') format('woff'),
        url('IntroRustH1-Base.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust H1 Fill 2 Line';
    src: url('IntroRustH1-Fill2Line.eot');
    src: local('Intro Rust H1 Fill 2 Line'), local('IntroRustH1-Fill2Line'),
        url('IntroRustH1-Fill2Line.eot?#iefix') format('embedded-opentype'),
        url('IntroRustH1-Fill2Line.woff') format('woff'),
        url('IntroRustH1-Fill2Line.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust L Base 2 Line Shade';
    src: url('IntroRustL-Base2LineShade.eot');
    src: local('Intro Rust L Base 2 Line Shade'), local('IntroRustL-Base2LineShade'),
        url('IntroRustL-Base2LineShade.eot?#iefix') format('embedded-opentype'),
        url('IntroRustL-Base2LineShade.woff') format('woff'),
        url('IntroRustL-Base2LineShade.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust Line Shade';
    src: url('IntroRust-LineShade.eot');
    src: local('Intro Rust Line Shade'), local('IntroRust-LineShade'),
        url('IntroRust-LineShade.eot?#iefix') format('embedded-opentype'),
        url('IntroRust-LineShade.woff') format('woff'),
        url('IntroRust-LineShade.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust H2 Base 2 Line';
    src: url('IntroRustH2-Base2Line.eot');
    src: local('Intro Rust H2 Base 2 Line'), local('IntroRustH2-Base2Line'),
        url('IntroRustH2-Base2Line.eot?#iefix') format('embedded-opentype'),
        url('IntroRustH2-Base2Line.woff') format('woff'),
        url('IntroRustH2-Base2Line.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust G Fill 2';
    src: url('IntroRustG-Fill2.eot');
    src: local('Intro Rust G Fill 2'), local('IntroRustG-Fill2'),
        url('IntroRustG-Fill2.eot?#iefix') format('embedded-opentype'),
        url('IntroRustG-Fill2.woff') format('woff'),
        url('IntroRustG-Fill2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust H1 Fill Shade';
    src: url('IntroRustH1-FillShade.eot');
    src: local('Intro Rust H1 Fill Shade'), local('IntroRustH1-FillShade'),
        url('IntroRustH1-FillShade.eot?#iefix') format('embedded-opentype'),
        url('IntroRustH1-FillShade.woff') format('woff'),
        url('IntroRustH1-FillShade.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust Book Base';
    src: url('IntroRustBook-Base.eot');
    src: local('Intro Rust Book Base'), local('IntroRustBook-Base'),
        url('IntroRustBook-Base.eot?#iefix') format('embedded-opentype'),
        url('IntroRustBook-Base.woff') format('woff'),
        url('IntroRustBook-Base.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust L Base';
    src: url('IntroRustL-Base.eot');
    src: local('Intro Rust L Base'), local('IntroRustL-Base'),
        url('IntroRustL-Base.eot?#iefix') format('embedded-opentype'),
        url('IntroRustL-Base.woff') format('woff'),
        url('IntroRustL-Base.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust Base Line Shade';
    src: url('IntroRust-BaseLineShade.eot');
    src: local('Intro Rust Base Line Shade'), local('IntroRust-BaseLineShade'),
        url('IntroRust-BaseLineShade.eot?#iefix') format('embedded-opentype'),
        url('IntroRust-BaseLineShade.woff') format('woff'),
        url('IntroRust-BaseLineShade.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust Base';
    src: url('IntroRust-Base.eot');
    src: local('Intro Rust Base'), local('IntroRust-Base'),
        url('IntroRust-Base.eot?#iefix') format('embedded-opentype'),
        url('IntroRust-Base.woff') format('woff'),
        url('IntroRust-Base.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust BookG';
    src: url('IntroRustBook-G.eot');
    src: local('Intro Rust Book G'), local('IntroRustBook-G'),
        url('IntroRustBook-G.eot?#iefix') format('embedded-opentype'),
        url('IntroRustBook-G.woff') format('woff'),
        url('IntroRustBook-G.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust H1 Fill 2 Line Shade';
    src: url('IntroRustH1-Fill2LineShade.eot');
    src: local('Intro Rust H1 Fill 2 Line Shade'), local('IntroRustH1-Fill2LineShade'),
        url('IntroRustH1-Fill2LineShade.eot?#iefix') format('embedded-opentype'),
        url('IntroRustH1-Fill2LineShade.woff') format('woff'),
        url('IntroRustH1-Fill2LineShade.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust G Base Shade';
    src: url('IntroRustG-BaseShade.eot');
    src: local('Intro Rust G Base Shade'), local('IntroRustG-BaseShade'),
        url('IntroRustG-BaseShade.eot?#iefix') format('embedded-opentype'),
        url('IntroRustG-BaseShade.woff') format('woff'),
        url('IntroRustG-BaseShade.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust H2 Fill 2';
    src: url('IntroRustH2-Fill2.eot');
    src: local('Intro Rust H2 Fill 2'), local('IntroRustH2-Fill2'),
        url('IntroRustH2-Fill2.eot?#iefix') format('embedded-opentype'),
        url('IntroRustH2-Fill2.woff') format('woff'),
        url('IntroRustH2-Fill2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust Shade';
    src: url('IntroRust-Shade.eot');
    src: local('Intro Rust Shade'), local('IntroRust-Shade'),
        url('IntroRust-Shade.eot?#iefix') format('embedded-opentype'),
        url('IntroRust-Shade.woff') format('woff'),
        url('IntroRust-Shade.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust L Fill 2 Line';
    src: url('IntroRustL-Fill2Line.eot');
    src: local('Intro Rust L Fill 2 Line'), local('IntroRustL-Fill2Line'),
        url('IntroRustL-Fill2Line.eot?#iefix') format('embedded-opentype'),
        url('IntroRustL-Fill2Line.woff') format('woff'),
        url('IntroRustL-Fill2Line.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Rust H1 Base Shade';
    src: url('IntroRustH1-BaseShade.eot');
    src: local('Intro Rust H1 Base Shade'), local('IntroRustH1-BaseShade'),
        url('IntroRustH1-BaseShade.eot?#iefix') format('embedded-opentype'),
        url('IntroRustH1-BaseShade.woff') format('woff'),
        url('IntroRustH1-BaseShade.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

