


body
    position: relative
    background: #646464

.black
    position: fixed
    width: 100%
    height: 100%
    z-index: 89
    top: 0
    left: 0
    display: none

    &--open
        display: block

.calc
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: sans-serif
    position: relative
    background: #fff
    width: 100%
    max-width: 1300px
    margin: 40px auto
    padding: 30px 15px
    min-height: 300px

    *
        font-size: 14px
        font-family: sans-serif
        box-sizing: border-box
        padding: 0
        margin: 0

    &__header
        font-size: 22px
        font-weight: 600
        margin: 10px 0 20px 0
        padding: 0 0 10px 0
        border-bottom: 1px solid #aaa

    &__line
        display: none
        margin: 5px 0

        &--open
            display: flex

    &__radius
        display: none
        margin: 5px 0
        &--open
            display: flex

    &__karniz
        display: none
        margin: 5px 0
        &--open
            display: flex

    &__box
        margin: 0 5px 0 0

    &__number
        display: flex
        justify-content: center
        align-items: center
        position: relative
        line-height: 24px

    &__title
        font-size: 12px
        padding: 0 0 0 2px

    &__input
        border: 1px solid #aaa
        padding: 3px
        width: 53px
        font-size: 12px
        min-height: 24px

        &--long
            width: 100px

    &__textarea
        border: 1px solid #aaa
        padding: 3px
        width: 130px
        height: 24px


    &__bottom
        display: flex
        position: relative
        margin: 0 0 30px 0
        border-top: 1px solid #aaa
        &--2
            max-width: 894px
        &--3
            max-width: 690px

    &__add
        cursor: pointer
        margin: 0 5px 0 0
        width: 20px
        height: 20px
        display: flex
        justify-content: center
        align-items: center
        line-height: 1
        background: #ccc
        font-weight: 600
        padding: 3px 0 0 0
        transition-duration: 0.2s
        user-select: none
        &:hover
            opacity: 0.6

    &__remove
        cursor: pointer
        margin: 0 5px 0 0
        width: 20px
        height: 20px
        display: flex
        justify-content: center
        align-items: center
        line-height: 1
        background: #ccc
        font-weight: 600
        transition-duration: 0.2s
        user-select: none
        &:hover
            opacity: 0.6

    &__calculate
        margin: 20px 0 
        font-size: 14px
        text-transform: uppercase
        padding: 10px 15px
        background: #a4c9ff
        border-radius: 4px
        display: inline-block
        transition-duration: 0.2s
        user-select: none
        cursor: pointer
        &:hover
            opacity: 0.6

    &__total
        position: absolute
        right: 2px
        width: 100px
        height: 100%
        display: flex
        align-items: center
        background: #00000022
        padding: 0 3px
        font-weight: 600
        font-size: 12px