
.select
    position: relative
    width: 125px

    &__current
        position: relative
        user-select: none
        cursor: pointer
        padding: 3px 20px 3px 3px
        border: 1px solid #aaa
        overflow: hidden
        white-space: nowrap
        z-index: 10
        width: 125px
        height: 24px
        background: transparent

    &__arrow
        position: relative
        background: #fff
        z-index: 9

        &::before
            content: "▼"
            font-size: 12px
            line-height: 1
            position: absolute
            right: 1px
            top: 1px
            width: 22px
            height: 22px
            color: #333
            background: #fff
            display: flex
            justify-content: center
            align-items: center
            z-index: 9

        &--open

            &::before
                content: "▼"
                font-size: 12px
                line-height: 1
                position: absolute
                right: 1px
                top: 1px
                width: 22px
                height: 22px
                color: #aaa
                transform: rotate(180deg)
                display: flex
                justify-content: center
                align-items: center
                background: #fff
                z-index: 9

    &__list
        position: absolute
        min-width: 100%
        background: #fff
        z-index: 99
        display: none
        border: 1px solid #aaa
        //border-top: none
        margin: -1px 0 0 0
        padding: 6px 0
        overflow-y: scroll
        height: 150px

        &--open
            display: block

    &__li
        user-select: none
        cursor: pointer
        padding: 3px
        white-space: nowrap

        &:hover
            background: #eee
