@charset "UTF-8";
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  position: relative;
}

.space {
  width: 100%;
  position: relative;
  height: 80px;
}

.order {
  position: relative;
  width: 100%;
  max-width: 576px;
  background: #000 url("../img/3b.jpg");
  background-size: cover;
  margin: 0 auto 0 auto;
  min-height: 100vh;
  padding: 0;
}

.order--hidden {
  display: none;
}

.order__step {
  position: relative;
  height: 100vh;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  overflow: hidden;
}

.order__step--hide {
  display: none;
}

.order__top {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 140px;
  z-index: 99;
  padding: 20px 0 0 0;
}

.order__top--2 {
  height: 80px;
}

.order__top--3 {
  height: 140px;
}

.order__mid {
  position: relative;
  overflow-y: scroll;
  width: 100%;
  height: calc(100vh - 140px);
  padding: 0 10px;
}

.order__mid--2 {
  height: calc(100vh - 80px);
}

.order__mid--3 {
  height: calc( 100vh - 140px);
}

.order__back {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0px;
  top: 0px;
  background: url("../img/back.png") no-repeat;
  background-size: 26px 26px;
  background-position: 50% 50%;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  z-index: 199;
}

.order__back:active {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.order__head {
  position: relative;
  margin: 0 auto 20px auto;
  font-size: 18px;
  display: block;
  color: #fff;
  text-align: center;
}

.order__separator {
  width: 60%;
  height: 1px;
  position: relative;
  background: #fff;
  margin: 10px auto 10px auto;
}

.order__separator::after {
  content: "";
  display: block;
  position: absolute;
  top: -9px;
  left: -22px;
  background: url("../img/scissors.png");
  background-size: cover;
  width: 18px;
  height: 18px;
}

@media (min-width: 576px) {
  .order__separator::after {
    width: 24px;
    height: 24px;
    top: -12px;
    left: -32px;
  }
}

.order__separator::before {
  content: "";
  display: block;
  position: absolute;
  top: -9px;
  right: -22px;
  background: url("../img/scissors.png");
  background-size: cover;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 18px;
  height: 18px;
}

@media (min-width: 576px) {
  .order__separator::before {
    width: 24px;
    height: 24px;
    top: -12px;
    right: -32px;
  }
}

.order__where {
  position: relative;
  margin: 15px auto;
  color: #fff;
  font-size: 26px;
  text-align: center;
}

@media (min-width: 576px) {
  .order__where {
    font-size: 200%;
  }
}

.order__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px auto;
  padding: 10px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.order__wrap--hide {
  display: none;
}

.order__next {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 576px;
  margin: 0;
  height: 100px;
  background: #00000066;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order__btn {
  background: #df2100;
  color: #fff;
  width: 100%;
  max-width: 300px;
  height: 70px;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  -webkit-box-shadow: 0 2px 0 #790000;
          box-shadow: 0 2px 0 #790000;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0 50px;
  position: relative;
}

.order__btn:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.order__btn::before {
  content: "";
  position: absolute;
  right: 20px;
  top: 23px;
  width: 24px;
  height: 24px;
  background: url("../img/arrow.png");
  background-size: cover;
}

.place__radio {
  display: none;
}

.place__radio:checked + .place__card > .place__img {
  border: 5px solid #df2100;
}

.place__radio:checked + .place__card > .place__img::after {
  content: "";
  position: absolute;
  left: 88%;
  top: 0px;
  background: url("../img/sign.png");
  width: 24px;
  height: 24px;
  background-size: cover;
}

.place__card {
  width: 160px;
  position: relative;
  margin: 20px 10px;
}

.place__img {
  position: relative;
  width: 130px;
  height: 130px;
  background: #000 url("../img/place.jpg");
  background-size: cover;
  margin: 10px auto;
  border-radius: 100px;
  border: 5px solid #eee;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.place__title {
  color: #fff;
  text-align: center;
  margin: 5px auto;
}

.place__time {
  color: #777;
  text-align: center;
}

.switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: 30px auto 0 auto;
}

.switch__radio {
  display: none;
}

.switch__radio:checked + .switch__label {
  color: #fff;
  border-bottom: 4px solid #df2100;
}

.switch__label {
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  text-transform: uppercase;
  color: #aaa;
  text-align: center;
  position: relative;
  width: 50%;
  padding: 0 0 10px 0;
  border-bottom: 4px solid transparent;
}

.servs {
  position: relative;
  width: 100%;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.servs__header {
  font-size: 18px;
  text-align: center;
  margin: 70px auto 20px auto;
  text-transform: uppercase;
  color: #df2100;
  font-weight: 600;
}

.servs__check {
  display: none;
}

.servs__check:checked + .servs__label {
  background: #df2100;
}

.servs__check:checked + .servs__label > .servs__title {
  color: #fff;
}

.servs__check:checked + .servs__label > .servs__price {
  color: #ccc;
}

.servs__label {
  position: relative;
  background: #00000088;
  width: 31%;
  min-width: 100px;
  max-width: 140px;
  height: 80px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4px 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.servs__label:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.servs__title {
  position: relative;
  line-height: 1.2;
  color: #fff;
  font-size: 17px;
  text-align: center;
  margin: 0 0 6px 0;
}

.servs__price {
  position: relative;
  font-size: 16px;
  color: #aaa;
  text-align: center;
}

.person {
  position: relative;
  width: 100%;
  margin: 70px 0 20px 0;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.person--show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.person__radio {
  display: none;
}

.person__radio:checked + .person__label > .person__img {
  border: 4px solid #df2100;
}

.person__radio:checked + .person__label--any {
  border: 4px solid #df2100;
}

.person__label {
  position: relative;
  background: #00000088;
  width: 31%;
  height: 180px;
  min-width: 100px;
  max-width: 140px;
  padding: 5px 5px 20px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4px 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.person__label--any {
  position: relative;
  width: 100%;
  max-width: 576px;
  height: 90px;
  padding: 5px;
}

.person__label:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.person__img {
  width: 90px;
  height: 90px;
  background: #fff;
  border-radius: 100px;
  margin: 10px auto;
  border: 3px solid #eee;
}

.person__name {
  position: relative;
  line-height: 1.2;
  color: #fff;
  font-size: 17px;
  text-align: center;
  margin: 0 0 6px 0;
}

.person__prof {
  position: relative;
  font-size: 16px;
  color: #aaa;
  text-align: center;
}

.city {
  position: relative;
}

.city__current {
  position: relative;
  margin: 0 auto 14px auto;
  font-size: 140%;
  display: block;
  color: #fff;
  text-align: center;
  padding: 0 0 0 20px;
}

.city__current::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url("../img/map.png");
  background-size: cover;
  position: absolute;
  margin: 1px 0 0 -25px;
}

.city__list {
  background: #eee;
  position: absolute;
  width: 250px;
  left: 50%;
  margin: 0 0 0 -125px;
  z-index: 199;
  max-height: 300px;
  padding: 3px;
  -webkit-box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.2);
  display: none;
}

.city__radio {
  display: none;
}

.city__radio:checked + .city__li::before {
  content: "✔";
  font-size: 24px;
  position: absolute;
  left: 6px;
  line-height: 20px;
  color: #df2100;
}

.city__li {
  display: block;
  padding: 5px 0 5px 25px;
  margin: 1px 0;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.city__li--top {
  border-top: 1px solid #ccc;
}

.date {
  position: relative;
  display: none;
}

.date--show {
  display: block;
}

.date__header {
  font-size: 18px;
  text-align: center;
  margin: 50px auto 20px auto;
  text-transform: uppercase;
  color: #fff;
}

.date__radio {
  display: none;
}

.date__radio:checked + .date__hours {
  background: #df2100;
}

.date__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.date__hours {
  position: relative;
  background: #00000088;
  width: 19%;
  height: 40px;
  min-width: 40px;
  max-width: 70px;
  padding: 5px 5px 5px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4px 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  color: #fff;
}

.date__hours:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.next {
  position: absolute;
  width: 100%;
  height: 80px;
  background: #00000066;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
}

.next--show {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.next__btn {
  background: #df2100;
  color: #fff;
  width: 100%;
  max-width: 200px;
  height: 46px;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  -webkit-box-shadow: 0 2px 0 #790000;
          box-shadow: 0 2px 0 #790000;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0 20px;
  position: relative;
}

.next__btn:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.form {
  position: relative;
  display: none;
  background: #00000066;
  padding: 20px 10px;
}

.form--show {
  display: block;
}

.form__header {
  font-size: 18px;
  text-align: center;
  margin: 70px auto 20px auto;
  text-transform: uppercase;
  color: #fff;
}

.form__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #999;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 0;
}

.form__title {
  color: #999;
  text-transform: uppercase;
  font-size: 14px;
  width: 29%;
  position: relative;
}

.form__text {
  width: 65%;
  position: relative;
  font-size: 14px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__comment {
  width: 65%;
  position: relative;
  font-size: 14px;
  color: #fff;
  height: auto;
  background: transparent;
  border: none;
  outline: none;
}

.form__input {
  width: 65%;
  position: relative;
  font-size: 14px;
  color: #fff;
  background: transparent;
  border: none;
  outline: none;
}

.form__check {
  display: none;
}

.form__check:checked + .form__remind {
  background: #df2100;
  border: 1px solid #df2100;
  text-decoration: none;
  color: #fff;
}

.form__wrap {
  width: 65%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__remind {
  color: #999;
  font-size: 14px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 49%;
  padding: 5px 3px;
  border: 1px solid #999;
  border-radius: 4px;
  text-decoration: line-through;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.form__submit {
  display: block;
  margin: 70px auto 20px auto;
  border-radius: 50px;
  width: 100%;
  max-width: 260px;
  height: 52px;
  background: #df2100;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: none;
  outline: none;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.form__submit:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.account {
  position: relative;
  height: 100vh;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  overflow: hidden;
}

.account--hide {
  display: none;
}

.account__icon {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 0px;
  top: 0px;
  background: url("../img/lk.png") no-repeat;
  background-size: 26px 26px;
  background-position: 50% 50%;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  z-index: 199;
}

.account__icon:active {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.account__card {
  position: relative;
  margin: 10px auto;
  padding: 10px;
  background: #00000066;
}

.account__card--hide {
  display: none;
}

.account__head {
  color: #fff;
  font-size: 18px;
  padding: 12px 0;
  border-bottom: 1px solid #999;
}

.account__line {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #999;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0;
}

.account__title {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 29%;
  font-size: 14px;
  color: #999;
  position: relative;
  text-transform: uppercase;
}

.account__data {
  position: relative;
  font-size: 14px;
  color: #fff;
}

.account__cancel {
  margin: 20px auto 10px auto;
  font-size: 18px;
  text-transform: uppercase;
  color: #df2100;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  text-align: center;
}

.account__cancel:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.account__switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: 30px auto 0 auto;
}

.account__radio {
  display: none;
}

.account__radio:checked + .account__label {
  color: #fff;
  border-bottom: 4px solid #df2100;
}

.account__label {
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  text-transform: uppercase;
  color: #aaa;
  text-align: center;
  position: relative;
  width: 50%;
  padding: 0 0 10px 0;
  border-bottom: 4px solid transparent;
}

.picker {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0px auto 10px auto;
}

.picker__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px auto 10px auto;
}

.picker__daynum {
  display: none;
}

.picker__day {
  position: relative;
  width: 13%;
  color: #fff;
  text-align: center;
  color: #999;
  font-size: 13px;
}

.picker__radio {
  display: none;
}

.picker__radio:checked + .picker__label {
  background: #df2100;
}

.picker__label {
  position: relative;
  width: 13%;
  height: 55px;
  min-width: 39px;
  background: #00000066;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  margin: 5px 0;
}

.picker__label:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.picker__label--dis {
  color: #999;
}

.picker__label--dis:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.main {
  width: 100vw;
  height: 100vh;
  background: #0E163D url("../img/wall2.jpg") no-repeat;
  background-position: 50% 50%;
  background-size: auto 100%;
  padding: 10px 0 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  .main {
    background-size: 120% auto;
    background-position: 60% 50%;
  }
}

@media (max-width: 400px) {
  .main {
    padding: 10px 0 60px 0;
  }
}

.main--hidden {
  display: none;
}

.main__logo {
  position: relative;
  width: 100%;
  max-width: 300px;
  z-index: 99;
}

@media (max-width: 500px) {
  .main__logo {
    width: 80vw;
  }
}

@media (max-width: 450px) {
  .main__logo {
    width: 70vw;
  }
}

.main__btn {
  z-index: 99;
  width: 100%;
  max-width: 360px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1;
  height: 84px;
  margin: 0 auto;
  background: #df2100;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 22px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 50px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
}

@media (max-width: 600px) {
  .main__btn {
    font-size: 20px;
    max-width: 340px;
    height: 80px;
  }
}

@media (max-width: 450px) {
  .main__btn {
    width: 90%;
  }
}

@media (max-width: 370px) {
  .main__btn {
    width: 94%;
    font-size: 18px;
    height: 70px;
  }
}

.main__btn--span {
  margin: 0 9px 5px 9px;
}

@media (max-width: 370px) {
  .main__btn--span {
    margin: 0 5px 5px 5px;
  }
}

.main__btn--left {
  position: relative;
  height: 60%;
  margin: 0 0 5px 0;
}

.main__btn--right {
  position: relative;
  height: 60%;
  margin: 0 0 5px 0;
}

.main__btn:hover {
  background: #b11b00;
}

.main__btn:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main__gradient {
  display: none;
  z-index: 19;
  position: absolute;
  width: 100%;
  height: 20vh;
}

@media (max-width: 600px) {
  .main__gradient {
    display: block;
  }
}

@media (max-width: 400px) {
  .main__gradient {
    height: 35vh;
  }
}

.main__gradient--top {
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, #0f1841), to(rgba(15, 24, 65, 0)));
  background: linear-gradient(180deg, #0f1841 80%, rgba(15, 24, 65, 0) 100%);
}

.main__gradient--bot {
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(80%, #0f1841), to(rgba(15, 24, 65, 0)));
  background: linear-gradient(0deg, #0f1841 80%, rgba(15, 24, 65, 0) 100%);
}
/*# sourceMappingURL=main.css.map */