
    
    
    
h1 
    font-size: 44px
    line-height: 1.5
    text-align: center
    font-weight: 600
    width: 100%
    max-width: 1200px
    color: #ffffff
    display: block
    margin: 0 auto
    font-family: "roboto", sans-serif

h3 
    font-size: 50px
    line-height: 1.5
    text-align: center
    text-transform: uppercase
    font-weight: 600
    margin: 0 0 60px 0
    color: #ffffff
    padding: 0 5px

.p-36
    font-size: 36px
    color: #ffffff
    text-align: center
    margin: 0 0 20px 0
    font-weight: 600


.p-30
    font-size: 30px
    color: #ffffff
    text-align: center
    margin: 0 0 20px 0


.p-24
    font-size: 24px
    color: #ffffff
    text-align: center
    margin: 0

.t-gray
    color: #cbcbcb

.pad-10
    padding: 10px !important

@media (max-width: 1010px)
    h1 
        font-size: 30px
    h3 
        font-size: 36px
    .p-36
        font-size: 28px
    .p-30
        font-size: 24px
    .p-24
        font-size: 18px


@media (max-width: 480px)
    h1 
        font-size: 26px
    h3 
        font-size: 26px
    .p-36
        font-size: 24px
    .p-30
        font-size: 22px
    .p-24
        font-size: 16px

@media (max-width: 410px)
    h1 
        font-size: 24px
    h3 
        font-size: 24px
    .p-36
        font-size: 28px
    .p-30
        font-size: 20px
    .p-24
        font-size: 16px




.color--black
    color: #000000

.bg--white
    background: $bg3
    