
$text-0: 64px;
$text-1: 50px;
$text-2: 30px;
$text-3: 24px;
$text-4: 16px;

$bg1: rgba(16,10,15,0.80)
$bg2: #181721

$bg3: rgba(255,255,255, 0.75)




body 
    
    background: url(../img/bgend.jpg) #383838 no-repeat fixed center
    background-size: cover

//  (max-width: 1000px)
//     body
//         background: url(../img/bgend.jpg) no-repeat scroll center

body *
    box-sizing: border-box
    font-family: roboto, tahoma, sans-serif

// .fixed-bg
//     z-index: 1
//     background: url(../img/bgend.jpg) no-repeat center
//     width: 100vw
//     height: 100vh
//     position: fixed

.bred 
    border: 1px solid #ff0000

.bgred
    background: rgba(255,0,0,0.5)


.line
    width: 100%
    height: 1px
    // background: rgba(255,255,255,0.5)
    background: #444

.blank-space
    width: 100%
    margin: 30px 0

.posr
    position: relative

.iphone-issue
    background: #212529 !important

.fixed-bg
    background: url(../img/bgend.jpg) no-repeat fixed center
    background-size: cover
    position: fixed
    top: 0
    left: 0
    height: 150vh
    width: 150vw
    margin: -25vh 0 0 -25vw
    z-index: -1



@media (max-width: 600px) 
    body 
        background: #E5E5E5