.rk__tarif
    background: $bg3
    position: relative
    padding: 120px 0

    h3 
        color: #000
        font-size: $text-1
        font-weight: 600
        text-align: center
        text-transform: uppercase
        margin: 0 0 120px 0

    &__item
        background: rgba(#eee, 0.9)
        // border: 2px solid #2277ff
        border-radius: 5px
        max-width: 340px
        padding: 30px 0px 100px 0
        box-shadow: 0 15px 25px 4px rgba(#000000, 0.2)
        position: relative

        &__img1
            height: 200px
            background: url("../img/kosm2.png")
            background-size: cover
        &__img2
            height: 200px
            background: url("../img/capi2.png")
            background-size: cover
        &__img3
            height: 200px
            background: url("../img/prem.png")
            background-size: cover

        &__img1--kommerch
            height: 200px
            background: url("../img/komm-kosm2.png")
            background-size: cover
        &__img2--kommerch
            height: 200px
            background: url("../img/komm-capi2.png")
            background-size: cover
        &__img3--kommerch
            height: 200px
            background: url("../img/komm-prem.png")
            background-size: cover

        &__img1--doma
            height: 200px
            background: url("../img/dom-kosm.png")
            background-size: cover
        &__img2--doma
            height: 200px
            background: url("../img/dom-capi.png")
            background-size: cover
        &__img3--doma
            height: 200px
            background: url("../img/dom-prem.png")
            background-size: cover

        &__title
            color: #000
            font-weight: 600
            text-align: center
            font-size: $text-2
            margin: 0px 20px 30px 20px

        &__price
            font-size: $text-2
            color: #000
            text-align: center
            margin: 0 0 20px 0
            &--big 
                font-size: 60px

        &__list
            color: #000
            margin: 40px 30px
            font-size: 18px
            line-height: 1.5

        &__btn
            // position: absolute
            // bottom: 40px
            height: 55px
            width: 80%
            margin: 40px auto 20px auto
            // left: 10%
            background: linear-gradient(to top, #00770F, #00c116)
            color: #fff
            display: flex
            justify-content: center
            align-items: center
            font-size: 20px
            border-radius: 5px
            cursor: pointer
            transition-duration: 0.2s

        &__btn:hover
            background: linear-gradient(to top, #00A510, #00c116)
