.rk__materials
    padding: 120px 0 150px 0
    background: $bg3
    position: relative

    h3 
        color: #000
        font-size: $text-1
        font-weight: 600
        text-align: center
        text-transform: uppercase
        margin: 0 0 60px 0

    p
        color: #000
        font-size: $text-3
        text-align: center
        margin: 0 0 60px 0

    &__logo
        background: #fff
        width: 100%
        height: 150px
        margin: 20px 20px
        border-radius: 5px
        box-shadow: 0 15px 25px 4px rgba(#000000, 0.2)

    &__logo:nth-child(1)
        background: url("../img/logos/leroy.png")
        background-size: cover
        background-position: center

    &__logo:nth-child(2)
        background: url("../img/logos/vse.png")
        background-size: cover
        background-position: center

    &__logo:nth-child(3)
        background: url("../img/logos/obi.png")
        background-size: cover
        background-position: center

    &__logo:nth-child(4)
        background: url("../img/logos/dom.png")
        background-size: cover
        background-position: center

    &__logo:nth-child(5)
        background: url("../img/logos/petr.png")
        background-size: cover
        background-position: center

    &__logo:nth-child(6)
        background: url("../img/logos/cast.png")
        background-size: cover
        background-position: center

    &__btn
        margin: 100px auto 0 auto