.rk__gallery
    padding: 120px 0
    background: $bg3
    position: relative

    &__img
        cursor: pointer
        position: relative
//        &:hover:after
  //          content: ""
    //        width: 100%
      //      height: 100%
        //    position: absolute
          //  top: 0
            //left: 0
            //background: rgba(0,0,0,0.2)
