.tarif
    background: $bg1
    position: relative
    padding: 120px 0 20px 0

    &__item
        background: rgba(#222, 0.8)
        // border: 2px solid #2277ff
        border-radius: 5px
        max-width: 340px
        padding: 30px 0px 40px 0
        box-shadow: 0 15px 25px 4px rgba(#000000, 0.4)
        position: relative

        &__img1
            height: 200px
            background: url("../img/tarif_rk/kosm.jpg")
            background-size: cover
        &__img2
            height: 200px
            background: url("../img/tarif_rk/capi.jpg")
            background-size: cover
        &__img3
            height: 200px
            background: url("../img/tarif_rk/prem.jpg")
            background-size: cover

        &__img1--kommerch
            height: 200px
            background: url("../img/tarif_komm/komm-kosm2.png")
            background-size: cover
        &__img2--kommerch
            height: 200px
            background: url("../img/tarif_komm/komm-capi2.png")
            background-size: cover
        &__img3--kommerch
            height: 200px
            background: url("../img/tarif_komm/komm-prem.png")
            background-size: cover

        &__img1--doma
            height: 200px
            background: url("../img/tarif_rd/dom-kosm.png")
            background-size: cover
        &__img2--doma
            height: 200px
            background: url("../img/tarif_rd/dom-capi.png")
            background-size: cover
        &__img3--doma
            height: 200px
            background: url("../img/tarif_rd/dom-prem.png")
            background-size: cover

        &__img1--proekt
            height: 200px
            background: url("../img/tarif_dp/proekt2.png")
            background-size: cover
        &__img2--proekt
            height: 200px
            background: url("../img/tarif_dp/proekt1.png")
            background-size: cover
        &__img3--proekt
            height: 200px
            background: url("../img/tarif_dp/proekt3.png")
            background-size: cover

        &__price
            font-size: $text-2
            color: #fff
            text-align: center
            margin: 0 0 20px 0
            &--big 
                font-size: 60px

        &__list
            color: #fff
            margin: 40px 30px
            font-size: 18px
            line-height: 1.5

        &__btn
            // position: absolute
            // bottom: 40px
            height: 55px
            width: 80%
            margin: 40px auto 20px auto
            // left: 10%
            background: linear-gradient(to top, #00770F, #00c116)
            color: #fff
            display: flex
            justify-content: center
            align-items: center
            font-size: 20px
            border-radius: 5px
            cursor: pointer
            transition-duration: 0.2s
            animation: scale 3s ease 1s infinite
            overflow: hidden

            &:before
                content: ""
                display: block
                position: absolute
                top: -60%
                left: -20%
                background: #fff
                box-shadow: 0 0 15px 5px rgba(255,255,230,1)
                z-index: -1
                width: 35px
                height: 200%
                transform: rotate(25deg)
                animation: slide 4.5s ease 1.1s infinite

        &__btn:hover
            background: linear-gradient(to top, #00A510, #00c116)




@media (max-width: 490px)
    .tarif
        &__item
            &__price
                font-size: 24px
                &--big 
                    font-size: 46px
            &__list
                font-size: 16px