@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "futura", sans-serif;
}

body {
  position: relative;
}

.quiz {
  position: relative;
  width: 96%;
  max-width: 1160px;
  min-height: 700px;
  margin: 50px auto;
  background: #fff;
  padding: 30px 40px;
}

@media (max-width: 1200px) {
  .quiz {
    padding: 30px 20px;
  }
}

@media (max-width: 1100px) {
  .quiz {
    padding: 30px 0;
    width: 98%;
  }
}

@media (max-width: 1040px) {
  .quiz {
    padding: 30px 20px;
  }
}

@media (max-width: 640px) {
  .quiz {
    padding: 30px 0;
  }
}

.quiz__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 640px) {
  .quiz__flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.quiz__head {
  color: #000000;
  font-size: 42px;
  max-width: 600px;
  font-family: 'Futura',Arial,sans-serif;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 20px auto 60px auto;
  text-shadow: 0 0 1px #000;
}

@media (max-width: 700px) {
  .quiz__head {
    font-size: 34px;
  }
}

@media (max-width: 475px) {
  .quiz__head {
    font-size: 26px;
  }
}

@media (max-width: 410px) {
  .quiz__head {
    font-size: 24px;
  }
}

.quiz__step {
  min-width: 465px;
  margin: 20px 0 20px 0;
}

@media (max-width: 480px) {
  .quiz__step {
    min-width: 280px;
    width: 100%;
  }
}

.quiz__step--show {
  display: block;
}

.quiz__title {
  font-size: 24px;
  margin: 0 0 0px 0;
  font-weight: 400;
}

.quiz__title--temp {
  margin: 30px 0;
  max-width: 450px;
}

.quiz__title--bold {
  font-weight: 900;
}

.quiz__title--itog {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 24px;
}

.quiz__variants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 0;
}

@media (max-width: 640px) {
  .quiz__variants {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 480px) {
  .quiz__variants {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.quiz__variants--jcfs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.quiz__select {
  width: 120px;
  margin: 10px 15px 10px 0;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
  color: #333;
  font-size: 16px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 1100px) {
  .quiz__select {
    margin: 10px 8px 10px 0;
    width: 108px;
  }
}

@media (max-width: 480px) {
  .quiz__select {
    font-size: 12px;
  }
}

.quiz__select--last {
  margin: 10px 0;
}

.quiz__select--width {
  width: 140px;
}

@media (max-width: 480px) {
  .quiz__select--width {
    width: 98px;
  }
}

.quiz__select--small {
  width: 90px;
  height: 60px;
}

@media (max-width: 510px) {
  .quiz__select--small {
    width: 85px;
    height: 50px;
  }
}

.quiz__select:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.quiz__img {
  position: relative;
  width: 100%;
  border: 1px solid #B4B4B4;
  height: 80px;
  overflow: hidden;
  margin: 0 0 8px 0;
  border-radius: 12px;
}

.quiz__img img {
  position: relative;
  width: 100%;
}

@media (max-width: 480px) {
  .quiz__img--material {
    height: 50px;
  }
}

.quiz__digit {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #B4B4B4;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: 500;
}

.quiz__radio {
  display: none;
}

.quiz__radio:checked + .quiz__select > .quiz__img {
  border: 5px solid #7E1615;
}

.quiz__radio:checked + .quiz__select > .quiz__digit {
  border: 5px solid #7E1615;
}

.quiz__elements {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 0;
}

.quiz__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0 40px 0;
}

.quiz__again {
  width: 120px;
  height: 44px;
  background: #2079ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  border-radius: 6px;
  margin: 0 10px 0 0;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.quiz__again:hover {
  background: #7ba9ee;
}

.quiz__prev {
  width: 120px;
  height: 44px;
  border: 1px solid #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  border-radius: 6px;
  margin: 0 10px 0 0;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.quiz__prev:hover {
  background: #eee;
}

.quiz__next {
  width: 120px;
  height: 44px;
  background: #2079ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  border-radius: 6px;
  margin: 0 10px 0 0;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.quiz__next:hover {
  background: #7ba9ee;
}

.quiz__itog {
  margin: 50px auto 40px auto;
}

@media (max-width: 640px) {
  .quiz__itog {
    max-width: 482px;
  }
}

.quiz__itog--show {
  display: block;
}

.quiz__sorry {
  display: none;
  font-size: 20px;
  color: #2079ff;
  margin: 20px 0 0 0;
}

.quiz__sorry--show {
  display: block;
}

.quiz__error {
  font-size: 20px;
  color: #d33232;
  margin: 10px 0 0 0;
  display: none;
}

.quiz__error--show {
  display: block;
}

.item {
  position: relative;
  margin: 8px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  text-decoration: none;
  margin: 10px 20px 30px 0;
}

@media (max-width: 340px) {
  .item {
    width: 100%;
    margin: 10px 0 20px 0;
  }
}

.item--select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item__name {
  position: relative;
  border: 5px solid #7E1615;
  width: 190px;
  height: 100px;
  border-radius: 12px;
  font-size: 24px;
  color: #7E1615;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 640px) {
  .item__name {
    width: 146px;
    height: 73px;
    font-size: 19px;
  }
}

@media (max-width: 480px) {
  .item__name {
    width: 140px;
    height: 60px;
  }
}

.item__name::after {
  content: "Посмотреть козырек";
  font-size: 18px;
  color: #7E1615;
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  text-align: center;
}

@media (max-width: 640px) {
  .item__name::after {
    bottom: -50px;
    font-size: 16px;
    line-height: 1.1;
  }
}

.item__img {
  background: #000;
  width: 165px;
  height: 122px;
  border-radius: 20px;
  margin: 0 0 0 15px;
}

@media (max-width: 640px) {
  .item__img {
    width: 150px;
    height: 111px;
    margin: 0 0 0 10px;
  }
}
/*# sourceMappingURL=main.css.map */