




.calc
    position: relative
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: "Lato", sans-serif
    width: 100%
    max-width: 660px
    min-height: 300
    background: #eee
    padding: 30px 40px
    border-radius: 25px
    margin: 20px auto
    @media ( max-width: 470px )
        padding: 30px 15px
    @media ( max-width: 380px )
        padding: 30px 15px

    *
        position: relative
        padding: 0
        margin: 0
        box-sizing: border-box
        font-family: "Lato", sans-serif

    &__block
        padding: 0 20px
        @media ( max-width: 380px )
            padding: 0 5px


    &__text
        font-size: 14px
        color: #777
        @media ( max-width: 380px )
            font-size: 13px

        &--bold
            font-weight: 600
            font-size: 18px
            color: #000
            @media ( max-width: 380px )
                font-size: 16px
        &--margin
            margin: 0 10px 0 0
        &--title
            margin: 0 0 10px 0
        &--form
            font-size: 36px
            font-weight: 900
            color: #000
            margin: 0 0 30px 0

    &__smena
        font-size: 36px
        font-weight: 900
        color: #000

    &__line
        margin: 20px 0
        height: 1px
        background: #ccc
        width: 100%

    &__input
        height: 44px
        padding: 0 10px
        background: #fff
        font-size: 16px
        width: 100%
        max-width: 100px
        border: none
        border-radius: 6px
        outline: none
        text-align: center
        display: block
        @media ( max-width: 380px )
            max-width: 70px
        &--form
            background: #eee
            width: 100%
            max-width: 100%
            margin: 15px auto
            text-align: left

    &__select
        height: 44px
        padding: 0 10px
        background: #fff
        font-size: 16px
        width: 100%
        max-width: 260px
        border: none
        border-radius: 6px
        outline: none
        @media ( max-width: 380px )
            max-width: 180px
            font-size: 15px

    &__flex
        display: flex
        &--aic
            align-items: center
        &--jcsb
            justify-content: space-between

    &__economy
        color: #F77E21
        font-weight: 600

    &__slider
        width: 100%
        display: block
        margin: 0 0 0 20px
        

    &__scale
        display: flex
        justify-content: space-between
        font-size: 12px
        color: #777
        //position: absolute
        top: 10px
        //width: 101%

    &__btn
        background: #F77E21
        font-size: 16px
        color: #fff
        display: inline-flex
        justify-content: space-between
        margin: 30px 0 20px 0
        border-radius: 12px
        align-items: center
        transition-duration: 0.2s
        user-select: none
        cursor: pointer
        &:hover
            opacity: 0.8
        &:active
            opacity: 0.2

    &__price
        font-size: 26px
        font-weight: 600
        padding: 20px
        border-right: 1px solid #33333322

    &__zakaz
        padding: 20px
        text-align: center

    &__window
        position: absolute
        width: 100%
        height: 100%
        display: flex
        justify-content: center
        align-items: center
        top: 0
        left: 0
        transition-duration: 0.2s
        opacity: 0
        z-index: 9999
        transform: translateY(-100px) scale(0)
        &--open
            transform: translateY(0px) scale(1)
            opacity: 1

    &__form
        width: 100%
        max-width: 400px
        min-height: 300px
        background: #fff
        padding: 30px 60px 50px 60px
        border-radius: 25px
        box-shadow: 0 10px 30px 5px rgba(0,0,0,0.2)
        @media ( max-width: 470px )
            padding: 30px 30px 40px 30px
            border-radius: 15px

    &__submit
        background: #F77E21
        font-size: 16px
        color: #fff
        display: flex
        align-items: center
        justify-content: center
        margin: 30px 0 20px 0
        border-radius: 8px
        transition-duration: 0.2s
        user-select: none
        cursor: pointer
        width: 200px
        height: 50px
        border: none
        &:hover
            opacity: 0.8
        &:active
            opacity: 0.2

    &__check
        margin: 2px 0 0 0

    &__agree
        color: #aaa
        font-size: 13px
        max-width: 200px
        display: inline-block
        margin: 0 0 0 5px

    &__close
        position: absolute
        top: -10px
        right: -10px
        width: 40px
        height: 40px
        background: #F77E21
        border-radius: 8px
        cursor: pointer
        user-select: none
        color: #fff
        box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1)
        display: flex
        justify-content: center
        align-items: center
        font-size: 20px
        line-height: 20px
        padding: 0 0 1px 0
        @media ( max-width: 470px )
            top: 5px
            right: 5px
            box-shadow: none
            border-radius: 10px
        &:hover
            color: #ffffff77
        &:active
            color: #ffffff11





.ui-slider
    background: #fff !important
    height: 6px !important
    border: none !important
    border-radius: 0 !important

.ui-slider-range
    background: #F77E21 !important
    border-radius: 0 !important

.ui-slider-handle
    width: 24px !important
    height: 24px !important
    border-radius: 50px !important
    background: #fff !important
    border: 4px solid #F77E21 !important
    outline: none !important
    margin-top: -5px !important
    cursor: pointer !important
    box-shadow: 0 0px 10px 1px #5757574d
    // transition-duration: 0.05s

.ui-slider-handle:hover
    //box-shadow: 0 0px 2px 12px rgba(245,165,100,0.3)