

body
    position: relative
    background: #9e9e9e

.quiz
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: 'Circe', sans-serif
    position: relative

    *
        padding: 0
        margin: 0
        box-sizing: border-box
        font-family: 'Circe', sans-serif
        position: relative

    &__body
        transform-origin: top center
        width: 100%
        max-width: 1160px
        margin: 40px auto
        display: flex
        justify-content: space-between
        //background: #000
        @media ( max-width: 1040px )
            max-width: 900px
        @media ( max-width: 800px )
            max-width: 400px
            min-height: 90vh
            max-height: 760px

    &__left
        background: #fff
        width: 100%
        padding: 35px
        border-radius: 30px
        margin: 0 15px 0 0
        box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.09)
        overflow: hidden
        @media ( max-width: 1040px )
            margin: 0
        @media ( max-width: 800px )
            padding: 20px 10px

    &__right
        background: #EAE9E7
        width: 100%
        max-width: 286px
        border-radius: 30px
        box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.09)
        @media ( max-width: 1040px )
            display: none

    &__person
        margin: 10px 0 0 0
        position: absolute
        bottom: 55px
        img
            width: 100%

    &__name
        background: #FFFFFF
        box-shadow: 0px 1px 6px rgba(148, 148, 148, 0.25)
        border-radius: 7px
        position: absolute
        bottom: 190px
        right: -10px
        padding: 12px

    &__bottom
        width: 100%
        height: 170px
        background: #fff
        position: absolute
        bottom: 0
        left: 0
        border: 2px dashed #F17400
        border-radius: 30px
        padding: 20px 10px 20px 0

    &__progress
        width: 100%
        border-radius: 10px
        background: #F7F7F7
        height: 40px
        display: flex
        justify-content: center
        align-items: center
        font-size: 15px
        p
            z-index: 2

    &__text
        font-size: 15px
        &--gift
            padding: 0 20px
            margin: 0 0 20px 0
        &--blue
            margin: 5px 0 0 0
            color: #8567C3
            font-weight: 700
            line-height: 1.5
        &--name
            font-weight: 700
            font-size: 22px
            text-transform: uppercase
            color: #8567C3
            margin: 0 0 2px 0
        &--agreement
            @media ( max-width: 800px )
                text-align: center
                width: 100%
                padding: 0 10%

    &__flex
        display: flex
        &--jcsb
            justify-content: space-between
        &--size
            @media ( max-width: 800px )
                flex-wrap: wrap

    &__kitchen
        width: 50px
        width: 75px
        margin: 0 20px 0 0

    &__icon
        position: absolute
        width: 50px
        height: 50px
        right: 5px
        bottom: -5px

    &__bar
        display: block
        height: calc( 100% - 10px )
        top: 5px
        left: 5px
        position: absolute
        background: #FFA149
        border-radius: 7px
        background-image: repeating-linear-gradient(52deg, transparent, transparent 13px, #FF8E26 17px, #FF8E26 24px), linear-gradient(to top, #FFA149, #FFA149)
        border-radius: 8px
        transition: all 0.3s
        animation: progres 100s linear infinite
        z-index: 1

    &__step
        margin: 30px 0 0 0
        width: 100%
        min-height: 430px
        //display: none
        opacity: 0
        transform: scale(0) translateY(500px)
        transition-duration: 0.3s
        position: absolute
        @media ( max-width: 800px )
            height: 90%
            display: flex
            flex-direction: column
            align-items: center
            justify-content: space-between
            margin: 20px 0 0 0
        &--show
            position: relative
            opacity: 1
            transform: scale(1) translateY(0px)
        &--final
            @media ( max-width: 800px )
                justify-content: flex-start

    &__header
        font-size: 24px
        font-weight: 700
        margin: 0 0 10px 0
        @media ( max-width: 800px )
            font-size: 15px

    &__choice
        margin: 20px 0 0 0
        min-height: 260px
        @media ( max-width: 800px )
            margin: 0 0 0 0
        &--row
            display: flex
            justify-content: space-between
            flex-wrap: wrap
        &--row2
            display: flex
            justify-content: flex-start
            flex-wrap: wrap
            @media ( max-width: 800px )
                justify-content: space-between
        &--row3
            display: flex
            justify-content: flex-start
            min-height: 90px
            @media ( max-width: 800px )
                width: 100%
                justify-content: space-between
        &--size
            display: block
            //justify-content: space-between
            width: 100%
            @media ( max-width: 800px )
                display: flex
                justify-content: space-between
                flex-wrap: wrap
        
    &__label
        width: 23%
        max-height: 180px
        display: flex
        flex-wrap: wrap
        cursor: pointer
        margin: 10px 0
        margin-right: 2%
        user-select: none
        @media ( max-width: 800px )
            width: 48%
            margin: 10px 0
        &--100p
            width: 100%
            height: 50px
            align-items: center
            justify-content: center
        &--size
            width: 100%
            box-shadow: 0px 2px 10px rgba(209, 209, 209, 0.25)
            border-radius: 5px
            width: 100%
            margin: 5px 0 15px 0
            padding: 10px 25px 10px 50px
            max-height: 300px
        &--none
            padding: 0 0 30px 0
        &--summ
            @media ( max-width: 800px )
                width: 100%
                box-shadow: 0px 1.34831px 6.74157px rgba(209, 209, 209, 0.25)
                display: flex
                align-items: center
                padding: 0 15px
        // @media ( max-width: 800px )
        //     width: 31%
        

    &__line
        height: 64px
        display: flex
        align-items: center
        width: 100%

    &__input
        background: #F7F7F7
        border-radius: 5px
        height: 46px
        width: 100%
        //margin: 0 0 10px 0
        border: none
        font-size: 15px
        padding: 0 20px

    &__radio
        display: none
        &:checked + .quiz__picture
            border: 2px solid #ffa149
        &:checked ~ .quiz__dot
            background: #FFA149
        &:checked ~ .quiz__dot::after
            content: "✔"
            display: flex
            justify-content: center
            align-items: center
            font-size: 12px
        &:checked ~ .quiz__flex > .quiz__dot
            background: #FFA149
        &:checked ~ .quiz__flex > .quiz__dot::after
            content: "✔"
            display: flex
            justify-content: center
            align-items: center
            font-size: 12px

    &__dot
        width: 22px
        height: 22px
        background: #E5E5EA
        box-shadow: 0px 2px 6px rgba(102, 102, 102, 0.25)
        border-radius: 50px
        border: 4px solid #fff
        flex-shrink: 0
        &--check
            border-radius: 6px
        &--size
            position: absolute
            left: -30px

    &__title
        font-size: 15px
        line-height: 22px
        margin: 0 0 0 10px
        display: inline-block
        &--size
            margin: 0 15px 0 0
            white-space: nowrap

    &__picture
        width: 100%
        background: #F7F7F7
        height: 120px
        border-radius: 15px
        overflow: hidden
        border: 2px solid #F7F7F7
        margin: 0 0 15px 0
        @media ( max-width: 800px )
            margin: 0 0 10px 0
        img
            width: 100%
            height: 100%

    &__buttons
        margin: 10px 0 0 0
        display: flex
        justify-content: flex-end
        align-items: center
        width: 100%
        @media ( max-width: 800px )
            margin: 40px 0 0 0
        &--final
            justify-content: flex-start
            margin: 30px 0 0 0
            @media ( max-width: 800px )
                display: block


    &__back,
    &__return
        font-size: 20px
        background: #fff
        margin: 0 30px 0 0
        border: none
        cursor: pointer
        transition-duration: 0.3s
        color: #9E9E9E
        border-bottom: 2px solid #9E9E9E
        &:hover
            opacity: 0.5

    &__return
        @media ( max-width: 800px )
            margin: 20px auto
            display: block
        

    &__next,
    &__complete,
    &__getresult
        font-family: 'Bebas Neue Cyrillic', sans-serif
        font-style: normal
        font-weight: 400
        font-size: 24px
        color: #fff
        text-transform: uppercase
        width: 231px
        height: 66px
        background: linear-gradient(180deg, #FFA149 0%, #F17400 100%)
        border-radius: 10px
        border: none
        cursor: pointer
        transition-duration: 0.3s
        &:hover
            opacity: 0.8
        &--disabled
            opacity: 0.4
            &:hover
                opacity: 0.4

    &__getresult
        width: 30%
        height: 76px
        @media ( max-width: 800px )
            width: 84%
            margin: 0 8%

    &__note
        position: absolute
        right: 0
        width: 231px
        background: #fff
        padding: 6px
        text-align: center
        top: -45px
        border-radius: 6px
        box-shadow: 0 4px 10px 1px rgba(0,0,0,0.1)
        color: #555
        font-size: 15px
        display: none

    &__image
        max-width: 300px
        display: block
        margin: 20px 30px 0 0
        max-height: 250px
        @media ( max-width: 800px )
            width: 100%
            max-width: 600px
            margin: 0px 0 0 0

    &__type
        display: none
        &:checked + .quiz__connect > .quiz__backimg
            opacity: 1
        &:checked + .quiz__connect > .quiz__frontimg
            opacity: 0
            

    &__connect
        width: 11%
        margin: 0 1% 0 0
        cursor: pointer
        transition-duration: 0.3s
        @media ( max-width: 800px )
            width: 31%
        &:hover
            opacity: 0.8
        img
            width: 100%
            position: absolute
            top: 0
            left: 0

    &__frontimg
        transition-duration: 0.3s
        opacity: 1

    &__backimg
        transition-duration: 0.3s
        opacity: 0

    &__phone
        margin: 20px 0 0 0
        width: 35%
        height: 64px
        @media ( max-width: 800px )
            width: 100%
        input
            background: #F7F7F7
            height: 100%
            width: 100%
            border-radius: 5px
            border: none
            padding: 0 60px
            font-size: 16px
        &::before
            content: ""
            width: 22px
            height: 22px
            background: url("../img/call.svg") no-repeat
            background-size: cover
            position: absolute
            left: 19px
            top: 19px
            z-index: 99

    &__frame
        width: 36%
        margin: 0 0 0 30px
        @media ( max-width: 800px )
            width: 100%
            margin: 0
            display: flex
            flex-direction: column-reverse

    &__iphone
        position: absolute
        bottom: -40px
        right: 0%
        width: 52%
        @media ( max-width: 800px )
            width: 90%
            right: 5%

    &__descr
        @media ( max-width: 800px )
            margin: 0 0 10px 0
            width: 100%





@keyframes progres 
    from 
        background-position: 0 0, 0 0 
    to 
        background-position: 2000px 0, 0 0  

@keyframes blink 
    from 
        transform: scale(0)
        opacity: 1 
    50% 
        transform: scale(1)
        opacity: 0.8 
    to 
        transform: scale(2)
        opacity: 0  

@keyframes nxt 
    from 
        transform: translateX(-0.1rem) 
    to 
        transform: translateX(0.1rem)  