* {
  font-family: "CirceRounded", sans-serif;
  font-weight: 300;
  color: #333300;
}

body {
  overflow-x: hidden;
}

.mw1140 {
  max-width: 1140px;
}

.por {
  position: relative;
}

.g-title {
  font-size: 58px;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
}

.g-btn {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: #ff00ff77;
  height: 90px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 26px #dedede, inset 0 -4px 0 #67a926;
          box-shadow: 0 0 26px #dedede, inset 0 -4px 0 #67a926;
  border-radius: 45px;
  background-color: #71b62e;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#71b62e), to(#a3eb5c));
  background-image: linear-gradient(to top, #71b62e 0%, #a3eb5c 100%);
  font-size: 20px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 200;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.8), 0px 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.bg1 {
  background: #0000ff55;
}

.bg2 {
  background: #ff000055;
}

.bg3 {
  background: #00ff0055;
}

.some {
  width: 100%;
  height: 200px;
}

.header {
  width: 100%;
  height: 180px;
}

.header__content {
  width: 100%;
  height: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 52px 15px 23px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__content__logo {
  width: 290px;
  height: 105px;
}

.header__content__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 350px;
}

.header__content__menu__link {
  display: block;
  font-size: 20px;
  line-height: 35px;
  color: #333300;
}

.header__content__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__content__contacts__phone {
  text-align: center;
  font-size: 39px;
  font-weight: 900;
  line-height: 39px;
}

.header__content__contacts__messenger {
  font-size: 19px;
  text-align: center;
}

.header__content__contacts__messenger--viber {
  display: inline-block;
  color: #6721a7;
  font-weight: 500;
  text-decoration: underline;
}

.header__content__contacts__messenger--whatsapp {
  display: inline-block;
  color: #5aa814;
  font-weight: 500;
  text-decoration: underline;
}

.header__content__contacts__messenger--telegram {
  display: inline-block;
  color: #278cd3;
  font-weight: 500;
  text-decoration: underline;
}

.header__content__contacts__text {
  text-align: center;
  font-size: 19px;
}

.fst-screen {
  position: relative;
  margin: 65px 0 0 0;
}

.fst-screen__img {
  background: url("../img/main.png") no-repeat;
  background-size: cover;
  width: 1010px;
  height: 754px;
  position: absolute;
  top: -200px;
  right: -220px;
  z-index: -1;
}

.fst-screen__header {
  margin: 0 0 85px 0;
  text-align: left;
}

.fst-screen__goods {
  font-size: 25px;
  margin: 0 0 25px 45px;
  line-height: 1.2;
}

.fst-screen__goods::before {
  content: "";
  position: absolute;
  display: block;
  width: 28px;
  height: 28px;
  background: url("../img/icons/check.png") no-repeat;
  margin: -2px 0 0 -40px;
}

.fst-screen__btn {
  margin: 70px 0 70px 0;
}

.fst-screen__offer {
  padding: 18px 0;
  font-size: 25px;
  line-height: 1.1;
  margin: 70px 0 70px 0;
}

.about__title {
  margin: 80px 0 0 0;
}

.about__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 50px 0;
}

.about__img__point {
  position: absolute;
  width: 32px;
  height: 32px;
  border: 6px solid #333300;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 100px;
  cursor: pointer;
}

.about__img__point--hover {
  border: 6px solid #76bb32;
  background-color: rgba(255, 255, 255, 0.9);
}

.about__img__point1 {
  left: 214px;
  top: 385px;
}

.about__img__point2 {
  left: 222px;
  top: 290px;
}

.about__img__point3 {
  left: 262px;
  top: 217px;
}

.about__img__point4 {
  left: 390px;
  top: 170px;
}

.about__img__point5 {
  left: 535px;
  top: 180px;
}

.about__img__point6 {
  left: 690px;
  top: 140px;
}

.about__img__point7 {
  left: 750px;
  top: 190px;
}

.about__img__point8 {
  left: 740px;
  top: 290px;
}

.about__img__point9 {
  left: 803px;
  top: 380px;
}

.about__img__text {
  position: absolute;
  max-width: 190px;
  font-size: 15px;
  text-align: center;
  font-weight: 400;
  line-height: 1.3;
}

.about__img__text--hover {
  border-radius: 5px;
  background-color: #87ce42;
  color: #fff;
  font-weight: 300;
  padding: 5px;
}

.about__img__text1 {
  left: 60px;
  top: 380px;
  max-width: 140px;
}

.about__img__text2 {
  left: 25px;
  top: 250px;
}

.about__img__text3 {
  left: 102px;
  top: 175px;
  max-width: 155px;
}

.about__img__text4 {
  left: 250px;
  top: 80px;
}

.about__img__text5 {
  left: 460px;
  top: 80px;
  max-width: 170px;
}

.about__img__text6 {
  left: 650px;
  top: 70px;
}

.about__img__text7 {
  left: 795px;
  top: 155px;
}

.about__img__text8 {
  left: 830px;
  top: 270px;
}

.about__img__text9 {
  left: 860px;
  top: 385px;
}

.about__btn {
  margin: 40px 0 60px 0;
}

.about__offer {
  height: 90px;
  margin: 40px 0 60px 0;
  padding: 10px 0;
  text-align: center;
}

.about__offer__bold {
  font-size: 30px;
  line-height: 40px;
}

.about__offer__text {
  font-size: 25px;
  line-height: 30px;
}

.about__goods {
  margin: 20px 0 0 0;
  padding: 20px 10px 0 10px;
  width: 100%;
  height: 300px;
}

.about__goods__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__goods__small-img {
  width: 62px;
  height: 62px;
  background: #fff;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 30px;
  left: 60px;
  -webkit-box-shadow: 0 0 15px #ebebeb;
          box-shadow: 0 0 15px #ebebeb;
}

.about__goods__text {
  font-size: 20px;
  margin: 30px 0 0 0;
  text-align: center;
  line-height: 1.2;
}

.about__goods__text--small {
  font-size: 15px;
  margin: 10px 0 0 0;
}

.price__title {
  margin: 50px 0 30px 0;
}

.price__block {
  height: 688px;
  -webkit-box-shadow: 0 0 50px #ebebeb;
          box-shadow: 0 0 50px #ebebeb;
  border-radius: 25px;
  background: #fff;
  margin: 40px 0 0 0;
}
/*# sourceMappingURL=main.css.map */