@charset "UTF-8";
body {
  position: relative;
  background: #ddd;
}

.calc {
  position: relative;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative;
  width: 100%;
  max-width: 1440px;
  min-height: 300px;
  margin: 50px auto;
  background: #fff;
  padding: 50px 70px;
}

@media (max-width: 1180px) {
  .calc {
    padding: 50px 30px;
  }
}

@media (max-width: 450px) {
  .calc {
    padding: 50px 15px;
  }
}

.calc * {
  position: relative;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.calc__black {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #00000000;
  left: 0;
  top: 0;
  z-index: 99;
  display: none;
}

.calc__black--show {
  display: block;
}

.calc__head {
  font-size: 32px;
  font-weight: 600;
  margin: 0 0 20px 0;
}

@media (max-width: 730px) {
  .calc__head {
    max-width: 345px;
    margin: 0 auto 20px auto;
  }
}

@media (max-width: 360px) {
  .calc__head {
    font-size: 26px;
  }
}

.calc__head::before {
  content: "";
  height: 4px;
  background: #DF0000;
  position: absolute;
  bottom: -5px;
  left: 3px;
  width: 90px;
}

@media (max-width: 360px) {
  .calc__head::before {
    width: 70px;
  }
}

.calc__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px auto 40px auto;
}

@media (max-width: 1100px) {
  .calc__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.calc__left {
  width: 65%;
}

@media (max-width: 1100px) {
  .calc__left {
    width: 100%;
  }
}

.calc__right {
  width: 360px;
  padding: 0 35px;
}

@media (max-width: 1180px) {
  .calc__right {
    padding: 0 0 0 35px;
  }
}

@media (max-width: 1100px) {
  .calc__right {
    width: 100%;
    padding: 0;
  }
}

.calc__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 730px) {
  .calc__flex {
    max-width: 345px;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.calc__flex--aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calc__text {
  font-size: 18px;
}

@media (max-width: 360px) {
  .calc__text {
    font-size: 16px;
  }
}

@media (max-width: 330px) {
  .calc__text {
    max-width: 180px;
  }
}

.calc__text--result {
  text-align: center;
  font-weight: 600;
}

@media (max-width: 330px) {
  .calc__text--result {
    max-width: 600px;
    font-size: 18px;
  }
}

.calc__text--color {
  color: #DF0000;
}

.calc__result {
  font-size: 36px;
  margin: 40px auto;
  text-align: center;
}

@media (max-width: 440px) {
  .calc__result {
    margin: 30px auto;
  }
}

@media (max-width: 330px) {
  .calc__result {
    margin: 10px auto 20px auto;
  }
}

.calc__filial {
  margin: 0 15px;
  height: 32px;
  text-align: center;
  width: 90px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: rgba(198, 220, 238, 0.15);
  font-size: 16px;
}

@media (max-width: 730px) {
  .calc__filial {
    margin: 0;
  }
}

.calc__body {
  margin: 40px 0 40px 0;
}

@media (max-width: 730px) {
  .calc__body {
    max-width: 345px;
    margin: 40px auto;
  }
}

.calc__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #bbb;
  padding: 15px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 730px) {
  .calc__line {
    max-width: 345px;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.calc__line--add {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.calc__add {
  margin: 0 25px 0 0;
  width: 26px;
  height: 26px;
  background: #C6DCEE;
  border-radius: 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.calc__add:hover {
  background: #95b5cf;
}

.calc__delete {
  width: 22px;
  height: 22px;
  background: #DF0000;
  border-radius: 50px;
  cursor: pointer;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.calc__delete:hover {
  opacity: 0.5;
}

.calc__delete::after {
  content: "";
  width: 60%;
  background: #fff;
  position: absolute;
  height: 3px;
  border-radius: 20px;
  top: 50%;
  margin: -1.5px 0 0 -30%;
  left: 50%;
}

.calc__img {
  height: 30px;
  margin: 0 25px;
}

@media (max-width: 730px) {
  .calc__img {
    margin: 0 10px;
  }
}

@media (max-width: 450px) {
  .calc__img {
    height: 27px;
    max-width: 230px;
  }
}

@media (max-width: 360px) {
  .calc__img {
    max-width: 220px;
    margin: 0 5px 0 10px;
  }
}

@media (max-width: 330px) {
  .calc__img {
    max-width: 210px;
  }
}

.calc__tip {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (max-width: 730px) {
  .calc__tip {
    position: static;
  }
}

.calc__sign {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 20px;
  height: 20px;
  background: #FFD56B;
  border-radius: 30px;
  margin: 0 0 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.calc__sign:hover {
  background: #e4bb54;
}

.calc__sign:hover + .calc__fly {
  display: block;
}

.calc__fly {
  position: absolute;
  width: auto;
  white-space: nowrap;
  top: -8px;
  left: calc( 100% + 10px);
  background: #FFF6DD;
  z-index: 89;
  padding: 10px 5px;
  font-size: 10px;
  border-radius: 6px;
  border: 1px solid #a89d7d;
  display: none;
}

@media (max-width: 880px) {
  .calc__fly {
    width: 300px;
    white-space: normal;
    height: 42px;
    top: -11px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 730px) {
  .calc__fly {
    left: 0;
    width: 345px;
    height: 66px;
    top: 42px;
    padding: 20px 10px;
  }
}

@media (max-width: 375px) {
  .calc__fly {
    width: 100%;
    left: 0;
    top: 40px;
  }
}

.calc__fly--show {
  display: block;
}

@media (max-width: 880px) {
  .calc__fly--show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 730px) {
  .calc__fly--show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.calc__part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  min-width: 390px;
}

@media (max-width: 730px) {
  .calc__part {
    width: 345px;
    min-width: auto;
  }
}

.calc__part--first {
  padding: 0 0 0 45px;
}

@media (max-width: 730px) {
  .calc__part--first {
    padding: 0;
  }
}

.calc__head730 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
  width: 100%;
  margin: 10px 0 10px 0;
}

@media (max-width: 730px) {
  .calc__head730 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.calc__between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 730px) {
  .calc__between {
    width: 100%;
  }
}

@media (max-width: 730px) {
  .calc__between--first {
    display: none;
  }
}

.calc__plusminus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 120px;
  height: 34px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background: rgba(198, 220, 238, 0.15);
}

.calc__input {
  width: 60px;
  height: 100%;
  border: none;
  outline: none;
  text-align: center;
  font-size: 16px;
  background: rgba(198, 220, 238, 0.15);
}

.calc__plus, .calc__minus {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  font-size: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  font-weight: 300;
  -webkit-transition-duration: 0.2;
          transition-duration: 0.2;
  border-radius: 4px;
}

.calc__plus:hover, .calc__minus:hover {
  opacity: 0.4;
}

.calc__plus:active, .calc__minus:active {
  background: #ccc;
}

.calc__plus {
  font-size: 28px;
}

.calc__plus::before {
  content: "";
  display: block;
  position: absolute;
  background: #dedede;
  height: 60%;
  width: 1px;
  left: 0;
  top: 20%;
}

.calc__minus {
  padding: 0 0 2px 0;
}

.calc__minus::before {
  content: "";
  display: block;
  position: absolute;
  background: #dedede;
  height: 60%;
  width: 1px;
  right: 0;
  top: 20%;
}

.drop {
  overflow: hidden;
  z-index: 199;
  position: absolute;
  background: #fff;
  width: 100%;
  max-width: 380px;
  padding: 10px 10px;
  border-radius: 6px;
  border: 1px solid #bbb;
  top: 50%;
  margin: -13px 0 0 0;
  height: 160px;
  overflow-y: scroll;
  display: none;
}

@media (max-width: 730px) {
  .drop {
    max-width: 345px;
  }
}

.drop--show {
  display: block;
}

.drop__item {
  padding: 10px 0px 10px 40px;
  border-radius: 6px;
  cursor: pointer;
}

.drop__item:hover {
  background: #f3f3f3;
}

.drop__img {
  display: block;
  max-height: 31px;
}

.drop::-webkit-scrollbar {
  width: 20px;
  border-radius: 20px;
}

.drop::-webkit-scrollbar-track {
  border: 7px solid #fff;
  border-radius: 20px;
}

.drop::-webkit-scrollbar-thumb {
  background-color: #DF0000;
  border: 7px solid #fff;
  border-radius: 20px;
}

.form {
  max-width: 400px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 730px) {
  .form {
    max-width: 345px;
  }
}

.form__icon {
  position: relative;
}

.form__icon--mail::before {
  content: "✉";
  font-size: 20px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  margin: 3px 0 0 5px;
  color: #999;
}

.form__icon--phone::before {
  content: "+7";
  font-size: 16px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  margin: 5px 0 0 5px;
  color: #999;
}

.form__file {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 199;
  margin: -60px 0 0 10px;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}

.form__file:hover {
  opacity: 0.5;
}

.form__input {
  display: block;
  width: 100%;
  margin: 0 0 10px 0;
  height: 40px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: #00000005;
  font-size: 16px;
  padding: 0 10px 0 35px;
}

.form__comment {
  display: block;
  width: 100%;
  margin: 0 0 10px 0;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: #fcfcfc;
  font-size: 16px;
  height: 110px;
  padding: 10px;
}

.form__note {
  font-size: 12px;
  color: #999;
  text-align: center;
}

.form__submit {
  width: 100%;
  margin: 20px 0;
  display: block;
  height: 46px;
  background: #DF0000;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.form__submit:hover {
  opacity: 0.7;
}

.form__submit:active {
  opacity: 0.4;
}
/*# sourceMappingURL=main.css.map */