
.about

    &__title
        margin: 80px 0 0 0

    &__img
        position: relative
        display: flex
        justify-content: center
        margin: 0 0 50px 0
        // height: 537px
        // background: url("../img/about.png") no-repeat
        // background-size: contain
        // background-position: 50% 0
        img
            width: 100%

        &__point
            position: absolute
            width: 32px
            height: 32px
            border: 6px solid #333300
            background-color: rgba(255,255,255,0.7)
            border-radius: 100px
            cursor: pointer

            &--hover
                border: 6px solid #76bb32
                background-color: rgba(255,255,255,0.9)

            &1
                left: 10.5%
                top: 71%
            &2
                left: 11.5%
                top: 55%
            &3
                left: 14.5%
                top: 44%
            &4
                left: 32%
                top: 31%
            &5
                left: 47%
                top: 33%
            &6
                left: 64%
                top: 27%
            &7
                left: 71%
                top: 37%
            &8
                left: 71%
                top: 51%
            &9
                left: 76%
                top: 72%

        &__text
            position: absolute
            max-width: 190px
            font-size: 15px
            text-align: center
            font-weight: 400
            line-height: 1.3

            &--hover
                border-radius: 5px
                background-color: #87ce42
                color: #fff
                font-weight: 300
                padding: 5px
                opacity: 1 !important

            &1
                left: -3%
                top: 71%
                max-width: 140px
            &2
                left: -6%
                top: 52%
            &3
                left: 3%
                top: 39%
                max-width: 155px
            &4
                left: 15%
                top: 19%
            &5
                left: 41%
                top: 17%
                max-width: 170px
            &6
                left: 57%
                top: 15%
            &7
                left: 75%
                top: 30%
            &8
                left: 78%
                top: 48%
            &9
                left: 81%
                top: 69%

    &__btn
        margin: 40px 0 60px 0

    &__offer
        height: 90px
        margin: 40px 0 60px 0
        padding: 10px 0
        text-align: center

        &__bold
            font-size: 30px
            line-height: 40px

        &__text
            font-size: 25px
            line-height: 30px

    &__goods
        margin: 20px 0 0 0
        padding: 20px 10px 0 10px
        width: 100%
        height: 300px

        &__img
            position: relative
            display: flex
            justify-content: center

            &--small
                position: absolute
                top: -10px
                left: 50%
                margin: 0 0 0 -85px
                width: 62px
                height: 62px
                background: #fff
                border-radius: 100px
                display: flex
                justify-content: center
                align-items: center
                box-shadow: 0 0 15px #ebebeb

        &__text
            font-size: 19px
            max-width: 230px
            margin: 30px auto 0 auto
            text-align: center
            line-height: 1.2

            &--small
                font-size: 15px
                margin: 10px auto 0 auto


@media ( max-width: 1155px )
    .about
        &__img
            margin: 100px 0 50px 0

            &__point

            &__text
            
                &1
                    left: 50%
                    top: -50px
                    width: 220px
                    max-width: 220px
                    min-height: 60px
                    margin: 0 0 0 -110px
                    opacity: 0
                    display: flex
                    align-items: center
                    justify-content: center
                &2
                    left: 50%
                    top: -50px
                    width: 220px
                    max-width: 220px
                    min-height: 60px
                    margin: 0 0 0 -110px
                    opacity: 0
                    display: flex
                    align-items: center
                    justify-content: center
                &3
                    left: 50%
                    top: -50px
                    width: 220px
                    max-width: 220px
                    min-height: 60px
                    margin: 0 0 0 -110px
                    opacity: 0
                    display: flex
                    align-items: center
                    justify-content: center
                &4
                    left: 50%
                    top: -50px
                    width: 220px
                    max-width: 220px
                    min-height: 60px
                    margin: 0 0 0 -110px
                    opacity: 0
                    display: flex
                    align-items: center
                    justify-content: center
                &5
                    left: 50%
                    top: -50px
                    width: 220px
                    max-width: 220px
                    min-height: 60px
                    margin: 0 0 0 -110px
                    opacity: 0
                    display: flex
                    align-items: center
                    justify-content: center
                &6
                    left: 50%
                    top: -50px
                    width: 220px
                    max-width: 220px
                    min-height: 60px
                    margin: 0 0 0 -110px
                    opacity: 0
                    display: flex
                    align-items: center
                    justify-content: center
                &7
                    left: 50%
                    top: -50px
                    width: 220px
                    max-width: 220px
                    min-height: 60px
                    margin: 0 0 0 -110px
                    opacity: 0
                    display: flex
                    align-items: center
                    justify-content: center
                &8
                    left: 50%
                    top: -50px
                    width: 220px
                    max-width: 220px
                    min-height: 60px
                    margin: 0 0 0 -110px
                    opacity: 0
                    display: flex
                    align-items: center
                    justify-content: center
                &9
                    left: 50%
                    top: -50px
                    width: 220px
                    max-width: 220px
                    min-height: 60px
                    margin: 0 0 0 -110px
                    opacity: 0
                    display: flex
                    align-items: center
                    justify-content: center



@media ( max-width: 991px )
    .about
        &__btn
            margin: 10px 0 30px 0
        &__offer
            margin: 10px 0


@media ( max-width: 799px )
    .about
        &__img

            &__point
                width: 22px
                height: 22px
                border: 4px solid #333300

                &--hover
                    border: 4px solid #76bb32


@media ( max-width: 573px )
    .about
        &__offer
            height: auto

            &__bold
                font-size: 26px
                line-height: 40px

            &__text
                font-size: 20px
                line-height: 30px


@media ( max-width: 479px )
    .about

        &__img
            margin: 70px 0 20px 0

        &__offer
            height: auto

            &__bold
                font-size: 26px
                line-height: 1.2
                margin: 0 0 15px 0

            &__text
                font-size: 20px
                line-height: 1.2

        &__goods
            height: auto
            margin: 20px 0