

.form
    display: none
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    max-height: 100vh
    overflow: auto
    background: rgba(255, 255, 255, 0.95)
    z-index: 99
    padding: 50px 0

    &-callback
        display: none
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        max-height: 100vh
        overflow: auto
        background: rgba(255, 255, 255, 0.95)
        z-index: 99
        padding: 50px 0

        &::before
            content: ""
            display: block
            background: url("../img/green.png") no-repeat
            background-size: cover
            width: 100%
            height: 100%
            top: -0%
            position: absolute

    &::before
        content: ""
        display: block
        background: url("../img/green.png") no-repeat
        background-size: cover
        width: 100%
        height: 100%
        top: -0%
        position: absolute

    &__logo
        display: flex
        justify-content: center

        img
            width: 170px
            height: 62px

    &__close
        position: absolute
        top: 0
        right: 15px
        width: 58px
        height: 58px
        background: url("../img/icons/close.png") no-repeat
        background-size: cover
        cursor: pointer
        transition-duration: 0.2s

        &:hover
            opacity: 0.4

    &__text
        font-size: 42px
        text-align: center
        max-width: 800px
        line-height: 1.1
        margin: 60px auto 50px auto

        &--tnks
            margin: 110px auto

    &__input
        outline: none
        width: 100%
        height: 90px
        box-shadow: 0 0 26px #dedede
        border-radius: 45px
        border: 1px solid #e0e0e0
        background-color: #ffffff
        text-align: center
        font-size: 24px
        margin: 20px 0

    &__btn
        width: 360px
        margin: 20px auto

    &__note
        font-size: 15px
        text-align: center
        margin: 20px 0 60px 0

        a
            color: #333300
            border-bottom: 1px solid #333300
            line-height: 0.9
            transition-duration: 0.2s

            &:hover
                color: #67a926
                border-bottom: 1px solid #67a926
                text-decoration: none

    &__phone
        font-size: 44px
        font-weight: 900
        text-align: center
        line-height: 1
        margin: 30px 0


.form-tnks
    display: none
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    max-height: 100vh
    overflow: auto
    background: rgba(255, 255, 255, 0.95)
    z-index: 99
    padding: 7% 0





@media ( max-width: 768px )
    .form
        &__text
            font-size: 34px

@media ( max-width: 479px )
    .form
        &__logo
            justify-content: flex-start
        &__text
            font-size: 24px
        &__input
            height: 80px
            margin: 10px 0

        &__btn
            width: 100%
            font-size: 18px
        &__phone
            font-size: 30px
            margin: 10px 0