.vegetable
    position: absolute
    z-index: -1

    &--1 // красный перец слева
        left: 0
        margin: -50px 0 0 0
    &--2 // 3 томата на ветке справа
        right: -50px
        margin: -200px 0 0 0
    &--3 // большой желтый перец справа
        right: -50px
        margin: -950px 0 0 0
    &--4 // маленький зеленый перец справа
        right: 50px
        margin: -300px 0 0 0
    &--5 // капуста слева
        left: 0
        margin: -250px 0 0 0
    &--6 // цветок справа
        right: 0
        margin: -700px 0 0 0
    &--7 // огурцы слева
        left: 0
        margin: -500px 0 0 0


@media ( max-width: 1550px )
    .vegetable
        display: none