

.works

    &--hide
        display: none
        opacity: 0

    &__title
        margin: 70px 0 60px 0

    &__block
        height: 160px
        display: flex
        justify-content: center
        margin: 20px 0
        cursor: pointer


    &__more
        margin: 20px 0
        display: flex
        justify-content: center
        align-items: center

        &__link
            font-size: 20px
            line-height: 1
            border-bottom: 2px solid #333300
            display: inline-block
            cursor: pointer
            transition-duration: 0.2s

            &:hover
                color: #67a926
                border-bottom: 2px solid #67a926
                text-decoration: none