* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  position: relative;
  background: linear-gradient(107.56deg, #177998 0%, #1b2a47 100%) no-repeat;
}

#particle-canvas {
  width: 100%;
  height: 100vh;
  background: linear-gradient(107.56deg, #221f29 0%, #250055 100%);
  background: linear-gradient(102.73deg, #0a2a47 2.39%, #5a1c5a 95.4%);
  vertical-align: middle;
  position: fixed;
}

.dflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.space {
  position: relative;
  width: 100%;
  height: 700px;
}

.blackout {
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(111.43deg, #070029 6.3%, #460034 92.37%);
  z-index: 99;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(50%, #ffffffef), to(#ffffff));
  background: linear-gradient(to right, #ffffff 0%, #ffffffef 50%, #ffffff 100%);
  height: 50px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.06);
  z-index: 99;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
}

.side {
  position: fixed;
  left: 0;
  bottom: 0;
  background: #fff;
  -webkit-box-shadow: 0px -15px 20px 5px #00000066;
          box-shadow: 0px -15px 20px 5px #00000066;
  width: 100%;
  height: 50px;
  z-index: 29;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 30px 0 30px;
}

.side__name {
  font-family: "Gotham", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #111;
}

.side__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.side__link {
  display: block;
  font-family: "lato", sans-serif;
  margin: 0 10px;
  text-decoration: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  letter-spacing: 1px;
  font-weight: 400;
  padding: 14px 5px 14px 5px;
}

.side__link--wp {
  color: #06bd00;
}

.side__link--vk {
  color: #5175ec;
}

.side__link--tg {
  color: #30A7DA;
}

.side__link--kw {
  color: #ff7300;
}

.side__link:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  opacity: 0.4;
}

.side__blink {
  position: absolute;
  width: 40px;
  height: 80px;
  background: #00000077;
  -webkit-box-shadow: 0 0 10px 10px #00000077;
          box-shadow: 0 0 10px 10px #00000077;
  bottom: -20px;
  right: 25%;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.side__sale {
  position: absolute;
  bottom: -6px;
  left: 50%;
  margin: 0 0 0 -240px;
  background: url("../img/sale.png");
  width: 515px;
  height: 90px;
  background-size: cover;
}

.cases {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: linear-gradient(102.73deg, #103457aa 2.39%, #006a8aaa 95.4%);
  z-index: 9;
  padding: 60px 0 300px 0;
}

.cases__top {
  margin: 10px auto 60px auto;
  position: relative;
  width: 96%;
  color: #eee;
  text-shadow: 0 0 1px #eeeeee;
  text-align: center;
  font-size: 18px;
  font-family: "Gotham", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  z-index: 19;
}

.cases__top::before {
  content: "";
  position: absolute;
  display: block;
  width: 39%;
  height: 1px;
  background: #dedede;
  left: 0;
  top: 54%;
}

.cases__top::after {
  content: "";
  position: absolute;
  display: block;
  width: 39%;
  height: 1px;
  background: #dedede;
  right: 0;
  top: 54%;
}

.cases__content {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 19;
  padding: 0 40px;
}

.cases__card {
  position: relative;
  background: #fff;
  width: 96%;
  max-width: 450px;
  min-height: 170px;
  margin: 30px 40px;
  border-radius: 20px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 140px 20px 30px;
  text-decoration: none;
}

.cases__card::after {
  content: "";
  display: block;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0px 0 34px 34px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  width: 100%;
  height: 15px;
  bottom: 0;
  left: 0;
}

.cases__card:hover {
  -webkit-transform: translate(5px, -8px);
          transform: translate(5px, -8px);
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.1);
}

.cases__card:hover::after {
  opacity: 1;
}

.cases__card:hover > .dflex > .cases__card__link {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.cases__card:hover > .dflex > .cases__card__arrow {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.cases__card__name {
  font-size: 18px;
  letter-spacing: 0.5px;
  color: #222;
  font-family: "Gotham", sans-serif;
  margin: 0 0 8px 0;
  min-height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.cases__card__type {
  font-size: 15px;
  color: #aaa;
  font-family: "lato", sans-serif;
  margin: 0 0 8px 0;
  min-height: 38px;
}

.cases__card__specs {
  font-size: 15px;
  letter-spacing: 1px;
  margin: 0 0 18px 0;
  font-family: "lato", sans-serif;
  font-weight: 400;
}

.cases__card__specs--color1 {
  color: #EA00B6;
  text-shadow: 0 0 1px #EA00B6;
}

.cases__card__specs--color2 {
  color: #0094FF;
  text-shadow: 0 0 1px #0094FF;
}

.cases__card__specs--color3 {
  color: #00c093;
  text-shadow: 0 0 1px #00c093;
}

.cases__card__specs--color4 {
  color: #FF8D00;
  text-shadow: 0 0 1px #FF8D00;
}

.cases__card__specs--color5 {
  color: #365EDC;
  text-shadow: 0 0 1px #365EDC;
}

.cases__card__specs--color6 {
  color: #008a29;
  text-shadow: 0 0 1px #008a29;
}

.cases__card__specs--color7 {
  color: #e0ac00;
  text-shadow: 0 0 1px #e0ac00;
}

.cases__card__specs--span {
  margin: 0 4px 0 0;
}

.cases__card__link {
  font-size: 15px;
  letter-spacing: 1px;
  color: #222;
  font-family: "Gotham", sans-serif;
  text-transform: uppercase;
  opacity: 0.2;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  margin: 0 15px 0 0;
  text-shadow: 0 0 1px #44444477;
}

.cases__card__arrow {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.cases__card__img {
  position: absolute;
  right: 30px;
  top: 50%;
  margin: -45px 0 0 0;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0) rotate(15deg);
            transform: translateX(0) rotate(15deg);
  }
  10% {
    -webkit-transform: translateX(600px) rotate(15deg);
            transform: translateX(600px) rotate(15deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(600px) rotate(15deg);
            transform: translateX(600px) rotate(15deg);
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0) rotate(15deg);
            transform: translateX(0) rotate(15deg);
  }
  10% {
    -webkit-transform: translateX(600px) rotate(15deg);
            transform: translateX(600px) rotate(15deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(600px) rotate(15deg);
            transform: translateX(600px) rotate(15deg);
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */