

.goods
    position: relative
    padding: 0px 0 200px 0
    @media ( max-width: 850px )
        padding: 0 0 100px 0

    &__archon
        position: absolute
        top: -20px

    &__wrap
        position: relative
        margin: 0 auto
        height: 100%
        display: flex
        align-items: center
        justify-content: center
        flex-wrap: wrap

    &__card
        width: 260px
        height: 200px
        padding: 0 10px
        margin: 10px
        @media ( max-width: 569px )
            width: 200px
        @media ( max-width: 409px )
            margin: 5px 0
            width: 260px
            height: auto
            padding: 5px

    &__img
        display: block
        width: 70px
        height: 70px
        margin: 0 auto 20px auto
        opacity: 0.5

    &__text
        color: $blue-gray
        font-size: 16px
        text-align: center
        @media ( max-width: 569px )
            font-size: 14px
        @media ( max-width: 409px )
            font-size: 13px
